.home-nav-container {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  height: 150px;
  border-radius: 30px;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 66;
  transition: all var(--standart-tr-cubic);
}

.home-nav-container.scrolled {
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  border-color: var(--border-color);
}

.nav-list-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-logo-container {
  margin-right: 60px;
}

.nav-items-container {
  margin-left: auto;
}

.nav-list {
  display: flex;
}

.logo-nav {
  width: 100px;
  height: auto;
}

.nav-link {
  color: var(--light);
  font-size: var(--text-standart-font-size);
  padding: 20px;
  margin: 0 10px;
  position: relative;
  text-align: center;
  align-items: center;
  transition: var(--transition-cl), var(--transition-op);
  opacity: 0.8;
}

.nav-link.active {
  color: var(--accent-color);
  opacity: 1;
}

.nav-link:not(.active):is(:hover, :focus) {
  color: var(--blue);
  opacity: 1;
}

/* PRELOADER 🔺 */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 666;
  background: rgba(0, 0, 0, 0.6);
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  transition: all var(--standart-tr-cubic);
}

#preloader-logo {
  max-width: 700px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  animation: logoFade 3.5s forwards ease;
  /* 3.5s */

  position: absolute;
  z-index: 66;
}

@keyframes logoFade {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
  60% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.8;
  }
  100% {
    transform: translate(-50%, -130%) scale(0.3);
    opacity: 0.1;
  }
}

#preloader.hidden {
  display: none;
}
/*  🔺 / */

@media (max-width: 767px) {
  #preloader-logo {
    max-width: 300px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
}

/* MOB + TABLET adaptive css */
@media (max-width: 1024px) {
}

@media (min-width: 1025px) {
}
