.home-nav-container {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  max-width: 1200px;
  height: 150px;
  border-radius: 30px;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.1s ease;
  z-index: 66;
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  transition: all var(--standart-tr-cubic);
}

.home-nav-container.scrolled {
  border-color: var(--border-color);
}

.home-nav-container:hover {
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(40px);
}

.nav-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr) auto repeat(3, 1fr);
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 30px;
}

.logo-nav {
  width: 100px;
  height: auto;
  margin: 0 30px;
}

.nav-link {
  color: var(--light);
  font-size: var(--text-standart-font-size);
  padding: 20px 6px;
  position: relative;
  transition: var(--transition-cl), var(--transition-op);
  opacity: 0.8;
}

.nav-link.active {
  color: var(--accent-color);
  opacity: 1;
}

.nav-link:not(.active):is(:hover, :focus) {
  color: var(--blue);
  opacity: 1;
}

/* PRELOADER 🔺 */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 666;

  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);

  transition: all var(--standart-tr-cubic);
}

#preloader-logo {
  max-width: 700px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  animation: logoFade 3s forwards ease;  
  /* 3.5s */

  position: absolute;
  z-index: 66;
}

@keyframes logoFade {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
  30% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -135%) scale(0.3);
    opacity: 0.1;
  }
}

#preloader.hidden {
  opacity: 0;
  visibility: hidden;
}

#nav-logo {
  position: relative;
  z-index: 2;
  visibility: hidden;
  transition: visibility 0.3s ease-in;

  transition: visibility 0.3s ease-in, opacity 0.3s ease-in;
}
/*  🔺 / */
