.home-nav-container {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  height: clamp(80px, 5vw, 130px);
  border-radius: 30px;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 66;
  transition: all var(--standart-tr-cubic);
  padding: 0 clamp(10px, 5vw, 30px);
}

.home-nav-container.scrolled {
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  border-color: rgba(255, 255, 255, 0.1);
  max-width: 90%;
}

.nav-list-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.nav-logo-container {
  flex-shrink: 0;
}

.nav-items-container {
  margin-left: auto;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo-nav {
  width: 80px;
  height: auto;
  transition: all var(--standart-tr-cubic);
}

.logo-nav:is(:hover, :focus) {
  transform: scale(1.02);
  filter: drop-shadow(0 0 10px rgba(32, 243, 221, 0.4))
    drop-shadow(0 0 14px rgba(32, 243, 221, 0.3));
}

.nav-link {
  position: relative;
  text-transform: uppercase;
  color: var(--light);
  font-size: clamp(14px, 5vw, 18px);
  font-weight: 400;
  padding: 10px clamp(16px, 5vw, 26px);
  text-align: center;
  transition: all var(--standart-tr-cubic);
}

.nav-link::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 2px;
  background: var(--light);
  transition: all var(--standart-tr-cubic);
  transform: translateX(-50%);
}

.nav-link:not(.active):is(:hover, :focus) {
  background: linear-gradient(
    300deg,
    #ffc107 10%,
    #e83e8c 40%,
    #007bff 70%,
    #20f3dd 90%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: var(--accent-color);
}

.nav-link:not(.active):is(:hover, :focus)::after {
  width: 10%;
}

.nav-link.active {
  background: linear-gradient(
    300deg,
    #ffc107 10%,
    #e83e8c 40%,
    #007bff 70%,
    #20f3dd 90%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: var(--accent-color);
}

/* 🍔 */
.burger {
  display: none;
  cursor: pointer;
  margin: auto 0 auto;
  color: var(--light);
}
.burger-icon {
  width: 70px;
  height: 70px;
  color: var(--light);
  fill: var(--light);
  opacity: 0.9;
  margin: 0;
}

@media (max-width: 767px) {
  .logo-nav,
  .burger-icon {
    display: flex;
    vertical-align: middle;
    object-fit: contain;
  }
  .logo-nav,
  .burger-icon {
    width: 40px;
    height: 40px;
  }
  .burger {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .burger-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 10px 0;
  }
  .nav-items-container {
    display: none;
    flex-direction: column;
    width: 100%;
  }
  .home-nav-container.expanded {
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    border-color: rgba(255, 255, 255, 0.1);
    border-radius: 30px;
    /* min-height: 240px; */
    min-height: 50%;
    max-width: 90%;
    margin-top: 10px;
    flex-direction: column;
    align-items: center;
    transition: all var(--standart-tr-cubic);
  }
  .home-nav-container.expanded .nav-items-container {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 30px;
  }
  .home-nav-container.expanded .nav-list-container {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .nav-list {
    flex-direction: column;
    gap: 30px;
  }
  .nav-link {
    font-size: clamp(20px, 5vw, 30px);
  }
  .home-nav-container.scrolled {
    max-width: 90%;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .home-nav-container {
    max-width: 900px;
  }
  .nav-list {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    margin-left: 20px;
  }
  .nav-link {
    font-size: 10px;
    padding: 10px 5px;
  }
  .logo-nav {
    width: 30px;
  }
}
@media (max-width: 1220px) {
  .home-nav-container {
    max-width: 1200px;
    padding: 10px;
  }
  .nav-link {
    font-size: clamp(12px, 5vw, 16px);
    padding: 10px clamp(10px, 5vw, 16px);
  }
  .logo-nav {
    width: 60px;
  }
}

/* 🔺 PRELOADER */
#preloader {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 666;
  background: var(--bgc);
  transition: all var(--standart-tr-cubic);
}

#preloader-logo {
  max-width: 60%;
  height: auto;
}

@keyframes logoFadeOut {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.9);
  }
}

#preloader.fade-out {
  opacity: 0;
  pointer-events: none;
}

#preloader.hidden {
  display: none;
}

@media (max-width: 767px) {
  #preloader-logo {
    max-width: 80%;
  }
}
