.team-section {
  padding-top: 80px;
  position: relative;
  z-index: 1;
}

.team-wrap {
  display: flex;
  gap: 90px;
  align-items: start;
}

.team-title {
  text-align: left;
  font-size: 50px;
  font-weight: var(--title-standart-font-weight);
  line-height: var(--text-standart-line-height);
  color: var(--light);
  margin: 0;
  min-width: 300px;
}

.team-title-accent {
  background: linear-gradient(
    300deg,
    #007bff 10%,
    #6610f2 40%,
    #6f42c1 50%,
    #e83e8c 90%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
}

.team-text {
  font-size: 30px;
  font-weight: 300;
  line-height: var(--text-standart-line-height);
  text-transform: uppercase;
  color: var(--light);
}

.team-subtext {
  text-align: left;
  font-size: 24px;
  font-weight: 200;
  line-height: var(--text-standart-line-height);
}

.team-subtext span {
  color: var(--pink);
  font-weight: 500;
}

.team-video-wrapp {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 60px;
}

.team-wrapper {
  display: flex;
  align-items: start;
}

.team-list {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 10px;
}

.advantage {
  font-size: 50px;
  font-weight: var(--title-standart-font-weight);
  line-height: var(--text-standart-line-height);
  color: var(--light);
  opacity: 0.9;
  transition: all var(--standart-tr-cubic);
  padding: 8px;
}

.advantage.active {
  opacity: 1;
  transform: scale(1.1);
  background: linear-gradient(99.05deg, #bc3cd8 0.07%, #c54b8c 106.32%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.video-team,
.video-shadow,
#video-based {
  display: block;
}

.video-team {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 100%;
  min-height: 500px;
  pointer-events: none;
  margin-left: auto;
}

#video-team {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

/* MOB + TABLET adaptive css */
@media (max-width: 1024px) {
  .team-section {
    padding-top: 60px;
  }
  .team-title {
    text-align: center;
    font-size: var(--mob-title-font-size);
    margin-bottom: 30px;
  }
  .team-wrap {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .team-content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .team-description {
    margin-left: 0;
  }
  .team-text {
    font-size: 30px;
    text-align: center;
    max-width: 600px;
    margin-left: 0;
  }
  .team-content {
    align-items: center;
    gap: 30px;
  }
  .team-bg-img {
    display: none;
  }
  .team-subtext {
    text-align: center;
    font-size: var(--text-standart-font-size);
    margin: 30px auto 0;
  }
  .team-text-wrap {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .team-list {
    gap: 10px;
  }
  .advantage {
    font-size: 30px;
  }
}
