.prices-container > h4 {
  background: linear-gradient(300deg, #dc3545 75%, #ffc107 95%, #fd7e14 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.prices-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: clamp(12px, 5vw, 20px);
  padding: 0;
  margin: 10px auto;
  align-items: stretch;
}

.prices-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  color: var(--light-opacity);
  border-radius: 12px;
  border: 1px solid transparent;
  background-color: var(--bgc-grey);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  padding: 10px;
  transition: all var(--standart-tr-cubic);
  animation: gradientFlow 5s infinite linear;
}

.prices-item-container {
  display: flex;
  flex-direction: column;
  gap: clamp(12px, 5vw, 20px);
  height: 100%;
}

.service-name {
  font-weight: 600;
  font-size: clamp(20px, 5vw, 26px);
  text-align: center;
  background: linear-gradient(300deg, #ffc107 20%, #fd7e14 50%, #dc3545 80%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.prices-line {
  border: none;
  background-color: var(--border-color);
  width: 100%;
  height: 1px;
  margin: 0;
}

.description-container {
  color: var(--yellow);
  font-weight: 400;
  font-size: clamp(16px, 7vw, 20px);
}

.service-description,
.price {
  text-align: center;
  letter-spacing: -0.02em;
  line-height: 1;
}

.service-description {
  color: var(--yellow);
}

.price {
  font-weight: 500;
  font-size: clamp(16px, 7vw, 20px);
  color: var(--light);
}

.features-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-bottom: clamp(10px, 5vw, 30px);
}

.about-service {
  text-align: center;
  line-height: var(--text-standart-line-height);
  font-size: 18px;
  font-weight: 400;
}

.order-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: auto;
  gap: 10px;
}

/* MOB adaptive css */
@media (max-width: 767px) {
  .prices-container > h4 {
    text-align: center;
    background: linear-gradient(300deg, #dc3545 40%, #ffc107 70%, #fd7e14 90%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

/* TABLET adaptive css */
@media (max-width: 1220px) {
  .prices-list {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 16px;
    padding: 10px;
    scroll-snap-type: x mandatory;
  }
  .prices-item {
    flex: 0 0 30%;
    scroll-snap-align: center;
    min-width: clamp(170px, 7vw, 200px);
  }
}
