.career-section {
  padding-top: clamp(60px, 5vw, 112px);
}

.career-container {
  overflow: hidden;
  z-index: 2;
}

.career-container > h5 {
  z-index: 3;
  text-align: center;
  background: linear-gradient(
    300deg,
    #f8f9fa 0%,
    #20f3dd 20%,
    #17a2b8 50%,
    #007bff 60%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.position-wrapper-career {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.career-bg-img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 70%;
  height: 70%;
  background-image: url('/images/logo/icononly-transp.png');
  background-position: bottom right;
  background-size: contain;
  background-repeat: no-repeat;
  pointer-events: none;
  opacity: 0.8;
  z-index: -1;
}

.career-flex-wrap {
  display: flex;
  gap: clamp(20px, 5vw, 40px);
  justify-content: space-between;
  flex-direction: column;
}

.career-text-accent {
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: var(--text-standart-line-height);
  padding-top: 10px;
  text-transform: uppercase;
  max-width: 800px;
}

.address-career {
  font-weight: 500;
  color: var(--neon);
  line-height: var(--text-standart-line-height);
  transition: var(--transition-cl);
}

.address-career:is(:hover, :focus) {
  color: var(--blue);
}

.career-subtext {
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0.06em;
  color: var(--light);
  font-size: clamp(18px, 5vw, 24px);
}

.bottom-career-wrap {
  margin: auto auto 0 0;
  display: flex;
  align-items: flex-start;
  gap: 12px;
  padding-bottom: 10px;
  max-width: clamp(700px, 5vw, 900px);
}

.text-career {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: clamp(18px, 5vw, 20px);
  padding: clamp(12px, 5vw, 20px);
  line-height: var(--text-standart-line-height);
  font-weight: var(--text-standart-font-weight);
  text-align: center;
  border-radius: 12px;
  max-width: clamp(400px, 5vw, 500px);
  border: 1px solid transparent;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  animation: gradientFlow 5s infinite linear;
}

.text-career-left {
  background: linear-gradient(
    300deg,
    #f8f9fa 20%,
    #20f3dd 40%,
    #17a2b8 60%,
    #007bff 90%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-career-right {
  background: linear-gradient(
    300deg,
    #007bff 20%,
    #17a2b8 40%,
    #20f3dd 60%,
    #f8f9fa 90%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* MOB + TABLET adaptive css */
@media (max-width: 1024px) {
  .career-container > h5 {
    text-align: center;
  }
  .career-text-accent {
    padding-top: 0px;
    margin: 0 auto;
    max-width: none;
  }
  .bottom-career-wrap {
    margin: 0 auto;
  }
  .career-bg-img {
    display: none;
  }
  /* .career-subtext {
  font-size: clamp(18px, 5vw, 24px);
} */
}
