.products-section {
  list-style-type: none;
  -webkit-mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 12.5%,
    rgba(0, 0, 0, 1) 87.5%,
    rgba(0, 0, 0, 0) 100%
  );
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,
    rgb(0, 0, 0) 12.5%,
    rgb(0, 0, 0) 87.5%,
    rgba(0, 0, 0, 0) 100%
  );
  overflow: hidden;
  z-index: 2;
}

.products-title-container > h3 {
  text-align: right;
  background: linear-gradient(300deg, #fd7e14 8%, #ffc107 15%, #007bff 55%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.products-list-container {
  position: relative;
  width: 100%;
}

.products-wrap {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  position: relative;
  rotate: -5deg;
  margin-top: clamp(50px, 5vw, 80px);
  margin-bottom: clamp(50px, 5vw, 80px);
}

.products-row {
  display: flex;
  gap: 20px;

  white-space: nowrap;
  height: clamp(60px, 5vw, 80px);
}

@keyframes scroll-row {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.products-list {
  display: flex;
  position: relative;
  transition: transform 0.1s linear;
  will-change: transform;
}

.products-item {
  flex-shrink: 0;
  width: clamp(60px, 5vw, 80px);
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 0px 0px;
  opacity: 1;
  will-change: transform;
  transform: none;
}

.products-item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 12px;
  opacity: 0;
  transform: scale(0.95);
  
  /* will-change: opacity, transform; */

  transition: transform var(--standart-tr-cubic),
    filter var(--standart-tr-cubic), opacity var(--standart-tr-cubic);
}

.products-item img:is(:hover, :focus) {
  opacity: 1 !important;
  transform: scale(1.08);
  filter: var(--filter);
}

/* MOB adaptive css */
@media (max-width: 767px) {
  .products-title-container > h3 {
    text-align: center;
    background: linear-gradient(300deg, #fd7e14 30%, #ffc107 40%, #007bff 70%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
