.based-on-container > h2 {
  text-align: center;
  background: linear-gradient(330deg, #6610f2 30%, #007bff 40%, #20f3dd 60%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.based-on-section {
  background-color: var(--bgc);
  z-index: 2;
}

.video-wrapper {
  position: relative;
  overflow: hidden;
}

.based-on-list-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  padding: 10px;
  background-color: var(--bgc);
  box-shadow: 0 20px 40px rgba(5, 11, 23, 0.8);
}

.video-wrap-based,
.video-shadow,
#video-based {
  display: block;
}

.video-wrap-based {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

#video-based {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.based-on-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}

.based-on-title {
  text-align: left;
  margin-right: auto;
  font-size: 30px;
  font-weight: var(--text-standart-font-weight);
  opacity: 1;

  transition: all var(--standart-tr-cubic);
}

.based-on-info {
  font-size: var(--text-standart-font-size);
  font-weight: var(--text-standart-font-weight);
  opacity: 0;
  transition: all var(--standart-tr-cubic);
  flex-grow: 1;

  color: var(--light);
}

.based-on-item {
  width: calc(33.33% - 20px);
  height: 280px;
  padding: 30px;
  border-radius: 12px;
  color: rgba(248, 249, 250, 0.9);
  transition: all var(--standart-tr-cubic);
  border: 1px solid transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  cursor: pointer;

  position: relative;
  z-index: 2;
  background: transparent;
  transition: all var(--standart-tr-cubic);

  animation: gradientFlow 5s infinite linear;
}

.based-on-item:nth-child(1):hover {
  background-color: var(--orange);
}

.based-on-item:nth-child(2):hover {
  background-color: var(--accent-secondary);
}

.based-on-item:nth-child(3):hover {
  background-color: var(--accent-color);
}

.based-on-item:nth-child(4):hover {
  background-color: var(--red);
}

.based-on-item:nth-child(5):hover {
  background-color: var(--purple);
}

.based-on-item:nth-child(6):hover {
  background-color: var(--blue);
}

.based-on-item:hover .based-on-info {
  opacity: 1;
  z-index: 2;
}

.based-on-item:hover .based-on-title {
  opacity: 0;
  display: none;
}

.based-on-item:hover .based-on-info {
  opacity: 1;
}

/* MOB adaptive css */
@media (max-width: 767px) {
  .based-on-container > h2 {
    font-size: 40px;
    margin-bottom: var(--mob-margin-title);
  }
  .based-on-list-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 20px;
  }
  .based-on-item {
    width: 340px;
    max-width: none;
    min-width: none;
    margin: 0 auto;
    padding: 20px;
  }
  .based-on-title {
    font-size: 26px;
  }
  .video-wrap-based,
  .video-shadow,
  #video-based {
    display: none;
  }
}

/* MOB + TABLET adaptive css */
@media (max-width: 1024px) {
  .based-on-list-container {
    gap: 10px;
  }
}

/* TABLET adaptive css */
@media (min-width: 768px) and (max-width: 1024px) {
  .based-on-title {
    font-size: 30px;
  }
  .based-on-item {
    width: calc(50% - 10px);
  }
}
