.partner-section {
  padding-bottom: 60px;
  z-index: 1;
}

.partner-title {
  font-size: 72px;
  font-weight: var(--title-standart-font-weight);
  line-height: var(--text-standart-line-height);
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 30px;
  z-index: 2;
  color: var(--light);
}

.partner-title-left {
  background: linear-gradient(330deg, #e83e8c 20%, #dc3545 40%, #fd7e14 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.partner-title-right {
  background: linear-gradient(330deg, #fd7e14 30%, #dc3545 60%, #e83e8c 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.partner-title-wrap {
  display: flex;
  z-index: 2;
}

.partner-title-container {
  display: inline-block;
  text-align: left;
  z-index: 2;
}

.partner-text {
  font-size: 30px;
  line-height: var(--text-standart-line-height);
  font-weight: 200;
  max-width: 620px;
  margin: 0;
  z-index: 2;
}

.partner-link-pc {
  display: block;
}

.partner-link-address.partner-link-mob {
  display: none;
}

.partner-link-address {
  font-style: normal;
  border-radius: 180px;
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 10px 0 0 auto;
  z-index: 2;
  cursor: pointer;

  backdrop-filter: blur(3px);
  font-size: 30px;
  line-height: var(--text-standart-line-height);
  font-weight: var(--text-standart-font-weight);
  padding: 30px;

  transition: var(--transition-cl);
  animation: combinedEffect 3s infinite ease-in-out;
}

.partner-link {
  transition: var(--transition-cl);
  color: rgba(248, 249, 250, 0.9);
}

.partner-link-address:is(:hover, :focus) .partner-link {
  color: rgba(232, 62, 140, 0.9);
}

/* LIST */
.partner-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto auto;
  gap: 16px;
  padding: 0 0 20px 0;
  width: 100%;
  max-width: 1200px;

  /* color: var(--red); */
  background: linear-gradient(
    330deg,
    #e83e8c 10%,
    #dc3545 30%,
    #fd7e14 80%,
    #ffc107 90%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.partner-list-wrap {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.partner-item {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  padding: 10px;
  line-height: var(--text-standart-line-height);
  font-weight: var(--text-standart-font-weight);
  text-align: center;
  border-radius: 30px;
  height: 140px;
  background: transparent;
  border: 1px solid transparent;

  transition: var(--transition-bg);
  animation: gradientFlow 3s infinite linear;
}

.partner-item:nth-child(5),
.partner-item:nth-child(6) {
  grid-column: span 2;
}
