.prices-section {
  padding-bottom: var(--padding-section);
  position: relative;
  z-index: 1;
}

/* reverse */
/* .prices-bg-images {
  position: absolute;
  right: 0;
  bottom: -10%;
  width: 110%;
  height: 110%;
  background-image: url('/images/bg-img-21-reverse.png');
  background-position: bottom right;
  background-size: contain;
  background-repeat: no-repeat;
  pointer-events: none;
  opacity: 0.4;
  z-index: -1;
} */

.prices-bg-images {
  position: absolute;
  left: 0;
  bottom: -10%;
  width: 100%;
  height: 100%;
  background-image: url('/images/bg-img-21.png');
  background-position: bottom left;
  background-size: contain;
  background-repeat: no-repeat;
  pointer-events: none;
  opacity: 0.4;
  z-index: -1;
}

.prices-container > h4 {
  background: linear-gradient(330deg, #dc3545 75%, #ffc107 95%, #fd7e14 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.prices-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0;
  margin: 0 auto 30px;
}

.prices-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;

  min-width: 200px;
  max-width: calc(20% - 20px);
  height: 460px;
  margin: 0 auto;

  color: rgba(248, 249, 250, 0.7);
  border-radius: 30px;
  padding: 20px 10px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  transition: all var(--standart-tr-cubic);
  animation: gradientFlow 3s infinite linear;
}

.prices-item:is(:hover, :focus) {
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  transform: scale(1.03);
}

.prices-item:is(:hover, :focus) .service-description .price {
  opacity: 1;
}

.prices-item-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
}

.service-name {
  font-weight: var(--title-standart-font-weight);
  font-size: 30px;
  text-align: center;

  background: linear-gradient(330deg, #ffc107 20%, #fd7e14 50%, #dc3545 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.service-description {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  line-height: var(--text-standart-line-height);
  color: rgba(255, 193, 7, 0.8);
}

.about-service {
  text-align: center;
  line-height: var(--text-standart-line-height);
  font-size: 18px;
  font-weight: 500;
}

.about-features {
  padding: 3px;
  line-height: 1.05;
}

.order-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: auto 0 0;
  gap: 10px;
}

.price {
  font-size: 20px;
  font-weight: 500;
  color: rgba(255, 193, 7, 0.8);
}

.order-btn {
  align-items: center;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  color: var(--accent-color);
  background: transparent;
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 30px;
  padding: 10px 20px;
  max-height: 100%;
  transition: var(--transition-bg), var(--transition-cl);
}

.order-btn:hover {
  background: rgba(255, 255, 255, 0.15);
  color: var(--blue);
  /* transform: scale(1.1); */
  /* , var(--transition-tr); */
}
