/*  */
/* === Snandard style: === */
/*  */

/* root */
:root {
  --clients: rgba(24, 232, 236, 1);
  --cleaners: rgba(176, 254, 255, 1);
  --black: rgba(24, 24, 24, 1);
}
/*  */

.portfolio-pages-section {
  padding-bottom: 80px;
}

/* h2 */
.no-transform-h2-title {
  text-transform: none;
  margin-bottom: 40px;
}
/* h2 hero */
.hero-no-transform-h2-title {
  text-transform: none;
}
/* h4 */
.uppercase-h4-title {
  letter-spacing: 0em;
}

/*  */
/* h4 with border */
/*  */
.outline-title {
  padding: 12px 20px;
  border-radius: 12px;
  border: 1px solid #ffffff;
}

/*  */
/* img + (h + ul) */
/*  */
.flex-section-container {
  display: flex;
  gap: 56px;
  align-items: center;
}

/*  */
/* h + ul */
/*  */
.flex-wrapp {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.decorate-items,
.bg-decorate-items {
  display: flex;
  flex-direction: column;
}

/*  */
/* ul with • */
/*  */
.decorate-items {
  gap: 20px;
  padding-left: 30px;
}
.decorate-items li {
  position: relative;
}
.decorate-items li::before {
  content: '•';
  position: absolute;
  left: -1.2em;
  font-size: 0.9em;
  color: var(--light);
  line-height: 1;
  top: 0.4em;
}

/*  */
/* Interactive Prototype + Implementation section */
/*  */
.semibold-wrapp {
  display: flex;
  align-items: first baseline;
  gap: 56px;
}
.semibold-title {
  text-transform: none;
  font-size: 56px;
  letter-spacing: -0.02em;
}
.upper-text {
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 0.06em;
}
.semibold-flex-section {
  padding-top: 80px;
}
/*  */
/*  / */
/*  */

/*  */
/* ul witn bgc */
/* for PLANNING sections */
.planning-section {
  padding-bottom: 96px;
}
.decorate-flex-section-container {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  gap: 20px;
}
.bg-decorate-items {
  padding: 12px 12px 12px 40px;
  background: rgba(255, 255, 255, 0.09);
  border-radius: 12px;
  gap: 10px;
}
.bg-decorate-items li {
  letter-spacing: 0;
  position: relative;
}
.bg-decorate-items li::before {
  content: '•';
  position: absolute;
  left: -1.2em;
  font-size: 0.9em;
  color: var(--light);
  line-height: 1;
  top: 0.4em;
}
/* h4 + (ul witn bgc) */
.bg-decorate-wrapp {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
/* ul + ul + ul (witn bgc)*/
.decorate-flex-wrapp {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 18px;
  justify-content: space-between;
}
.planning-img {
  display: flex;
  flex: 1;
}
.planning-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  border-radius: 12px;
}
/*  */

/*  */
/* features */
.features-wrapp {
  background: rgba(255, 255, 255, 0.09);
  border-radius: 12px;
  padding: 24px;
}
.features-subtitle {
  margin-bottom: 10px;
}
/* ul 2 columns */
.features-decorate-items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 10px;
  min-width: 100%;
}
.features-decorate-items li {
  letter-spacing: 0;
  position: relative;
}
.features-decorate-items li::before {
  content: '•';
  position: absolute;
  left: 18px;
  font-size: 1em;
  color: var(--light);
  line-height: 1;
  top: 16px;
}
.features-decorate {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  text-align: left;
  border-radius: 12px;
  padding: 12px 12px 12px 36px;
  background-color: var(--bgc-grey);
}
/*  */

/* Technology Stack: */
.technology-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
  align-items: start;
}
.technology-items li {
  background: rgba(255, 255, 255, 0.09);
  border-radius: 12px;
  padding: 24px;
}
.technology-decorate {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: left;
  border-radius: 12px;
  padding: 12px;
  background-color: var(--bgc-grey);
}
/*  */

/* Screens */
.screens-title {
  text-align: center;
  padding-top: 35px;
  z-index: 2;
}
.screens-section {
  position: relative;
  width: 100%;
  height: 100vw;
  margin-left: 50%;
  transform: translateX(-50%);
}
/*  */
/* === Snandard style / === */
/*  */

/*  */
/* === ALL styles from PAGE cleaning === */
/*  */

/*  */
/* HERO: */
/*  */
.hero-flex-wrapper {
}
.hero-flex-container {
}

.cleaning-hero-title {
  font-size: 70px;
  background: linear-gradient(99.05deg, #00ffc8 0.07%, #ffffff 106.32%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.hero-main-text {
  font-size: 18px;
  color: var(--light);
  margin-top: 12px;
}

.hero-pictures-wrapp {
}
.hero-pictures {
}

/* | */
.hero-pictures-1-wrapp {
  position: relative;
}
.hero-phone-1 {
  /* 📱 */
  position: absolute;
  top: 0;
  right: 0;

  width: 193.4px;
  height: 459.47px;
}
.hero-pictures-1 {
  /* 🎆 */
  position: absolute;
  top: 6px;
  right: 18px;

  width: 171.5px;
  height: 445.55px;
}

/* || */
.hero-pictures-2-wrapp {
  position: relative;
}
.hero-phone-2 {
  position: absolute;
  top: 0;
  left: 0;

  width: 193.25px;
height: 459.47px;
}
.hero-pictures-2 {
  position: absolute;
  top: 6px;
  left: 18px;
  width: 171.34px;
height: 445.48px;
}
/*  */
/* Project Idea: */
/* */
.cleaning-idea-section {
  background: linear-gradient(
    180deg,
    rgba(158, 197, 240, 0) 0%,
    rgba(158, 197, 240, 0.5) 100%
  );
}
.cleaning-idea-title {
  text-transform: none;
  background: linear-gradient(99.05deg, #00ffc8 0.07%, #ffffff 106.32%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
/*  */
/* Project Idea / */
/*  */

/*  */
/* Challenges We Solved: */
/*  */
.cleaning-challenges-title {
  margin-bottom: 40px;
}
/*  */
/* Challenges We Solved / */
/*  */

/*  */
/* Features: */
/*  */
.features-subtitle {
  font-weight: 600;
  font-size: 20px;
}
/*  */
/* Features / */
/*  */

/* === */
/* TABLES: */
/*  */
.tables-container {
  padding-top: 34px;
}

.tables-wrapp {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, auto);
}

.table-titles {
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 0.06em;
  padding: 22px 15px;
  border-radius: 10px;
  margin: 0;
  text-align: left;
  align-items: start;
  color: var(--black);
}

.clients-items,
.cleaners-items {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 50px;
  padding-left: 100px;
}

.clients-item,
.cleaners-item {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.06em;
  border-radius: 8px;
  padding: 8px;
}

/* clients */
.table-clients {
  background-color: var(--clients);
  min-width: 210px;
  max-width: 220px;
}
.clients-item {
  max-width: 420px;
  border: 1px solid var(--clients);
  color: var(--clients);
}

/* cleaners */
.table-cleaners {
  background-color: var(--cleaners);
  min-width: 245px;
  max-width: 250px;
}
.cleaners-item {
  max-width: 485px;
  border: 1px solid var(--cleaners);
  color: var(--cleaners);
}
/*  */
/* TABLES / */
/* === */

/* === */
/* Screens: */
/*  */
/* cleaning page */
.cleaning-screens {
  background: linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 0) 30%),
    linear-gradient(0deg, #000 0%, rgba(0, 0, 0, 0) 30%),
    image-set(
      url('/images/cleaning/cleaning-screens-1x.webp') 1x,
      url('/images/cleaning/cleaning-screens-2x.webp') 2x,
      url('/images/cleaning/cleaning-screens-3x.webp') 3x,
      url('/images/cleaning/cleaning-screens-1x.png') type('image/png') 1x
    );
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
/*  */
/* Screens / */
/*  */

/*  */
/* Prototype: */
/*  */
@media (min-width: 1025px) {
  .prototype-title {
    min-width: 430px;
  }
}
/*  */
/* Prototype / */
/*  */
