.outline-title {
  /* h4 with border */
  padding: 12px 20px;
  border-radius: 12px;
  border: 1px solid #ffffff;

  font-weight: 600;
  font-size: clamp(16px, 5vw, 24px);
}

.flex-section-container,
.revert-column,
.phase-flex-section-container {
  /* img + (h + ul) */
  position: relative;
  display: flex;
  gap: clamp(20px, 10vw, 56px);
  align-items: center;
}

.flex-wrapp {
  /* h + ul */
  display: flex;
  flex-direction: column;
  gap: clamp(10px, 10vw, 24px);
}

.decorate-items,
.bg-decorate-items {
  display: flex;
  flex-direction: column;
}

.decorate-items {
  /* ul with • */
  gap: 20px;
  padding-left: 30px;
}
.decorate-items li {
  position: relative;
}
.decorate-items li::before {
  content: '•';
  position: absolute;
  left: -1.2em;
  font-size: 0.9em;
  color: var(--light);
  line-height: 1;
  top: 0.4em;
}
/*  */

/* Interactive Prototype + Implementation section */
.semibold-wrapp {
  display: flex;
  align-items: first baseline;
  gap: clamp(10px, 10vw, 56px);
}
.semibold-title {
  text-transform: none;
  font-size: clamp(36px, 5vw, 56px);
  letter-spacing: -0.02em;
  margin-bottom: clamp(20px, 10vw, 40px);
}
.upper-text {
  text-transform: uppercase;
  font-size: clamp(14px, 10vw, 20px);
  letter-spacing: 0.06em;
}
.semibold-flex-section {
  padding-top: clamp(30px, 10vw, 80px);
}
@media (max-width: 767px) {
  .semibold-wrapp {
    flex-direction: column;
  }
  .flex-section-container {
    flex-direction: column;
  }
  .revert-column {
    display: flex;
    flex-direction: column-reverse;
  }
  .mob-img {
    max-width: 100%;
  }

  .no-transform-h2-title {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .semibold-wrapp {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;
  }
  .semibold-wrapp .no-transform-h2-title {
    margin: 0 auto 20px;
  }
  .cleaning-phase-img,
  .cleaning-challenges-img {
    max-width: 300px;
  }
}

@media (max-width: 1023px) {
  .mob-img {
    height: auto;
    object-fit: contain;
    display: block;
  }
  .planning-title {
    margin-bottom: clamp(20px, 10vw, 40px);
    text-align: center;
  }
}

/*  */

/* ul witn bgc
for PLANNING sections */
.planning-section {
  padding-bottom: clamp(60px, 10vw, 96px);
}
.decorate-flex-section-container {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  gap: clamp(10px, 10vw, 20px);
}
.planning-title {
  font-weight: 600;
  font-size: clamp(26px, 5vw, 40px);
  letter-spacing: 0;
  margin-bottom: clamp(20px, 10vw, 40px);
}
.bg-decorate-items {
  padding: 12px 12px 12px 40px;
  background: rgba(255, 255, 255, 0.09);
  border-radius: 12px;
  gap: 10px;
}
.bg-decorate-items li {
  letter-spacing: 0;
  position: relative;
}
.bg-decorate-items li::before {
  content: '•';
  position: absolute;
  left: -1.2em;
  font-size: 0.9em;
  color: var(--light);
  line-height: 1;
  top: 0.4em;
}
.bg-decorate-wrapp {
  /* h4 + (ul witn bgc) */
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.decorate-flex-wrapp {
  /* ul + ul + ul (witn bgc)*/
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: clamp(10px, 10vw, 18px);
  justify-content: space-between;
}
.planning-img {
  display: flex;
  flex: 1;
}
.planning-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  border-radius: 12px;
}

@media (max-width: 767px) {
  .decorate-flex-section-container {
    flex-direction: column-reverse;
  }
  .planning-img {
    max-width: 400px;
    margin: 20px auto;
  }
  .cleaning-challenges-title {
    text-align: center;
  }
}
/*  */

/*  */
/* features */
.features-wrapp {
  background: rgba(255, 255, 255, 0.09);
  border-radius: 12px;
  padding: clamp(12px, 10vw, 24px);
}
.features-subtitle {
  margin-bottom: 10px;
}
.features-decorate-items {
  /* ul 2 columns */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 10px;
  min-width: 100%;
}
.features-decorate-items li {
  letter-spacing: 0;
  position: relative;
}
.features-decorate-items li::before {
  content: '•';
  position: absolute;
  left: 18px;
  font-size: 1em;
  color: var(--light);
  line-height: 1;
  top: 16px;
}
.features-decorate {
  font-weight: 600;
  font-size: clamp(12px, 5vw, 16px);
  line-height: 1.5;
  letter-spacing: 0.04em;

  text-align: left;
  border-radius: 12px;
  padding: 12px 12px 12px 36px;
  background-color: var(--bgc-grey);
}

@media (max-width: 767px) {
  .features-decorate-items {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, auto);
  }
}
@media (max-width: 1023px) {
  .semibold-title {
    text-align: center;
  }
}
/*  */

/* Technology Stack: */
.technology-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
  align-items: start;
}
.technology-items li {
  background: rgba(255, 255, 255, 0.09);
  border-radius: 12px;
  padding: clamp(10px, 10vw, 24px);
  /* height: fit-content; */
  height: 100%;
}
.technology-decorate {
  font-weight: 600;
  font-size: clamp(12px, 5vw, 16px);
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: left;
  border-radius: 12px;
  padding: clamp(10px, 10vw, 12px);
  background-color: var(--bgc-grey);
}
@media (max-width: 1023px) {
  .technology-items {
    grid-template-columns: repeat(2, 2fr);
  }
  .technology-items li {
    height: 100%;
  }
}
@media (max-width: 500px) {
  .technology-items {
    grid-template-columns: repeat(1, 1fr);
  }
}
/*  */

/* 
ALL components
HERO: 
*/
.pages-hero-title {
  font-size: clamp(30px, 5vw, 70px);
  color: var(--light);
}

.hero-width-wrapp {
  max-width: 450px;
}

.hero-flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: clamp(10px, 10vw, 30px);
}

.cleaning-hero-section {
  padding-bottom: 41px;
  padding-top: 120px;
}

.pages-flex-wrapper {
  display: flex;
  flex-direction: column;
}

.pages-main-text {
  font-size: clamp(12px, 5vw, 18px);
  color: var(--light);
  margin-top: 12px;
}

/* 
Cleaning-APP
HERO
 */
@media (max-width: 768px) {
  .pages-flex-wrapper {
    position: relative;
  }
  .pos-pictures-wrapp {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media (max-width: 1023px) {
  .hero-flex-container {
    display: flex;
    flex-direction: column-reverse;
  }
  .hero-no-transform-h2-title,
  .pages-hero-title {
    text-align: center;
  }
}

.cleaning-hero-wrapp h1 {
  background: linear-gradient(99.05deg, #00ffc8 0.07%, #ffffff 106.32%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.pos-pictures-wrapp {
  /* tel 1 + tel 2 in div */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  min-width: 646px;
  min-height: 645px;
}

.hero-pictures-wrapp-left {
  position: absolute;
  top: 56px;
  left: 347px;
}
.hero-pictures-wrapp-right {
  position: absolute;
  top: 171px;
  right: 340px;
}

.bg-ellipse-1,
.bg-ellipse-2 {
  position: absolute;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.bg-ellipse-1 {
  top: 97px;
  left: 50%;
  transform: translateX(-50%);
  background: url('/images/portfolio/cleaners/Ellipse-1-min.svg');
  width: 452px;
  height: 452px;
}
.bg-ellipse-2 {
  bottom: 0;
  left: 0;
  background: url('/images/portfolio/cleaners/Ellipse-2-min.svg');
  width: 645px;
  height: 645px;
}

.hero-pictures-1-wrapp {
  /* | */
  position: relative;
  z-index: 3;
}
.hero-phone-1 {
  /* 📱 */
  position: absolute;
  top: 0;
  right: 0;
}
.hero-pictures-1 {
  /* 🎆 */
  position: absolute;
  top: 6px;
  right: 18px;
}

.hero-pictures-2-wrapp {
  /* || */
  position: relative;
  z-index: 4;
}
.hero-phone-2 {
  position: absolute;
  top: 0;
  left: 0;
}
.hero-pictures-2 {
  position: absolute;
  top: 6px;
  left: 18px;
}
/*  */

/* 
Project Idea: 
*/
@media (max-width: 1023px) {
  .idea-flex-container {
    flex-direction: column;
  }
}

.idea-section {
  position: relative;
  padding-bottom: 60px;
  padding-top: 40px;
}

.cleaning-idea-section {
  background: linear-gradient(
    180deg,
    rgba(158, 197, 240, 0) 0%,
    rgba(158, 197, 240, 0.5) 100%
  );
}

.idea-flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: clamp(20px, 10vw, 90px);
  min-height: 540px;
}

.idea-pos-pictures-wrapp {
  /* tel 1 + tel 2 in div */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 549px;
  min-height: 428px;
}

.idea-pictures-wrapp-left {
  position: absolute;
  top: 20px;
  left: 8px;
}
.idea-pictures-wrapp-right {
  position: absolute;
  top: 0;
  right: 0;
}

.idea-ellipse-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: visible;
  pointer-events: none;
  z-index: 1;
}

.idea-bg-ellipse-1 {
  /* | */
  position: absolute;
  pointer-events: none;
  top: 20px;
  left: 110px;

  background: url('/images/portfolio/cleaners/Ellipse1-min.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 378px;
  height: 378px;
}
.idea-bg-ellipse-2 {
  /* || */
  position: absolute;
  left: -10px;
  bottom: -80px;
  overflow: visible;
  pointer-events: none;
  background: url('/images/portfolio/cleaners/Ellipse2-min.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 640px;
  height: 640px;
}

.idea-pictures-1-wrapp {
  /* | */
  position: relative;
  z-index: 4;
}
.idea-phone-1 {
  /* 📱 */
  position: absolute;
  top: -3px;
  left: 0;
}
.idea-pictures-1 {
  /* 🎆 */
  position: absolute;
  top: 5px;
  left: 18px;
}

.shadow-left-1 {
  /* shadow left | */
  position: absolute;
  top: 342px;
  left: -25px;
  overflow: visible;
  pointer-events: none;
  background: url('/images/portfolio/cleaners/Shadow.svg');
  background-position: bottom left;
  background-size: contain;
  background-repeat: no-repeat;
  width: 548px;
  height: 85px;
}

.shadow-left-2 {
  /* shadow left || */
  position: absolute;
  top: 50px;
  left: 365px;
  overflow: visible;
  pointer-events: none;
  background: url('/images/portfolio/cleaners/Shadow2.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 49px;
  height: 347px;
}

.idea-pictures-2-wrapp {
  /* || */
  position: relative;
  z-index: 3;
}
.idea-phone-2 {
  position: absolute;
  top: 0;
  right: 0;
}
.idea-pictures-2 {
  position: absolute;
  top: 6px;
  right: 18px;
}

.shadow-right-1 {
  /* shadow right | */
  position: absolute;
  top: 369px;
  right: -212px;
  overflow: visible;
  pointer-events: none;
  background: url('/images/portfolio/cleaners/Shadow3.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 434px;
  height: 84px;
}

.width-idea-wrapp {
  max-width: 650px;
}
.idea-text-top {
  margin-top: 12px;
}
.idea-text {
  margin-top: 22px;
}

.color-idea-title {
  text-transform: none;
  color: var(--light);
}

.cleaning-idea-title {
  background: linear-gradient(99.05deg, #00ffc8 0.07%, #ffffff 106.32%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
/*  */

/* 
Challenges We Solved: 
*/
.cleaning-challenges-title {
  margin-bottom: clamp(20px, 10vw, 40px);
}
/*  */

/* 
Features: 
*/
.features-subtitle {
  font-weight: 600;
  font-size: clamp(14px, 10vw, 20px);
}
/*  */

/* 
TABLES: 
*/
.tables-container {
  padding-top: 34px;
}

.tables-wrapp {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, auto);
}

.table-titles {
  font-weight: 600;
  font-size: clamp(16px, 10vw, 24px);
  letter-spacing: 0.06em;
  padding: clamp(14px, 10vw, 22px) clamp(10px, 10vw, 15px);
  border-radius: 10px;
  margin: 0;
  text-align: left;
  align-items: start;
  color: var(--black);
}

.clients-items,
.cleaners-items {
  display: flex;
  flex-direction: column;
  gap: clamp(10px, 10vw, 20px);
  margin-top: clamp(20px, 10vw, 50px);
  padding-left: 100px;
}

/* ---> */
@media (max-width: 1284px) {
  .clients-items,
  .cleaners-items {
    margin-top: 30px;
    padding-left: 10px;
  }
  .tables-wrapp {
    gap: 90px;
  }
  .clients-item::before,
  .cleaners-item::before {
    content: url('/images/portfolio/Vector-3.svg');
    position: absolute;
    left: -20px;
    fill: var(--grey-border);
  }
  .table-titles {
    font-weight: 600;
    font-size: clamp(12px, 10vw, 20px);
    letter-spacing: 0.01em;
    padding: clamp(10px, 10vw, 16px) 10px;
  }
}

.table-left,
.table-right {
  position: relative;
}
.clients-item::before,
.cleaners-item::before {
  content: url('/images/portfolio/Vector-3.svg');
  position: absolute;
  left: -84px;
  fill: var(--grey-border);
}

@media (min-width: 1285px) {
  .table-left::before {
    content: '';
    position: absolute;
    left: 15px;
    top: 0;
    background: url('/images/portfolio/Vector-1.svg') no-repeat center center;
    background-size: cover;
    width: 2.5px;
    height: 95.7%;
    background-color: var(--grey-border);
    z-index: -1;
  }
  .table-right::before {
    content: '';
    position: absolute;
    left: 15px;
    top: 0;
    background: url('/images/portfolio/Vector-2.svg') no-repeat center center;
    background-size: cover;
    width: 2.5px;
    height: 75.2%;
    background-color: var(--grey-border);
    z-index: -1;
  }
}

.clients-item,
.cleaners-item {
  position: relative;
  text-transform: uppercase;
  font-weight: 600;
  font-size: clamp(12px, 10vw, 18px);
  line-height: 1.5;
  letter-spacing: 0.06em;
  border-radius: 8px;
  padding: 8px;
  width: fit-content;
  max-width: 100%;
}

.table-clients {
  /* clients */
  background-color: var(--clients);
  width: fit-content;
}
.clients-item {
  max-width: 420px;
  border: 1px solid var(--clients);
  color: var(--clients);
}

.table-cleaners {
  /* cleaners */
  background-color: var(--cleaners);
  width: fit-content;
}
.cleaners-item {
  max-width: 485px;
  border: 1px solid var(--cleaners);
  color: var(--cleaners);
}

@media (max-width: 767px) {
  .tables-wrapp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 60px;
  }
  .clients-item,
  .cleaners-item {
    max-width: 100%;
    padding-left: 10px;
  }
}
@media (max-width: 1023px) {
  .tables-wrapp {
    margin-left: clamp(30px, 5vw, 50px);
  }
}
/* -----> */

/*  */

/* 
Screens: 
*/
.screens-title {
  text-align: center;
  padding-top: 35px;
  z-index: 2;
}
.screens-section {
  position: relative;
  width: 100%;
}
.cleaning-screens {
  background: linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 0) 30%),
    linear-gradient(0deg, #000 0%, rgba(0, 0, 0, 0) 30%),
    url('/images/portfolio/cleaners/screens.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: clamp(800px, 5vw, 1100px);
  pointer-events: none;
}
@media (max-width: 767px) {
  .cleaning-screens,
  .commerce-screens,
  .food-screens {
    height: clamp(400px, 5vw, 600px);
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .cleaning-screens,
  .commerce-screens,
  .food-screens {
    height: clamp(600px, 5vw, 800px);
  }
}
/*  */

/* 
Prototype: 
*/
@media (min-width: 1025px) {
  .prototype-title {
    min-width: 430px;
  }
}

.cleaning-prototype-container {
  margin-bottom: 40px;
}

.prototype-reletive {
  position: relative;
  min-height: 780px;
}

.left-bg-img,
.right-bg-img {
  position: absolute;
  pointer-events: none;
  z-index: -1;
  height: 100%;
  width: 33%;
}
.left-bg-img {
  top: 0;
  left: 0;
  background: url('/images/portfolio/1-left.svg');
  background-position: center left;
  background-size: cover;
  background-repeat: no-repeat;
}
.right-bg-img {
  top: 0;
  right: 0;
  background: url('/images/portfolio/1-right.svg');
  background-position: center right;
  background-size: cover;
  background-repeat: no-repeat;
}

.blur-bg-relative {
  position: relative;
  overflow: hidden;
}
.blur-bg-right,
.blur-bg-left {
  position: absolute;
  overflow: hidden;
  pointer-events: none;
  z-index: 1;

  filter: blur(125px);
  width: 500px;
  height: 500px;
  opacity: 0.8;
}
.blur-bg-left {
  top: 25%;
  left: -5%;
  background: image-set(url('/images/bg-icon.png') 1x);
  background-position: center left;
  background-size: cover;
  background-repeat: no-repeat;
}
.blur-bg-right {
  top: 25%;
  right: -5%;
  background: image-set(url('/images/bg-icon.png') 1x);
  background-position: center right;
  background-size: cover;
  background-repeat: no-repeat;
}

.prototype {
  display: flex;
  justify-content: center;
  align-items: center;
}

.figma-prototype {
  border: none;
  margin: 0;
  padding: 0;
  z-index: 2;
  min-height: 747px;
}

@media (max-width: 767px) {
  .blur-bg-right,
  .blur-bg-left {
    display: none;
  }
}
@media (max-width: 1250px) {
  .prototype-reletive {
    min-height: 746px;
  }
  .blur-bg-left {
    top: 35%;
    left: -10%;
  }
  .blur-bg-right {
    top: 35%;
    right: -20%;
  }
}
