/* 
Cleaning-APP
HERO
 */
.cleaning-hero-wrapp h1 {
  background: linear-gradient(99.05deg, #00ffc8 0.07%, #ffffff 106.32%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

/* 
Project Idea: 
*/
.cleaning-idea-title {
  background: linear-gradient(99.05deg, #00ffc8 0.07%, #ffffff 106.32%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

/* 
TABLES: 
*/
.tables-container {
  padding-top: 34px;
}

.tables-wrapp {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, auto);
}

.table-titles {
  font-weight: 600;
  font-size: clamp(16px, 10vw, 24px);
  letter-spacing: 0.06em;
  padding: clamp(14px, 10vw, 22px) clamp(10px, 10vw, 15px);
  border-radius: 10px;
  margin: 0;
  text-align: left;
  align-items: start;
  color: var(--black);
}

.clients-items,
.cleaners-items {
  display: flex;
  flex-direction: column;
  gap: clamp(10px, 10vw, 20px);
  margin-top: clamp(20px, 10vw, 50px);
  padding-left: 100px;
}

@media (max-width: 1284px) {
  .clients-items,
  .cleaners-items {
    margin-top: 30px;
    padding-left: 10px;
  }
  .tables-wrapp {
    gap: 90px;
  }
  .clients-item::before,
  .cleaners-item::before {
    content: url('/images/portfolio/Vector-3.svg');
    position: absolute;
    left: -20px;
    fill: var(--grey-border);
  }
  .table-titles {
    font-weight: 600;
    font-size: clamp(12px, 10vw, 20px);
    letter-spacing: 0.01em;
    padding: clamp(10px, 10vw, 16px) 10px;
  }
}

.table-left,
.table-right {
  position: relative;
}
.clients-item::before,
.cleaners-item::before {
  content: url('/images/portfolio/Vector-3.svg');
  position: absolute;
  left: -84px;
  fill: var(--grey-border);
}

@media (min-width: 1285px) {
  .table-left::before {
    content: '';
    position: absolute;
    left: 15px;
    top: 0;
    background: url('/images/portfolio/Vector-1.svg') no-repeat center center;
    background-size: cover;
    width: 2.5px;
    height: 95.7%;
    background-color: var(--grey-border);
    z-index: -1;
  }
  .table-right::before {
    content: '';
    position: absolute;
    left: 15px;
    top: 0;
    background: url('/images/portfolio/Vector-2.svg') no-repeat center center;
    background-size: cover;
    width: 2.5px;
    height: 75.2%;
    background-color: var(--grey-border);
    z-index: -1;
  }
}

.clients-item,
.cleaners-item {
  position: relative;
  text-transform: uppercase;
  font-weight: 600;
  font-size: clamp(12px, 10vw, 18px);
  line-height: 1.5;
  letter-spacing: 0.06em;
  border-radius: 8px;
  padding: 8px;
  width: fit-content;
  max-width: 100%;
}

.table-clients {
  /* clients */
  background-color: var(--clients);
  width: fit-content;
}
.clients-item {
  max-width: 420px;
  border: 1px solid var(--clients);
  color: var(--clients);
}

.table-cleaners {
  /* cleaners */
  background-color: var(--cleaners);
  width: fit-content;
}
.cleaners-item {
  max-width: 485px;
  border: 1px solid var(--cleaners);
  color: var(--cleaners);
}

@media (max-width: 767px) {
  .tables-wrapp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 60px;
  }
  .clients-item,
  .cleaners-item {
    max-width: 100%;
    padding-left: 10px;
  }
}
@media (max-width: 1023px) {
  .tables-wrapp {
    margin-left: clamp(30px, 5vw, 50px);
  }
}
/*  */

/* 
Screens: 
*/
.cleaning-screens {
  background: linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 0) 30%),
    linear-gradient(0deg, #000 0%, rgba(0, 0, 0, 0) 30%),
    url('/images/portfolio/cleaners/screens.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: clamp(800px, 5vw, 1100px);
  pointer-events: none;
}

/* 
Prototype: 
*/
.left-bg-img,
.right-bg-img {
  position: absolute;
  pointer-events: none;
  z-index: -1;
  height: 100%;
  width: 33%;
  overflow: hidden;
}
.left-bg-img {
  top: 0;
  left: 0;
  background: url('/images/portfolio/1-left.svg');
  background-position: center left;
  background-size: cover;
  background-repeat: no-repeat;
}
.right-bg-img {
  top: 0;
  right: 0;
  background: url('/images/portfolio/1-right.svg');
  background-position: center right;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 767px) {
  .left-bg-img,
  .right-bg-img {
    position: static;
  }
}
