/* 
HERO 
*/
.food-hero-wrapp h1 {
  background: linear-gradient(99.05deg, #3ca1d8 0.07%, #ccedff 106.32%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

/* 
Project Idea:
*/
.food-idea-title {
  background: linear-gradient(99.05deg, #3ca1d8 0.07%, #ccedff 106.32%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.food-idea-section {
  background: linear-gradient(
    180deg,
    rgba(204, 237, 255, 0) 0%,
    rgba(204, 237, 255, 0.25) 100%
  );
}

/* 
Screens
*/
.food-screens {
  background: linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 0) 30%),
    linear-gradient(0deg, #000 0%, rgba(0, 0, 0, 0) 30%),
    url('/images/portfolio/food/screens.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: clamp(800px, 5vw, 1100px);
  padding-bottom: 60px;
}

/* 
Prototype
*/
.food-left-bg-img,
.food-right-bg-img {
  position: absolute;
  pointer-events: none;
  z-index: -1;
  height: 100%;
  width: 33%;
}

.food-left-bg-img {
  top: 0;
  left: 0;
  background: url('/images/portfolio/3-left.svg');
  background-position: center left;
  background-size: cover;
  background-repeat: no-repeat;
}

.food-right-bg-img {
  top: 0;
  right: 0;
  background: url('/images/portfolio/3-right.svg');
  background-position: center right;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 767px) {
  .food-left-bg-img,
  .food-right-bg-img {
    position: static;
  }
}
