/* GLOBAL CSS for Portfolio pages */

:root {
  --clients: rgba(24, 232, 236, 1);
  --cleaners: rgba(176, 254, 255, 1);
  --black: rgba(24, 24, 24, 1);
}

/*  
SECTION
CONTAINER
*/
.portfolio-container {
  width: 100%;
  margin: 0 auto;
  padding-left: clamp(20px, 5vw, 110px);
  padding-right: clamp(20px, 5vw, 110px);
  overflow: hidden;
}

.portfolio-section {
  /* 112 */
  padding-top: clamp(90px, 5vw, 112px);
}

.portfolio-pages-section {
  /* 80 */
  padding-bottom: clamp(60px, 5vw, 80px);
}

.padding-bottom-section {
  /* 112 */
  padding-bottom: clamp(90px, 5vw, 112px);
}

.margine-bottom {
  /* 112 */
  margin-bottom: clamp(90px, 5vw, 112px);
}

/* === TABLET (768–1023px) === */
@media (min-width: 768px) and (max-width: 1023px) {
  .portfolio-container {
    max-width: 960px;
    padding: 0 40px;
  }
}

/* === DESKTOP (≥1024px) === */
@media (min-width: 1024px) {
  .portfolio-container {
    max-width: 1440px;
    padding: 0 110px;
  }
}

/* ✨ */
@media (max-width: 1023px) {
  .bg-portfolio-img-left,
  .bg-portfolio-img-right,
  .bg-portfolio-img-left-rotate,
  .commerce-left-rotate {
    width: clamp(400px, 5vw, 635px);
    height: clamp(400px, 5vw, 635px);
  }
}
.bg-reletive-wrapp {
  position: relative;
  overflow: visible;
}
.bg-portfolio-img-left,
.bg-portfolio-img-right,
.bg-portfolio-img-left-rotate,
.commerce-left-rotate {
  position: absolute;
  pointer-events: none;
  z-index: -1;
  width: 635px;
  height: 635px;
  /* width: clamp(400px, 5vw, 635px);
  height: clamp(400px, 5vw, 635px); */
}
/* ✨
  <div class="bg-portfolio-img-left"></div>
with 
  class - bg-reletive-wrapp
*/
.bg-portfolio-img-left {
  bottom: -3%;
  left: 2%;
  background: url('/images/portfolio/cleaners/Untitled-1-top.svg');
  background-position: bottom left;
  background-size: cover;
  background-repeat: no-repeat;
}
/* ✨ 
  <div class="bg-portfolio-img-right"></div> 
with 
  bg-reletive-wrapp
*/
.bg-portfolio-img-right {
  bottom: 0;
  right: 0;
  background: url('/images/portfolio/cleaners/Untitled-1-bottom.svg');
  background-position: bottom right;
  background-size: cover;
  background-repeat: no-repeat;
}
/* ✨ 
   <div class="bg-portfolio-img-left-rotate"></div>
with 
  bg-reletive-wrapp
*/
.commerce-left-rotate {
  transform: rotate(180deg);
  bottom: -15%;
  left: 0;
  background: url('/images/portfolio/cleaners/Untitled-1-bottom.svg');
  background-position: bottom left;
  background-size: cover;
  background-repeat: no-repeat;
}
.bg-portfolio-img-left-rotate {
  transform: rotate(180deg);
  bottom: -5%;
  left: 0;
  background: url('/images/portfolio/cleaners/Untitled-1-bottom.svg');
  background-position: bottom left;
  background-size: cover;
  background-repeat: no-repeat;
}
/* ✨ */

/* 🔺 */
@media (max-width: 767px) {
  .bg-icon-blur-left,
  .bg-icon-blur-right,
  .bg-icon-blur-center {
    display: none;
  }
}
@media (max-width: 1023px) {
  .bg-icon-blur-left,
  .bg-icon-blur-right,
  .bg-icon-blur-center {
    width: clamp(400px, 5vw, 814px);
    height: clamp(400px, 5vw, 814px);
  }
  .bg-icon-blur-left {
    position: absolute;
    top: 5%;
    left: 0;
  }
}
.bg-blur-wrapp {
  position: relative;
}
.bg-icon-blur-left,
.bg-icon-blur-right,
.bg-icon-blur-center {
  z-index: -1;
  filter: blur(125px);
  pointer-events: none;
  width: 814px;
  height: 814px;
}
/* 🔺 
  <div class="bg-icon-blur-left"></div>
with 
  class - bg-blur-wrapp 
*/
.bg-icon-blur-left {
  position: absolute;
  top: 5%;
  left: -30%;
  background: image-set(url('/images/bg-icon.png') 1x);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
/* 🔺
  <div class="bg-icon-blur-right"></div> 
with 
  class - bg-blur-wrapp 
*/
.bg-icon-blur-right {
  position: absolute;
  top: -10%;
  right: 0;
  background: image-set(url('/images/bg-icon.png') 1x);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
/* 🔺
  <div class="bg-icon-blur-center"></div>
with 
  class - bg-blur-wrapp 
*/
.bg-icon-blur-center {
  position: absolute;
  bottom: 0;
  right: 0;
  background: image-set(url('/images/bg-icon.png') 1x);
  background-position: bottom right;
  background-size: contain;
  background-repeat: no-repeat;
}
/* 🔺 */

/* 
TEXT 
TITLE
*/
.portfolio-title {
  font-size: 56px;
}

.no-transform-h2-title {
  text-transform: none;
  margin-bottom: 40px;
}

.hero-no-transform-h2-title {
  text-transform: none;
}

.uppercase-h4-title {
  letter-spacing: 0em;
}

.no-transform {
  text-transform: none;
}

.portfolio-subtitle {
  font-size: 40px;
}

.portfolio-sub-title {
  font-size: 24px;
  letter-spacing: 0.06em;
}

.portfolio-text {
  font-weight: 300;
  line-height: 1.5;
}

.portfolio-upper-text {
  text-transform: uppercase;
}

/* 
🎆 bgc
*/
.portfolio-bgc-img {
  background-color: var(--bgc-light);
  border-radius: 12px;
}
/*  */

/* 
Portfolio main page CSS 
*/

/* 
HERO: 
*/
.hero-portfolio-section {
  padding-top: 230px;
}

.portfolio-hero-container {
  display: flex;
  justify-content: center;
}

.portfolio-hero-wrapp {
  display: flex;
  flex-direction: column;
  text-align: start;
  align-items: flex-start;
  justify-content: start;
}

.portfolio-hero-text {
  font-size: 56px;
  margin-top: 60px;
  letter-spacing: 0.06em;
  color: var(--border-color);
}

/* CARDS: */
.portfolio-card {
  display: flex;
  gap: 32px;
  align-items: flex-end;
}

.portfolio-card-img {
  position: relative;
  width: 594px;
  height: 490px;
}

.portfolio-card-img::after {
  /* 🩼 */
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  inset: 0;
  background: transparent;
}

.portfolio-card-img-wrapp {
  position: relative;
  width: 594px;
  height: 490px;
}
.portfolio-watermark {
  /* all svg icon-watermark */
  position: absolute;
  z-index: 3;
  opacity: 0.2;
  width: 70px;
  height: 62px;
}

.watermark-cleaning {
  /* Cleaning-APP */
  bottom: 23px;
  right: 18px;
}

.watermark-ecommerce {
  /* E-commerce */
  bottom: 190px;
  left: 44px;
}

.watermark-food {
  /* FOOD & DRINK */
  bottom: 10px;
  right: 120px;
}

.portfolio-card-wrapp > h3 {
  text-transform: uppercase;
  margin-bottom: 16px;
}

.portfolio-card-text {
  font-size: 32px;
  margin-bottom: 24px;
  letter-spacing: 0;
  color: var(--border-color);
}

.portfolio-card-accent-text {
  font-weight: 600;
  color: var(--light);
}

.portfolio-app-link {
  font-weight: 300;
  font-size: 18px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--light);
}

.portfolio-button-wrapp {
  margin-top: 32px;
}

.portfolio-button {
  position: relative;
  font-size: 16px;
  padding: 8px 8px 8px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  min-height: 40px;
  max-width: 170px;
  width: 100%;
  overflow: hidden;
}

.portfolio-button:hover,
.portfolio-button:focus {
  min-width: 190px;
  max-width: 190px;
}

.portfolio-card-icon {
  fill: currentColor;
  width: 24px;
  height: 24px;
  transition: all 0.1s ease;
}

.icon-false {
  opacity: 1;
  transform: scale(1);
}

.icon-true {
  opacity: 0;
  transform: scale(0.5);
  position: absolute;
  right: 25px;
}

.portfolio-button:hover .icon-false {
  opacity: 0;
  transform: scale(0.5);
}

.portfolio-button:hover .icon-true {
  opacity: 1;
  transform: scale(1);
}
/*  */
/* Portfolio main page CSS / */
/*  */

/*  */
/* Adaptive */
/*  */

/*  */
/* Adaptive / */
/*  */
