/* GLOBAL CSS for Portfolio pages */

/*  SECTION
    CONTAINER
*/
.portfolio-section {
  padding-top: 112px;
}

.padding-bottom-section {
  padding-bottom: 112px;
}

.portfolio-container {
  width: 100%;
  max-width: 1200px;
  padding: 0 80px;
  margin: 0 auto;
  overflow: hidden;
}

@media (max-width: 767px) {
  .portfolio-container {
    max-width: 700px;
    padding: 0 20px;
  }
  .portfolio-section {
    padding-top: 80px;
  }
  .padding-bottom-section {
    padding-bottom: 80px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .portfolio-container {
    max-width: 800px;
    padding: 0 110px;
  }
}

@media (min-width: 1025px) {
  .portfolio-container {
    max-width: 1440px;
    padding: 0 110px;
  }
}

/* ✨ */
.bg-reletive-wrapp {
  position: relative;
  overflow: visible;
}
.bg-portfolio-img-left,
.bg-portfolio-img-right,
.bg-portfolio-img-left-rotate {
  position: absolute;
  pointer-events: none;
  z-index: -1;
  width: 635px;
  height: 635px;
}
/* ✨
  <div class="bg-portfolio-img-left"></div>
with 
  class - bg-reletive-wrapp
*/
.bg-portfolio-img-left {
  bottom: -3%;
  left: 2%;
  background: image-set(
    url('/images/cleaning/cleaning-hero1x.webp') 1x,
    url('/images/cleaning/cleaning-hero2x.webp') 2x
  );
  background-position: bottom left;
  background-size: cover;
  background-repeat: no-repeat;
}
/* ✨ 
  <div class="bg-portfolio-img-right"></div> 
with 
  bg-reletive-wrapp
*/
.bg-portfolio-img-right {
  bottom: -5%;
  right: 0;

  background: image-set(
    url('/images/screens/idea-bg-1x.webp') 1x,
    url('/images/screens/idea-bg-2x.webp') 2x
  );
  background-position: bottom right;
  background-size: cover;
  background-repeat: no-repeat;
}
/* ✨ 
   <div class="bg-portfolio-img-left-rotate"></div>
with 
  bg-reletive-wrapp
*/
.bg-portfolio-img-left-rotate {
  transform: rotate(180deg);
  bottom: 0;
  left: 0;

  background: image-set(
    url('/images/screens/idea-bg-1x.webp') 1x,
    url('/images/screens/idea-bg-2x.webp') 2x
  );
  background-position: bottom left;
  background-size: cover;
  background-repeat: no-repeat;
}
/* ✨ */

/* 🔺 */
.bg-blur-wrapp {
  position: relative;
}
.bg-icon-blur-left,
.bg-icon-blur-right,
.bg-icon-blur-center {
  z-index: -1;
  filter: blur(125px);
  pointer-events: none;
  width: 814px;
  height: 814px;
}
/* 🔺 
  <div class="bg-icon-blur-left"></div>
with 
  class - bg-blur-wrapp 
*/
.bg-icon-blur-left {
  position: absolute;
  top: 5%;
  left: -30%;
  background: image-set(url('/images/bg-icon.png') 1x);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
/* 🔺
  <div class="bg-icon-blur-right"></div> 
with 
  class - bg-blur-wrapp 
*/
.bg-icon-blur-right {
  position: absolute;
  top: -10%;
  right: 0;
  background: image-set(url('/images/bg-icon.png') 1x);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
/* 🔺
  <div class="bg-icon-blur-center"></div>
with 
  class - bg-blur-wrapp 
*/
.bg-icon-blur-center {
  position: absolute;
  bottom: 0;
  right: 0;
  background: image-set(url('/images/bg-icon.png') 1x);
  background-position: bottom right;
  background-size: contain;
  background-repeat: no-repeat;
}
/* 🔺 */

/* 
    TEXT 
    TITLE
*/
.portfolio-title {
  font-size: 56px;
}

.no-transform {
  text-transform: none;
}

.portfolio-subtitle {
  font-size: 40px;
}

.portfolio-sub-title {
  font-size: 24px;
  letter-spacing: 0.06em;
}

.portfolio-text {
  font-weight: 300;
  line-height: 1.5;
}

.portfolio-upper-text {
  text-transform: uppercase;
}

.portfolio-bgc-img {
  background-color: var(--bgc-light);
  border-radius: 12px;
}

/*  */

/* Portfolio main page CSS */
/*  */
/* HERO: */
/*  */
.hero-portfolio-section {
  padding-top: 230px;
}

.portfolio-hero-container {
  display: flex;
  justify-content: center;
}

.portfolio-hero-wrapp {
  display: flex;
  flex-direction: column;
  text-align: start;
  align-items: flex-start;
  justify-content: start;
}

.portfolio-hero-text {
  font-size: 56px;
  margin-top: 60px;
  letter-spacing: 0.06em;
  color: var(--border-color);
}

/* CARDS: */
.portfolio-card {
  display: flex;
  gap: 32px;
  align-items: flex-end;
}

.portfolio-card-img {
  position: relative;
  width: 594px;
  height: 490px;
}

.portfolio-card-img::after {
  /* 🩼 */
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  inset: 0;
  background: transparent;
}

.portfolio-card-img-wrapp {
  position: relative;
  width: 594px;
  height: 490px;
}
.portfolio-watermark {
  /* all svg icon-watermark */
  position: absolute;
  z-index: 3;
  opacity: 0.2;
  width: 70px;
  height: 62px;
}

.watermark-cleaning {
  /* Cleaning-APP */
  bottom: 23px;
  right: 18px;
}

.watermark-ecommerce {
  /* E-commerce */
  bottom: 190px;
  left: 44px;
}

.watermark-food {
  /* FOOD & DRINK */
  bottom: 10px;
  right: 120px;
}

.portfolio-card-wrapp > h3 {
  text-transform: uppercase;
  margin-bottom: 16px;
}

.portfolio-card-text {
  font-size: 32px;
  margin-bottom: 24px;
  letter-spacing: 0;
  color: var(--border-color);
}

.portfolio-card-accent-text {
  font-weight: 600;
  color: var(--light);
}

.portfolio-app-link {
  font-weight: 300;
  font-size: 18px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--light);
}

.portfolio-button-wrapp {
  margin-top: 32px;
}

.portfolio-button {
  position: relative;
  font-size: 16px;
  padding: 8px 8px 8px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  min-height: 40px;
  max-width: 170px;
  width: 100%;
  overflow: hidden;
}

.portfolio-button:hover,
.portfolio-button:focus {
  min-width: 190px;
  max-width: 190px;
}

.portfolio-card-icon {
  fill: currentColor;
  width: 24px;
  height: 24px;
  transition: all 0.1s ease;
}

.icon-false {
  opacity: 1;
  transform: scale(1);
}

.icon-true {
  opacity: 0;
  transform: scale(0.5);
  position: absolute;
  right: 25px;
}

.portfolio-button:hover .icon-false {
  opacity: 0;
  transform: scale(0.5);
}

.portfolio-button:hover .icon-true {
  opacity: 1;
  transform: scale(1);
}
/*  */
/* Portfolio main page CSS / */
/*  */

/*  */
/* Adaptive */
/*  */

/*  */
/* Adaptive / */
/*  */
