/* 
HERO 
*/
.commerce-hero-wrapp h1 {
  background: linear-gradient(99.05deg, #f1d5b2 0.07%, #ffffff 106.32%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

/* 
Project Idea:
*/
.commerce-idea-title {
  background: linear-gradient(99.05deg, #f1d5b2 0.07%, #ffffff 106.32%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.commerce-idea-section {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.25) 100%
  );
}

.idea-decorate-items {
  padding: 0;
  background: transparent;
  border-radius: 0;
  gap: 10px;
  margin-top: 12px;
  padding-left: 26px;
}

/* 
The development phase
*/
.phase-strong-text {
  font-weight: 700;
  font-size: 18px;
}

.strong-decorate-items li::before {
  content: '•';
  position: absolute;
  left: -1em;
  font-size: 1.2em;
  color: var(--light);
  line-height: 1;
  top: 0.15em;
}

/* 
Features
*/
.features-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
  align-items: start;
}
.features-items li {
  background: rgba(255, 255, 255, 0.09);
  border-radius: 12px;
  padding: 24px;
  height: 100%;
}

/* 
Screens
*/
.commerce-screens {
  background: linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 0) 30%),
    linear-gradient(0deg, #000 0%, rgba(0, 0, 0, 0) 30%),
    url('/images/portfolio/e-commerce/screens.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 1100px;
  padding-bottom: 60px;
}

/* 
Prototype
*/
.prototype-pages-section {
  padding-bottom: 52px;
}

.commerce-proto {
  background: url('/images/portfolio/proto-bg-2.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 649px;
}
