/* GLOBAL CSS for Portfolio pages */
/*  */
.portfolio-section {
  padding-top: 112px;
}

.portfolio-container {
  width: 100%; /* or max-width: 1220px(figma) */
  padding-left: 110px;
  padding-right: 110px;
  margin: 0 auto;
}

.portfolio-title {
  font-size: 56px;
}

.no-transform {
  text-transform: none;
}

.portfolio-subtitle {
  font-size: 40px;
}

.portfolio-sub-title {
  font-size: 24px;
  letter-spacing: 0.06em;
}

.portfolio-text {
  font-weight: 300;
  line-height: 1.5;
}

.portfolio-upper-text {
  text-transform: uppercase;
}

.portfolio-bgc-img {
  background-color: var(--bgc-light);
  border-radius: 12px;
}
/*  */
/* GLOBAL CSS for Portfolio pages / */
/*  */

/* Portfolio main page CSS */
/*  */
/* HERO: */
/*  */
.hero-portfolio-section {
  padding-top: 230px;
}

.portfolio-hero-container {
  display: flex;
  justify-content: center;
}

.portfolio-hero-wrapp {
  display: flex;
  flex-direction: column;
  text-align: start;
  align-items: flex-start;
  justify-content: start;
}

.portfolio-hero-text {
  font-size: 56px;
  margin-top: 60px;
  letter-spacing: 0.06em;
  color: var(--border-color);
}
/*  */
/* CARDS: */
/*  */
/* .portfolio-cards-container {
  margin-top: 112px;
} */

.portfolio-cards {
  display: flex;
  flex-direction: column;
  gap: 112px;
}

.portfolio-cards-container {
  margin: 0;
  text-align: left;
}

.portfolio-card {
  display: flex;
  gap: 32px;
  align-items: flex-end;
}

.portfolio-card-img {
  position: relative;
  width: 594px;
  height: 490px;
}

.portfolio-card-img::after {
  /* 🩼 */
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  inset: 0;
  background: transparent;
}

.portfolio-card-img-wrapp {
  position: relative;
  width: 594px;
  height: 490px;
}
.portfolio-watermark {
  /* all svg icon-watermark */
  position: absolute;
  z-index: 3;
  opacity: 0.2;
  width: 70px;
  height: 62px;
}

.watermark-cleaning {
  /* Cleaning-APP */
  bottom: 23px;
  right: 18px;
}

.watermark-ecommerce {
  /* E-commerce */
  bottom: 190px;
  left: 44px;
}

.watermark-food {
  /* FOOD & DRINK */
  bottom: 10px;
  right: 120px;
}

.portfolio-card-wrapp > h3 {
  text-transform: uppercase;
  margin-bottom: 16px;
}

.portfolio-card-text {
  font-size: 32px;
  margin-bottom: 24px;
  letter-spacing: 0.06em;
  color: var(--border-color);
}

.portfolio-card-text-food {
  letter-spacing: 0.04em;
}

.portfolio-card-accent-text {
  font-weight: 600;
  color: var(--light);
}

.portfolio-app-link {
  font-weight: 300;
  font-size: 18px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--light);
}

.portfolio-button-wrapp {
  margin-top: 32px;
}

.portfolio-button {
  position: relative;
  font-size: 16px;
  padding: 8px 8px 8px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  min-height: 40px;
  max-width: 170px;
  width: 100%;
  overflow: hidden;
}

.portfolio-button:hover,
.portfolio-button:focus {
  min-width: 190px;
  max-width: 190px;
}

.portfolio-card-icon {
  fill: currentColor;
  width: 24px;
  height: 24px;
  transition: all 0.1s ease;
}

.icon-false {
  opacity: 1;
  transform: scale(1);
}

.icon-true {
  opacity: 0;
  transform: scale(0.5);
  position: absolute;
  right: 25px;
}

.portfolio-button:hover .icon-false {
  opacity: 0;
  transform: scale(0.5);
}

.portfolio-button:hover .icon-true {
  opacity: 1;
  transform: scale(1);
}
/*  */
/* Portfolio main page CSS / */
/*  */

/*  */
/* Adaptive */
/*  */

/*  */
/* Adaptive / */
/*  */
