.running-line-section {
  position: relative;
  overflow: hidden;
  padding: clamp(30px, 5vw, 60px) 0 clamp(30px, 5vw, 60px);
}

.running-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
  -webkit-mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 12.5%,
    rgba(0, 0, 0, 1) 87.5%,
    rgba(0, 0, 0, 0) 100%
  );
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 12.5%,
    rgba(0, 0, 0, 1) 87.5%,
    rgba(0, 0, 0, 0) 100%
  );
}

.running-list {
  display: flex;
  gap: clamp(60px, 5vw, 100px);
  justify-content: flex-start;
  align-items: center;
  animation: scrollLine 300s linear infinite;
  will-change: transform;
  flex-shrink: 0;
}

@keyframes scrollLine {
  0% {
    transform: translateX(0);
  }
  99.99% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.running-item {
  flex-shrink: 0;
  overflow: hidden;
  padding: 0;
}

.running-img {
  object-fit: contain;
  height: clamp(30px, 5vw, 40px);
  opacity: var(--opacity-standart);
}