/* MOB STYLE for element on HOME page */

@media (max-width: 767px) {
  /* NAVIGATION */
  .home-nav-container {
    justify-content: center;
  }
  .nav-list {
    display: none;
  }

  /* HERO */
  .hero-section,
  .based-on-section,
  .products-section,
  .prices-section {
    padding-bottom: var(--mob-padding-section);
  }
  .hero-content {
    padding-top: 70px;
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
  }
  .hero-title {
    font-size: 46px;
  }
  .hero-text {
    text-align: left;
    font-size: 32px;
    margin: 50px auto;
  }
  .hero-btn {
    margin: 0 auto;
    max-width: 220px;
    font-size: 30px;
  }
  .hero-btn-container {
    width: 300px;
    margin: 0 auto;
  }
  .hero-bg-images,
  .hero-scroll-link,
  .hero-scroll-icon-top,
  .hero-scroll-icon-bottom {
    display: none;
  }

  /* BASED ON */
  .based-on-container > h2 {
    font-size: 40px;
    margin-bottom: var(--mob-margin-title);
  }
  .based-on-list-container {
    flex-direction: column;
  }
  .based-on-list-container {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
  }
  .based-on-item {
    width: 340px;
    margin: 0 auto;
  }
  .based-on-title {
    font-size: 30px;
  }
  #video-based {
    display: none;
  }

  /* PRODUCTS */
  .products-title-link > h3 {
    text-align: center;
    font-size: var(--mob-title-font-size);
    margin-bottom: var(--mob-margin-title);
  }
  .products-wrap {
    gap: 10px;
  }
  .products-row {
    gap: 10px;
  }
  .products-item {
    width: 60px;
    height: 60px;
  }

  /* PRICES */
  .prices-container > h4 {
    text-align: center;
    font-size: var(--mob-title-font-size);
    margin-bottom: var(--mob-margin-title);
    background: linear-gradient(330deg, #dc3545 40%, #ffc107 70%, #fd7e14 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .prices-list {
    display: flex;
    flex-direction: column;
  }
  .prices-item {
    padding: 20px;
    height: 440px;
    width: 340px;
    min-width: none;
    max-width: none;
  }
  .prices-item-container {
    gap: 20px;
  }
  .order-container {
    gap: 20px;
  }
  .order-btn {
    padding: 10px 18px;
  }
  .prices-bg-images {
    left: 0;
    bottom: 50%;
  }

  /* PARTNERSHIP */
  .partner-title-container {
    text-align: center;
  }
  .partner-title-wrap {
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  .partner-text {
    max-width: none;
    margin: 0 auto;
  }
  .partner-link-pc.partner-link-pc {
    display: none;
  }
  .partner-link-address.partner-link-mob {
    display: block;
  }
  .partner-link-address {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto 6px;

    max-width: 300px;
    max-height: 60px;
    padding: 10px;
    border-radius: 30px;
  }

  /* RUNNING LINE */
  .running-list {
    gap: 6px;
  }
  .running-img {
    width: 120px;
  }

  /* TEAM */
  .team-section {
    padding-bottom: 270px;
  }
  .team-title {
    text-align: center;
    font-size: var(--mob-title-font-size);
    margin-bottom: 30px;
  }
  .team-content {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .team-description {
    margin-left: 0;
  }
  .team-text {
    font-size: var(--text-standart-font-size);
    text-align: center;
    max-width: none;
    margin-left: 0;
  }
  .team-content {
    align-items: center;
    gap: 30px;
  }
  .team-bg-img {
    transform: translate(-50%, 0%);
    width: 70%;
    height: 70%;
    opacity: 0.7;
  }
  .team-list {
    gap: 10px;
  }
  .advantage {
    font-size: 36px;
  }

  /* CAREER */
  .career-container > h5 {
    text-align: center;
    font-size: var(--mob-title-font-size);
    margin-bottom: var(--mob-margin-title);
  }
  .career-section {
    margin-top: 60px;
  }

  /* CONTACTS */
  .contacts-container > h5 {
    text-align: center;
    font-size: var(--mob-title-font-size);
    margin-bottom: var(--mob-margin-title);
  }
  .contacts-section {
    font-size: var(--mob-title-font-size);
    margin-bottom: var(--mob-margin-title);
  }
  .contacts-bg-img {
    left: 0;
    bottom: 10%;
  }
  .contacts-social-container {
    flex-direction: column;
    gap: 60px;
  }
  .social-list {
    gap: 20px;
  }
  .social-link {
    font-size: 26px;
  }
  .contacts-content {
    margin-left: 0;
  }
  .contacts-text {
    max-width: 380px;
    text-align: left;
    margin-left: 0;
    font-size: 26px;
  }
  .contact-btn {
    margin: 50px 0 30px;
    max-width: 200px;
    font-size: 30px;
  }
  .adress-container {
    margin: 0;
  }
  .address-list {
    align-items: start;
    flex-direction: column;
    margin-top: 20px;
    gap: 20px;
  }
  .address-flex-container {
    align-items: center;
    font-size: 26px;
  }
}
/* / */
/* _________________ */

/* MOB + TABLET */
@media (max-width: 1024px) {
  /* PARTNERSHIP */
  .partner-title {
    text-align: center;
    font-size: var(--mob-title-font-size);
    margin-bottom: 10px;
  }
  .partner-text {
    font-size: var(--text-standart-font-size);
    max-width: 400px;
    text-align: center;
  }
  .partner-link {
    font-size: var(--text-standart-font-size);
    border-radius: 180px;
    max-width: 180px;
    max-height: 180px;
  }
  .partner-list {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
  }
  .partner-item {
    font-size: var(--text-standart-font-size);
    height: 100px;
  }

  /* FOOTER */
  .footer-container {
    flex-direction: column-reverse;
    justify-content: center;
    text-align: center;
    gap: 10px;
  }
}
/* / */

/* _________________ */

/* TABLET STYLE for element on HOME page */
@media (min-width: 768px) and (max-width: 1024px) {
  /* HERO */
  .hero-bg-images,
  .hero-scroll-link,
  .hero-scroll-icon-top,
  .hero-scroll-icon-bottom,
  .prices-bg-images {
    display: block;
  }
  .hero-btn-container {
    display: flex;
    align-items: center;
    justify-content: left;
    max-width: none;
    gap: 30px;
  }

  /* BASED ON */
  .based-on-list-container {
    flex-direction: column;
  }
  .based-on-list-container {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
  }
  .based-on-item {
    width: 340px;
    margin: 0 auto;
  }
  .based-on-title {
    font-size: 30px;
  }

  /* PRICES */
  .prices-list {
    gap: 10px;
    margin: 0 auto 20px;
  }
  .prices-item {
    min-width: 120px;
    max-width: calc(20% - 10px);
    height: 420px;
    margin: 0 auto;
    padding: 10px ;
  }
  .service-name {
    font-size: 20px;
  }
  .service-description {
    font-size: 12px;
  }
  .about-service {
    font-size: 16px;
  }
  .price {
    font-size: 16px;
  }
  .order-btn {
    font-size: 16px;
    padding: 10px 16px;
  }

  /* CONTACTS */
  .contacts-bg-img {
    left: 0;
    bottom: 0;
  }
  .contacts-social-container {
    flex-direction: column;
    gap: 60px;
  }
  .contacts-text {
    max-width: none;
    text-align: left;
  }
  .contact-btn {
    margin: 60px 0;
    max-width: 200px;
  }
  .adress-container {
    margin: 0;
  }
  .address-list {
    align-items: start;
    flex-direction: column;
    gap: 30px;
    margin-top: 0;
  }
}
/* / */

/* _________________ */

/* 🩼 for PRICES */
@media (min-width: 1025px) and (max-width: 1200px) {
  .prices-item {
    min-width: 170px;
    max-width: calc(20% - 20px);
  }
}