/* GLOBAL CSS for Portfolio pages */

/*  
SECTION
CONTAINER
*/
.portfolio-container {
  width: 100%;
  margin: 0 auto;
  padding-left: clamp(20px, 5vw, 110px);
  padding-right: clamp(20px, 5vw, 110px);
  overflow: hidden;
}

.portfolio-section {
  /* 112 */
  padding-top: clamp(90px, 5vw, 112px);
}

.portfolio-pages-section {
  /* 80 */
  padding-bottom: clamp(60px, 5vw, 80px);
}

.padding-bottom-section {
  /* 112 */
  padding-bottom: clamp(90px, 5vw, 112px);
}

.margine-bottom {
  /* 112 */
  margin-bottom: clamp(90px, 5vw, 112px);
}

/* === TABLET (768–1023px) === */
@media (min-width: 768px) and (max-width: 1023px) {
  .portfolio-container {
    max-width: 960px;
    padding: 0 40px;
  }
}

/* === DESKTOP (≥1024px) === */
@media (min-width: 1024px) {
  .portfolio-container {
    max-width: 1440px;
    padding: 0 110px;
  }
}

/* 
TEXT 
TITLE
*/
.left-title-hero {
  text-transform: none;
  font-size: clamp(40px, 7vw, 56px);
  letter-spacing: -0.02em;
  margin-bottom: clamp(20px, 10vw, 40px);
}

.portfolio-title {
  font-size: clamp(40px, 10vw, 56px);
}

.no-transform-h2-title,
.no-transform {
  text-transform: none;
}

.hero-no-transform-h2-title {
  text-transform: none;
  font-weight: 600;
  font-size: clamp(20px, 5vw, 40px);
}

.uppercase-h4-title {
  letter-spacing: 0em;
}

.portfolio-subtitle {
  font-size: clamp(20px, 10vw, 40px);
}

.portfolio-sub-title {
  font-size: clamp(10px, 10vw, 24px);
  letter-spacing: 0.06em;
}

.portfolio-text {
  font-weight: 300;
  line-height: 1.5;
}

.portfolio-upper-text {
  text-transform: uppercase;
}

/*  */

/* 
Portfolio main page CSS 
*/

/* 
HERO: 
*/
.hero-portfolio-section {
  padding-top: clamp(120px, 20vw, 230px);
}

.portfolio-hero-container {
  display: flex;
  justify-content: center;
}

.portfolio-hero-wrapp {
  display: flex;
  flex-direction: column;
  text-align: start;
  align-items: flex-start;
  justify-content: start;
}

.portfolio-hero-text {
  font-size: clamp(36px, 5vw, 56px);
  margin-top: clamp(30px, 5vw, 60px);
  letter-spacing: 0.06em;
  color: var(--border-color);
}

/* 
CARDS: 
*/
.portfolio-card {
  display: flex;
  gap: clamp(12px, 5vw, 32px);
  align-items: flex-end;
}

.portfolio-card-img,
.portfolio-card-img-wrapp {
  position: relative;
  width: 594px;
  height: 490px;
}

.portfolio-card-img::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  inset: 0;
  background: transparent;
}

.portfolio-bgc-img {
  /* 
🎆 bgc
*/
  background-color: var(--bgc-light);
  border-radius: 12px;
}

.portfolio-watermark {
  /* all svg icon-watermark */
  position: absolute;
  z-index: 3;
  opacity: 0.2;
  width: 70px;
  height: 62px;
}

.watermark-cleaning {
  /* Cleaning-APP */
  bottom: 23px;
  right: 18px;
}

.watermark-ecommerce {
  /* E-commerce */
  bottom: 190px;
  left: 44px;
}

.watermark-food {
  /* FOOD & DRINK */
  bottom: 10px;
  right: 120px;
}

.portfolio-card-wrapp > h3 {
  text-transform: uppercase;
  margin-bottom: 16px;
}

.portfolio-card-text {
  font-size: clamp(16px, 10vw, 32px);
  margin-bottom: clamp(12px, 10vw, 24px);
  letter-spacing: 0;
  color: var(--border-color);
}

.portfolio-card-accent-text {
  font-weight: 600;
  color: var(--light);
}

.portfolio-app-link {
  font-weight: 300;
  font-size: clamp(12px, 10vw, 18px);
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--light);
}

.portfolio-button-wrapp {
  margin-top: clamp(16px, 10vw, 32px);
}

.portfolio-button {
  position: relative;
  font-size: 16px;
  padding: 8px 8px 8px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  min-height: 40px;
  max-width: 170px;
  width: 100%;
  overflow: hidden;
  transition: all var(--standart-tr-cubic);
}

.portfolio-button:hover,
.portfolio-button:focus {
  min-width: 190px;
  max-width: 190px;
}

.portfolio-card-icon {
  fill: currentColor;
  width: 24px;
  height: 24px;
  transition: all 0.2s ease;
}

.icon-false {
  opacity: 1;
  transform: scale(1);
}

.icon-true {
  opacity: 0;
  transform: scale(0.5);
  position: absolute;
  right: 25px;
}

.portfolio-button:hover .icon-false {
  opacity: 0;
  transform: scale(0.5);
}

.portfolio-button:hover .icon-true {
  opacity: 1;
  transform: scale(1);
}
/* Portfolio main page CSS / */
/*  */

/*  */
/* Adaptive */
/*  */
@media (max-width: 1023) {
  .portfolio-watermark {
    /* all svg icon-watermark */
    opacity: 0.1;
    width: 30px;
    height: auto;
  }
}

@media (max-width: 1249px) {
  .portfolio-card {
    flex-direction: row;
  }
  .portfolio-card-img-wrapp {
    flex: 1 1 40%;
    max-width: 40%;
    height: auto;
  }
  .portfolio-card-wrapp {
    flex: 1 1 60%;
  }
  .portfolio-card-img {
    width: 100%;
    height: auto;
    object-fit: contain;
    display: block;
  }
}

/* === MOBILE (≤767px) === */
@media (max-width: 767px) {
  .portfolio-card.column-reverse-wrapp {
    display: flex;
    flex-direction: column-reverse;
  }
  .portfolio-card {
    flex-direction: column;
    align-items: center;
    text-align: left;
  }
  .portfolio-card-img-wrapp {
    width: 100%;
    max-width: 100%;
  }
  .portfolio-card-img {
    width: 100%;
    height: auto;
  }
}

/* === TABLET (768–1023px) === */
@media (min-width: 768px) and (max-width: 1023px) {
  .portfolio-card-text {
    font-size: clamp(14px, 10vw, 20px);
    margin-bottom: 10px;
  }
  .portfolio-app-link {
    font-size: clamp(10px, 10vw, 16px);
  }
  .portfolio-button-wrapp {
    margin-top: 10px;
  }
  .portfolio-card {
    gap: 20px;
  }
  .portfolio-card-wrapp > h3 {
    margin-bottom: 5px;
  }
}
