<!-- HERO -->
<section class="portfolio-section hero-portfolio-section">
  <div class="portfolio-container">
    <div class="portfolio-hero-container">
      <div class="portfolio-hero-wrapp">
        <h1 class="portfolio-title">
          We empower businesses to embrace <br />a mobile-first strategy
        </h1>
        <p class="portfolio-hero-text portfolio-text">
          Explore our portfolio to find the solution <br />tailored to your
          needs
        </p>
      </div>
    </div>
  </div>
</section>
<!-- hero / -->

<!-- CARDS -->
<section class="portfolio-section portfolio-cards-section">
  <div class="portfolio-container">
    <h2 class="portfolio-subtitle">Works</h2>

    <div class="portfolio-cards-container">
      <div class="portfolio-cards">
        <!-- | -->
        <div class="portfolio-card">
          <div class="portfolio-card-img-wrapp">
            <picture class="portfolio-card-img">
              <source
                srcset="
                  /images/portfolio/cleaning1x.webp 1x,
                  /images/portfolio/cleaning2x.webp 2x,
                  /images/portfolio/cleaning3x.webp 3x
                "
                type="image/webp"
              />
              <img
                src="/images/portfolio/cleaning1x.png"
                alt="Cleaning-APP"
                width="594"
                height="490"
              />
            </picture>
            <svg
              class="portfolio-watermark watermark-cleaning"
              width="1"
              height="1"
            >
              <use href="/icons/sprite.svg#icon-watermark"></use>
            </svg>
          </div>

          <div class="portfolio-card-wrapp">
            <h3 class="portfolio-sub-title">Cleaning-APP</h3>
            <p class="portfolio-card-text portfolio-text">
              Digitize your cleaning business with an app for
              <span class="portfolio-card-accent-text"
                >fast booking and scheduling.</span
              >
              Deliver a seamless customer journey and
              <span class="portfolio-card-accent-text"
                >grow brand loyalty.</span
              >
            </p>
            <a href="/" class="portfolio-app-link">Mobile App</a>  <!-- 📍 ADD a LINK of APP (if it's link) -->
           
            <div class="portfolio-button-wrapp">
            <a href="/" class="portfolio-button"
              >View more
              <svg class="portfolio-card-icon icon-true" width="1" height="1">
                <use href="/icons/sprite.svg#icon-ExpandTrue"></use>
              </svg>
              <svg class="portfolio-card-icon icon-false" width="1" height="1">
                <use href="/icons/sprite.svg#icon-ExpandFalse"></use>
              </svg>
            </a>
            </div>
          </div>
        </div>
        <!-- || -->
        <div class="portfolio-card"></div>
        <!-- ||| -->
        <div class="portfolio-card"></div>
      </div>
    </div>
  </div>
</section>
<!-- cards / -->
