footer {
  padding: 0 0 30px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
}

.footer-text {
  font-size: 12px;
  font-weight: 200;
  opacity: 0.8;
  color: var(--light);
}

.github-icon {
  width: 30px;
  height: 30px;
  color: var(--light);
}