.team-title {
  text-align: right;
  font-size: 72px;
  font-weight: var(--title-standart-font-weight);
  line-height: var(--text-standart-line-height);
  margin-bottom: var(--margin-bottom);
  color: var(--light);
}

.team-title-accent {
  background: linear-gradient(330deg, #ffc107 40%, #fd7e14 60%, #dc3545 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
}

.team-section {
  padding-bottom: var(--padding-section);
  position: relative;
  z-index: 1;
}

.team-description {
  margin-left: auto;
}

.team-text {
  font-size: 30px;
  font-weight: 200;
  line-height: var(--text-standart-line-height);
  text-align: right;
  max-width: 450px;
  margin-left: auto;
}

.team-content {
  display: flex;
  align-items: flex-start;
  gap: 60px;
}

.team-bg-img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  background-image: url('/images/logo/icononly-transp.png');
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  pointer-events: none;
  opacity: 0.6;
  z-index: -1;
}

/*  TEAM list 👩🏻‍💻👨🏼‍💻  */
.team-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.advantage {
  font-size: 50px;
  font-weight: var(--title-standart-font-weight);
  line-height: var(--text-standart-line-height);
  color: var(--light);
  opacity: 0.8;
  transition: all var(--standart-tr-cubic);
  padding: 6px;
}

.advantage.active {
  opacity: 1;
  transform: scale(1.1);
  background: linear-gradient(
    330deg,
    #dc3545 10%,
    #fd7e14 50%,
    #ffc107 80%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
