.hero-content {
    color: var(--white);
    text-align: left;
    padding-top: 90px;
  }
  
  .hero-title {
    margin: 0;
    font-size: 72px;
    text-transform: uppercase;
    font-weight: var(--title-standart-font-weight);
    background: linear-gradient(
      330deg,
      #f8f9fa 0%,
      #ffc107 30%,
      #e83e8c 50%,
      #007bff 70%,
      #20f3dd 90%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  
    color: var(--light);
  }
  
  .hero-text {
    font-size: 50px;
    max-width: 820px;
    margin-bottom: var(--margin-bottom);
    font-weight: var(--text-standart-font-weight);
    line-height: var(--text-standart-line-height);
  
    background: linear-gradient(
      330deg,
      #f8f9fa 0%,
      #ffc107 20%,
      #fd7e14 40%,
      #e83e8c 70%,
      #007bff 90%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .hero-btn {
    font-size: 50px;
    color: var(--accnet-color);
    /* background: rgba(255, 255, 255, 0.05); */
    background: transparent;
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 30px;
    padding: 12px 24px;
    align-items: center;
    justify-content: center;
    animation: subtlePulse 2s infinite, subtleTextPulse 1.5s ease-in-out infinite;
    transition: var(--transition-bg), var(--transition-cl);
  }
  
  .hero-btn:hover {
    background: rgba(255, 255, 255, 0.15);
    color: var(--blue);
  }
  
  .hero-section {
    position: relative;
    z-index: 1;
    padding-bottom: 90px;
  }
  
  /* .hero-bg-images {
    position: absolute;
    bottom: -100px;
    right: -100px;
    width: 75%;
    height: 75%;
  
    background-image: url('/images/ios-banner.webp');
    background-position: bottom right;
    background-size: contain;
    background-repeat: no-repeat;
  
    pointer-events: none;
    z-index: -1;
    opacity: 0.5;
  } */
  
  .hero-bg-images {
    position: absolute;
    bottom: -172px;
    right: 0;
    width: 75%;
    height: 75%;
  
    background-image: url('/images/ios-banner.webp');
    background-position: bottom right;
    background-size: contain;
    background-repeat: no-repeat;
  
    pointer-events: none;
    z-index: -1;
    opacity: 0.5;
  }
  
  .hero-btn-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 650px;
  }
  
  .hero-scroll-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1px;
    color: var(--accnet-color);
    position: relative;
    text-decoration: none;
  }
  
  .hero-scroll-icon-top {
    opacity: 0.2;
    margin-bottom: -119px;
  }
  
  .hero-scroll-icon-top,
  .hero-scroll-icon-bottom {
    fill: currentColor;
    width: 150px;
    height: 150px;
    opacity: 0.2;
    transition: var(--transition-tr), var(--transition-op);
  }
  
  .hero-scroll-icon-bottom {
    opacity: var(--opacity-standart);
  }
  
  .hero-scroll-link:hover .hero-scroll-icon-top,
  .hero-scroll-link:focus .hero-scroll-icon-top {
    opacity: var(--opacity-standart);
    transform: scale(1.1);
  }
  
  .hero-scroll-link:hover .hero-scroll-icon-bottom,
  .hero-scroll-link:focus .hero-scroll-icon-bottom {
    opacity: 1;
    transform: scale(1.3);
  }
  