.career-container > h5 {
  text-align: center;
  background: linear-gradient(
    330deg,
    #20c997 30%,
    #28a745 50%,
    #ffc107 70%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.career-section {
  padding-bottom: var(--padding-section);
}
