.partner-container > h5 {
  text-align: center;
  background: linear-gradient(
    330deg,
    #e83e8c 10%,
    #dc3545 50%,
    #fd7e14 80%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.partner-section {
  padding-bottom: var(--padding-section);
}
