.partner-section {
  padding-bottom: var(--padding-section);
}

.partner-title {
  font-size: 50px;
  font-weight: var(--title-standart-font-weight);
  line-height: var(--text-standart-line-height);
  text-align: left;
  text-transform: uppercase;
  padding-bottom: 30px;

  background: linear-gradient(330deg, #e83e8c 10%, #dc3545 50%, #fd7e14 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.partner-title-wrap {
  display: flex;
  margin-left: auto;
}

.partner-title-container {
  display: inline-block;
  text-align: left;
  margin-left: auto;
}

.partner-text {
  font-size: 30px;
  line-height: var(--text-standart-line-height);
  font-weight: 200;
  max-width: 700px;
  margin: 0 0 10px;
}

.partner-list {
  display: flex;
}

.partner-item {
  font-size: 30px;
  padding: 20px;
  line-height: var(--text-standart-line-height);
  font-weight: 200;
}
