.partner-container > h5 {
  text-align: center;
  background: linear-gradient(
    330deg,
    #007bff 0%,
    #6610f2 20%,
    #6f42c1 40%,
    #dc3545 60%,
    #e83e8c 80%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.partner-section {
  padding-bottom: var(--padding-section);
}
