.prices-section {
  padding-bottom: var(--padding-section);
  position: relative;
  z-index: 1;
}

.prices-bg-images {
  position: absolute;
  right: -10%;
  bottom: 0;
  width: 90%;
  height: 90%;
  background-image: url('/images/bg-img-21-reverse.png');
  background-position: bottom right;
  background-size: contain;
  background-repeat: no-repeat;
  pointer-events: none;
  opacity: 0.4;
  z-index: -1;
}

.prices-container > h4 {
  background: linear-gradient(330deg, #dc3545 75%, #ffc107 95%, #fd7e14 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.prices-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0;
  margin: 10px 0;
}

.prices-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: start;

  width: calc(50% - 20px);
  height: 380px;
  margin: 0;

  border-radius: 30px;
  padding: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1),
    inset 0 1px 3px rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);

  transition: box-shadow var(--standart-tr-cubic),
    border-radius var(--standart-tr-cubic), var(--transition-cl);
  animation: gradientFlow 3s infinite linear;
}

.prices-item-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%; 
}

.service-name {
  font-weight: var(--title-standart-font-weight);
  font-size: 50px;
  color: var(--red);
  text-align: start;
}

.service-description {
  text-align: start;
  font-size: 20px;
  font-weight: 500;
  line-height: var(--text-standart-line-height);
  max-width: 320px;
}

.about-service{
  text-align: start;
  line-height: var(--text-standart-line-height);
  font-size: 20px;
  font-weight: 500;
}

.about-service span {
  font-weight: 200;
}

.order-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto 0 0;
}

.price {
  font-size: 30px;
  font-weight: 500;
  color: var(--yellow);
}

.order-btn {
  align-items: center;
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  color: var(--yellow);
  background: transparent;
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 30px;
  padding: 10px 20px;
  max-height: 100%;
  transition: var(--transition-bg), var(--transition-cl);
}

.order-btn:hover {
  background: rgba(255, 255, 255, 0.15);
  color: var(--red);
}
