.prices-section {
  padding-bottom: var(--padding-section);
  position: relative;
  z-index: 1;
}

.prices-bg-images {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: url('/images/bg-img-21-reverse.png');
  background-position: bottom right;
  background-size: contain;
  background-repeat: no-repeat;
  pointer-events: none;
  opacity: 0.4;
  z-index: -1;
}

.prices-container > h4 {
  background: linear-gradient(330deg, #dc3545 75%, #ffc107 95%, #fd7e14 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.prices-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 0;
  margin: 10px auto;
}

.prices-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: start;

  min-width: 210px;
  max-width: calc(20% - 10px);
  height: 560px;
  margin: 0 auto;

  color: rgba(248, 249, 250, 0.8);
  border-radius: 30px;
  padding: 20px 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1),
    inset 0 1px 3px rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);

  transition: box-shadow var(--standart-tr-cubic),
    border-radius var(--standart-tr-cubic), var(--transition-cl);
  animation: gradientFlow 3s infinite linear;
}

.prices-item-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%; 
}

.service-name {
  font-weight: var(--title-standart-font-weight);
  font-size: 34px;
  text-align: start;

  background: linear-gradient(330deg,#ffc107 30%,  #fd7e14 50%, #dc3545 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.service-description {
  text-align: start;
  font-size: 20px;
  font-weight: 500;
  line-height: var(--text-standart-line-height);
  color: rgba(255, 193, 7, 0.8);
}

.about-service{
  text-align: start;
  line-height: var(--text-standart-line-height);
  font-size: 20px;
  font-weight: 500;
}

.order-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: auto 0 0;
  gap: 10px;
}

.price {
  font-size: 20px;
  font-weight: 500;
  color: rgba(255, 193, 7, 0.8);
}

.order-btn {
  align-items: center;
  text-align: center;
  font-size: 26px;
  font-weight: 500;
  color: var(--red);
  background: transparent;
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 30px;
  padding: 10px 20px;
  max-height: 100%;
  transition: var(--transition-bg), var(--transition-cl);
}

.order-btn:hover {
  background: rgba(255, 255, 255, 0.15);
  color: var(--yellow);
}
