.career-container > h5 {
  text-align: center;
  background: linear-gradient(330deg, #20f3dd 20%, #ffc107 60%, #f8f9fa 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.career-section {
  padding-bottom: var(--padding-section);
}

.career-container {
  z-index: 1;
  position: relative;
}

.career-bg-img {
  position: absolute;
  right: 0;
  bottom: 20%;
  /* transform: translate(-50%, -40%); */
  width: 60%;
  height: 60%;
  background-image: url('/images/logo/icononly-transp.png');
  background-position: bottom right;
  background-size: contain;
  background-repeat: no-repeat;
  pointer-events: none;
  opacity: 0.7;
  z-index: -1;
}

.career-wrap {
  text-align: left;
  max-width: 750px;
  font-weight: 200;
  color: var(--light);
}

.career-text {
  line-height: var(--text-standart-line-height);
  font-size: 30px;
}

.career-contacts-wrap {
  display: flex;
  align-items: start;
  gap: 30px;
}

.text-career {
  line-height: var(--text-standart-line-height);
  font-size: 20px;
  font-weight: var(--text-standart-font-weight);
  margin-top: 30px;
  max-width: 350px;

  border-radius: 30px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1),
    inset 0 1px 3px rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  transition: box-shadow var(--standart-tr-cubic),
    border-radius var(--standart-tr-cubic), var(--transition-cl);
  animation: gradientFlowBased 3s infinite linear;
}

.career-scroll-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1px;
  height: 260px;
}

.career-scroll-link {
  color: var(--accent-color);
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1px;
  margin-top: auto;
  animation: subtlePulseIcon 3s infinite;
}

.career-scroll-icon {
  opacity: 0.8;
  margin-top: -82px;
}

.career-scroll-icon,
.career-scroll-icon-top {
  fill: currentColor;
  transition: var(--transition-tr), var(--transition-op);
}

.career-scroll-icon-top {
  opacity: 0.2;
}

.career-scroll-link:hover .career-scroll-icon,
.career-scroll-link:focus .career-scroll-icon {
  opacity: 1;
  transform: scale(1.3);
}

.career-scroll-link:hover .career-scroll-icon-top,
.career-scroll-link:focus .career-scroll-icon-top {
  opacity: var(--opacity-standart);
  transform: scale(1.1);
}