.team-container > h5 {
  text-align: right;
  background: linear-gradient(
    330deg,
    #ffc107 30%,
    #fd7e14 60%,
    #e83e8c 80%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.team-section {
  padding-bottom: var(--padding-section);
}

.team-text {
  font-size: var(--text-standart-font-size);
  font-weight: var(--text-standart-font-weight);
  line-height: var(--text-standart-line-height);
  text-align: right;
  max-width: 700px;
  margin-left: auto;
}
