<header>
  <nav class="home-nav container">
    <div class="home-nav-container">
      <a href="/echoapp-front/index.html">
        <img
          src="/images/fulllogo-transp.png"
          alt="logo"
          width="150px"
          height="87px"
          class="logo-nav"
        />
      </a>

      <div class="nav-list-container">
        <ul class="nav-list">
          <!-- <li><a href="/index.html" class="nav-link">Home</a></li>
          <li><a href="/pages/products.html" class="nav-link">Products</a></li>
          <li><a href="/pages/prices.html" class="nav-link">Prices</a></li>
          <li><a href="/pages/partnership.html" class="nav-link">Partnership</a></li>
          <li><a href="/pages/team.html" class="nav-link">Team</a></li>
          <li><a href="/pages/career.html" class="nav-link">Career</a></li>
          <li><a href="/pages/contacts.html" class="nav-link">Contact</a></li> -->

          <!-- /echoapp-front/ -->
          <li><a href="/echoapp-front/index.html" class="nav-link">Home</a></li>
          <li><a href="/echoapp-front/pages/products.html" class="nav-link">Products</a></li>
          <li><a href="/echoapp-front/pages/prices.html" class="nav-link">Prices</a></li>
          <li><a href="/echoapp-front/pages/partnership.html" class="nav-link">Partnership</a></li>
          <li><a href="/echoapp-front/pages/team.html" class="nav-link">Team</a></li>
          <li><a href="/echoapp-front/pages/career.html" class="nav-link">Career</a></li>
          <li><a href="/echoapp-front/pages/contacts.html" class="nav-link">Contacts</a></li>
        </ul>        
      </div>

    </div>
  </nav>
</header>
