<section class="products-section">
  <div class="products-container container">
    <div class="swiper productsSwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img
            src="/images/mocap/callrecorder/callrecorder-logo-icon.svg"
            alt="Call recorder IOS APP"
            width="300"
            height="300"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="/images/mocap/qrcode/qrcode-logo-icon.svg"
            alt="QR code IOS APP"
            width="300"
            height="300"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="/images/mocap/bluetoothscanner/bluetoothscanner.svg"
            alt="Hiden camera IOS APP"
            width="300"
            height="300"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="images/mocap/devicefinder/devicefinder-logo.svg"
            alt="Device finder IOS APP"
            width="300"
            height="300"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="/images/mocap/objectremoval/objectremoval-logo.svg"
            alt="Object removal IOS APP"
            width="300"
            height="300"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="/images/mocap/homework/homework-transparent-logo.svg"
            class="hw-castom-bgc"
            alt="Home work IOS APP"
            width="300"
            height="300"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="/images/mocap/aiplantcoin/aiplantcoin-logo.svg"
            alt="AI plant coin identifier IOS APP"
            width="300"
            height="300"
          />
        </div>
        <!-- <div class="swiper-slide">
            <img
              src="/images/mocap/auth/auth-logo.svg"
              alt="Authenticator IOS APP"
              width="300"
              height="300"
            />
          </div> -->
      </div>
    </div>

    <div class="products-title-container">
      <a href="/src/pages/products.html" class="products-title-link">
        <h2 class="products-title">Our products</h2></a
      >

      <p class="products-subtitle">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit
        pariatur repudiandae, aliquam alias perspiciatis nisi voluptas molestias
        consequatur, atque deserunt sint officiis provident delectus earum.
      </p>

      <!-- <a href="products.html" class="products-page-link"
        >more products
        <svg class="products-page-icon" width="30" height="30">
          <use href="/sprite.svg#icon-keyboard_arrow_down"></use>
        </svg>
      </a> -->
    </div>
  </div>
</section>
