<section class="prices-section">
  <div class="prices-container container">

    <h3>Prices</h3>

    <ul class="prices-list">

      <li class="prices-item">
        <div class="prices-item-container">
          <h4 class="service-name">Service name</h4>
          <p class="about-service">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque
            provident in dignissimos aperiam. Sequi voluptate quidem dolor
            cumque est architecto!
          </p>
          <p class="price">100$</p>
          <button type="button" class="order-btn">Order</button>
        </div>
      </li>

      <li class="prices-item">
        <div class="prices-item-container">
          <h4 class="service-name">Service name</h4>
          <p class="about-service">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore quod
            cupiditate veritatis laboriosam temporibus. Enim nihil reprehenderit
            quis aperiam adipisci!
          </p>
          <p class="price">200$</p>
          <button type="button" class="order-btn">Order</button>
        </div>
      </li>

      <li class="prices-item">
        <div class="prices-item-container">
          <h4 class="service-name">Service name</h4>
          <p class="about-service">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis,
            tempore?
          </p>
          <p class="price">300$</p>
          <button type="button" class="order-btn">Order</button>
        </div>
      </li>

      <li class="prices-item">
        <div class="prices-item-container">
          <h4 class="service-name">Service name</h4>
          <p class="about-service">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis
            quidem voluptatibus atque distinctio, doloribus dolores!
          </p>
          <p class="price">400$</p>
          <button type="button" class="order-btn">Order</button>
        </div>
      </li>

      <li class="prices-item">
        <div class="prices-item-container">
          <h4 class="service-name">Service name</h4>
          <p class="about-service">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam
            voluptate sunt autem? Possimus fugit itaque perferendis dignissimos,
            explicabo est ea!
          </p>
          <p class="price">500$</p>
          <button type="button" class="order-btn">Order</button>
        </div>
      </li>

      <li class="prices-item">
        <div class="prices-item-container">
          <h4 class="service-name">Service name</h4>
          <p class="about-service">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum
            recusandae repellendus hic minus illo facilis.
          </p>
          <p class="price">600$</p>
          <button type="button" class="order-btn">Order</button>
        </div>
      </li>

      <li class="prices-item">
        <div class="prices-item-container">
          <h4 class="service-name">Service name</h4>
          <p class="about-service">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore
            quasi, fugiat laborum laudantium rerum similique sequi nobis. Rerum,
            similique beatae?
          </p>
          <p class="price">1000$</p>
          <button type="button" class="order-btn">Order</button>
        </div>
      </li>

      <li class="prices-item">
        <div class="prices-item-container">
          <h4 class="service-name">Service name</h4>
          <p class="about-service">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis,
            praesentium?
          </p>
          <p class="price">15000$</p>
          <button type="button" class="order-btn">Order</button>
        </div>
      </li>

    </ul>
  </div>
</section>
