<section class="prices-section" id="prices-section">
  <div class="prices-container container">
    <h4 class="title">Prices</h4>

    <ul class="prices-list">
      <li class="prices-item">
        <div class="prices-item-container">
          <h4 class="service-name">Service name</h4>
          <p class="about-service">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus
            tempore reprehenderit aperiam eos, animi, minus placeat maiores
            blanditiis molestiae earum autem aut, pariatur quas voluptatibus!
            Inventore harum, quisquam voluptates, sint illum dolores tenetur
            modi obcaecati rem voluptatum accusantium? Eos voluptatem maxime
            impedit quod corrupti voluptate voluptatum magni quas labore.
            Dignissimos.
          </p>
          <div class="order-container">
            <p class="price">10$</p>
            <button type="button" class="order-btn">Order</button>
          </div>
        </div>
      </li>

      <li class="prices-item">
        <div class="prices-item-container">
          <h4 class="service-name">Service name</h4>
          <p class="about-service">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis,
            praesentium?
          </p>
          <div class="order-container">
            <p class="price">333$</p>
            <button type="button" class="order-btn">Order</button>
          </div>
        </div>
      </li>

      <li class="prices-item">
        <div class="prices-item-container">
          <h4 class="service-name">Service name</h4>
          <p class="about-service"></p>
          <div class="order-container">
            <p class="price">$</p>
            <button type="button" class="order-btn">Order</button>
          </div>
        </div>
      </li>

      <li class="prices-item">
        <div class="prices-item-container">
          <h4 class="service-name">Service name</h4>
          <p class="about-service">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod labore
            nobis quaerat mollitia iste dolorem eaque esse architecto, fugiat
            tenetur!
          </p>
          <div class="order-container">
            <p class="price">1100$</p>
            <button type="button" class="order-btn">Order</button>
          </div>
        </div>
      </li>

      <li class="prices-item">
        <div class="prices-item-container">
          <h4 class="service-name">Service name</h4>
          <p class="about-service"></p>
          <div class="order-container">
            <p class="price">$</p>
            <button type="button" class="order-btn">Order</button>
          </div>
        </div>
      </li>

      <li class="prices-item">
        <div class="prices-item-container">
          <h4 class="service-name">Service name</h4>
          <p class="about-service"></p>
          <div class="order-container">
            <p class="price">$</p>
            <button type="button" class="order-btn">Order</button>
          </div>
        </div>
      </li>

      <!-- <li class="prices-item">
        <div class="prices-item-container">
          <h4 class="service-name">Service name</h4>
          <p class="about-service"></p>
          <div class="order-container">
            <p class="price">$</p>
            <button type="button" class="order-btn">Order</button>
          </div>
        </div>
      </li>

      <li class="prices-item">
        <div class="prices-item-container">
          <h4 class="service-name">Service name</h4>
          <p class="about-service"></p>
          <div class="order-container">
            <p class="price">$</p>
            <button type="button" class="order-btn">Order</button>
          </div>
        </div>
      </li> -->
    </ul>
  </div>

  <div class="prices-bg-images"></div>

  <button id="scroll-button" class="hidden">
    <svg class="scroll-icon" width="1" height="1">
      <use href="/icons/sprite.svg#icon-keyboard_arrow_down"></use>
    </svg>
  </button>
  
</section>
