<section class="products-section">
  <div class="products-container container">
    <div class="products-title-container">
      <a href="/pages/products.html" class="products-title-link">
        <h3 class="products-title">Our products</h3>
      </a>
    </div>
  </div>

  <!-- \ -->

  <div class="first-products-list-container">
    <ul class="first-products-list" id="first-products-list">
      <li class="first-products-item">
        <img
          src="/images/mocap/callrecorder/callrecorder-logo-icon.svg"
          alt="Call recorder IOS APP"
          width="130"
          height="130"
        />
      </li>
      <li class="first-products-item">
        <img
          src="/images/mocap/qrcode/qrcode-logo-icon.svg"
          alt="QR code IOS APP"
          width="130"
          height="130"
        />
      </li>
      <li class="first-products-item">
        <img
          src="/images/mocap/bluetoothscanner/bluetoothscanner.svg"
          alt="Hidden camera IOS APP"
          width="130"
          height="130"
        />
      </li>
      <li class="first-products-item">
        <img
          src="/images/mocap/objectremoval/objectremoval-logo.svg"
          alt="Object removal IOS APP"
          width="130"
          height="130"
        />
      </li>
      <li class="first-products-item">
        <img
          src="/images/mocap/homework/homework-transparent-logo.svg"
          class="hw-castom-bgc"
          alt="Home work IOS APP"
          width="130"
          height="130"
        />
      </li>
      <li class="first-products-item">
        <img
          src="/images/mocap/aiplantcoin/aiplantcoin-logo.svg"
          alt="AI plant coin identifier IOS APP"
          width="130"
          height="130"
        />
      </li>
      <li class="first-products-item">
        <img
          src="/images/mocap/auth/auth-logo.svg"
          alt="Authenticator IOS APP"
          width="130"
          height="130"
        />
      </li>
      <li class="first-products-item">
        <img
          src="/images/mocap/devicefinder/devicefinder-logo.svg"
          alt="Device finder IOS APP"
          width="130"
          height="130"
        />
      </li>
    </ul>
  </div>

  <!-- \\ -->

  <div class="second-products-list-container">
    <ul class="second-products-list" id="second-products-list">
      <li class="second-products-item">
        <img
          src="/images/mocap/callrecorder/callrecorder-logo-icon.svg"
          alt="Call recorder IOS APP"
          width="130"
          height="130"
        />
      </li>
      <li class="second-products-item">
        <img
          src="/images/mocap/qrcode/qrcode-logo-icon.svg"
          alt="QR code IOS APP"
          width="130"
          height="130"
        />
      </li>
      <li class="second-products-item">
        <img
          src="/images/mocap/bluetoothscanner/bluetoothscanner.svg"
          alt="Hidden camera IOS APP"
          width="130"
          height="130"
        />
      </li>
      <li class="second-products-item">
        <img
          src="/images/mocap/objectremoval/objectremoval-logo.svg"
          alt="Object removal IOS APP"
          width="130"
          height="130"
        />
      </li>
      <li class="second-products-item">
        <img
          src="/images/mocap/homework/homework-transparent-logo.svg"
          class="hw-castom-bgc"
          alt="Home work IOS APP"
          width="130"
          height="130"
        />
      </li>
      <li class="second-products-item">
        <img
          src="/images/mocap/aiplantcoin/aiplantcoin-logo.svg"
          alt="AI plant coin identifier IOS APP"
          width="130"
          height="130"
        />
      </li>
      <li class="second-products-item">
        <img
          src="/images/mocap/auth/auth-logo.svg"
          alt="Authenticator IOS APP"
          width="130"
          height="130"
        />
      </li>
      <li class="second-products-item">
        <img
          src="/images/mocap/devicefinder/devicefinder-logo.svg"
          alt="Device finder IOS APP"
          width="130"
          height="130"
        />
      </li>
    </ul>
  </div>

  <div class="more-products-container container">
<a href="">
  <svg class="">
    <use></use>
  </svg>
</a>
  </div>
</section>
