<section class="based-on-section">
  <div class="based-on-container container">
    <h2 class="title">Based on</h2>
    <ul class="based-on-list-container">
      <li class="based-on-item">
        <div class="based-on-box">
          <div class="based-on-title">Title</div>
          <div class="based-on-info">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi quod praesentium laboriosam esse quos cupiditate fugiat numquam itaque pariatur velit.
          </div>
      </li>
      <li class="based-on-item">
        <div class="based-on-box">
          <div class="based-on-title">Title</div>
          <div class="based-on-info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat qui, repellat similique dolore rerum maxime.</div>
      </li>
      <li class="based-on-item">
        <div class="based-on-box">
          <div class="based-on-title">Title</div>
          <div class="based-on-info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam ullam distinctio voluptates reiciendis doloribus, dignissimos ducimus nulla architecto amet assumenda expedita saepe velit. Exercitationem eveniet, distinctio molestiae consectetur qui magni?</div>
      </li>
      
      <li class="based-on-item">
        <div class="based-on-box">
          <div class="based-on-title">Title</div>
          <div class="based-on-info">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia, cum.</div>
      </li>
      <li class="based-on-item">
        <div class="based-on-box">
          <div class="based-on-title">Title</div>
          <div class="based-on-info">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, quam!</div>
      </li>

    </ul>
  </div>
</section>
