<section class="career-section">
  <div class="career-container container">
    <h5 class="title">Career</h5>
    <div class="career-wrap">
      <p class="career-text">
        If you have something exciting in mind, write us an email or any other
        messenger. We look forward to engaging with you ideas and exploring
        potential opportunities. Our doors are always open.
      </p>
      <div class="career-contacts-wrap">
        <p class="text-career">
          We're always looking for developers, marketers, designers and other
          brilliant people!
        </p>
        <p class="text-career">
          Have a partnership proposal? Leave your contacts, we will contact you
          soon!
        </p>
      </div>
    </div>
  </div>
</section>
