<section class="team-section">
  <div class="team-container container">
    <h5 class="title">Team</h5>
    <!-- <p class="team-text">
      Our team is truly amazing! We have a great knack for innovation and
      problem-solving and are always up for a challenge. <br>We are friendly,
      knowledgeable, and highly collaborative. <br>Teammates are not afraid to think
      outside the box and take risks and constantly bring fresh ideas and energy
      to the workplace. <br>Above all, we are passionate about developing
      applications that make a difference and improve users' lives.
    </p> -->
  </div>
</section>

