<section class="contacts-section">
  <div class="contacts-container container">
    <h5 class="title">Contacts</h5>

    

    <div class="contacts-social-container">
      <div class="social-container">
        <ul class="social-list">
          <li class="social-items">
            <a
              href="https://www.linkedin.com/company/echocode/about/?viewAsMember=true"
              class="social-link"
              aria-label="LinkedIn"
              >LinkedIn
              <svg class="social-link-icon" width="1" height="1">
                <use href="/icons/sprite.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>

          <li class="social-items">
            <a href="" class="social-link" aria-label="Instagram"
              >Instagram
              <svg class="social-link-icon" width="1" height="1">
                <use href="/icons/sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>

          <li class="social-items">
            <a href="" class="social-link" aria-label="Facebook"
              >Facebook
              <svg class="social-link-icon" width="1" height="1">
                <use href="/icons/sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>

          <li class="social-items">
            <a href="" class="social-link" aria-label="Telegram"
              >Telegram
              <svg class="social-link-icon" width="1" height="1">
                <use href="/icons/sprite.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>

          <li class="social-items">
            <a href="" class="social-link" aria-label="WhatsApp"
              >WhatsApp
              <svg class="social-link-icon" width="1" height="1">
                <use href="/icons/sprite.svg#icon-whatsapp"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>

      <div class="contacts-content">
        <p class="contacts-text">
          Write us by email or contact us on any available social network. You're always welcome!
        </p>

        <div class="adress-container">
          <ul class="address-list">
            <li class="social-items">
              <address>
                <a
                  href="tel:+123456789"
                  class="social-link address-flex-container"
                  aria-label="+123456789"
                  >+123456789
                  <svg class="social-link-icon" width="1" height="1">
                    <use href="/icons/sprite.svg#icon-phonelink"></use>
                  </svg>
                </a>
              </address>
            </li>

            <li class="social-items">
              <address>
                <a
                  href="mailto:example@email.com"
                  class="social-link address-flex-container"
                  aria-label="example@email.com"
                  >example@email.com
                  <svg class="social-link-icon" width="1" height="1">
                    <use href="/icons/sprite.svg#icon-email"></use>
                  </svg>
                </a>
              </address>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>


  <div class="contacts-bg-img"></div>
  
</section>
