<section class="prices-section">
  <div class="prices-container container">

    <h3>Prices</h3>

    <ul class="prices-list">

      <li class="prices-item">
        <div class="prices-item-container">
          <h4 class="service-name">Service name</h4>
          <p class="about-service">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque
            provident in dignissimos aperiam. Sequi voluptate quidem dolor
            cumque est architecto!
          </p>
          <div class="order-container">
            <p class="price">100$</p>
            <button type="button" class="order-btn">Order</button>
          </div>
        </div>
      </li>

      <li class="prices-item">
        <div class="prices-item-container">
          <h4 class="service-name">Service name</h4>
          <p class="about-service">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore quod
            cupiditate veritatis laboriosam temporibus. Enim nihil reprehenderit
            quis aperiam adipisci!
          </p>
          <div class="order-container">
            <p class="price">200$</p>
            <button type="button" class="order-btn">Order</button>
          </div>
        </div>
      </li>

      <li class="prices-item">
        <div class="prices-item-container">
          <h4 class="service-name">Service name</h4>
          <p class="about-service">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis,
            tempore?
          </p>
          <div class="order-container">
            <p class="price">500$</p>
            <button type="button" class="order-btn">Order</button>
          </div>
        </div>
      </li>

      <li class="prices-item">
        <div class="prices-item-container">
          <h4 class="service-name">Service name</h4>
          <p class="about-service">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis
            quidem voluptatibus atque distinctio, doloribus dolores!
          </p>
          <div class="order-container">
            <p class="price">666$</p>
            <button type="button" class="order-btn">Order</button>
          </div>
        </div>
      </li>

      <li class="prices-item">
        <div class="prices-item-container">
          <h4 class="service-name">Service name</h4>
          <p class="about-service">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam
            voluptate sunt autem? Possimus fugit itaque perferendis dignissimos,
            explicabo est ea!
          </p>
          <div class="order-container">
            <p class="price">1000$</p>
            <button type="button" class="order-btn">Order</button>
          </div>
        </div>
      </li>

      <li class="prices-item">
        <div class="prices-item-container">
          <h4 class="service-name">Service name</h4>
          <p class="about-service">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum
            recusandae repellendus hic minus illo facilis.
          </p>
          <div class="order-container">
            <p class="price">23000$</p>
            <button type="button" class="order-btn">Order</button>
          </div>
        </div>
      </li>

      <!-- <li class="prices-item">
        <div class="prices-item-container">
          <h4 class="service-name">Service name</h4>
          <p class="about-service">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore
            quasi, fugiat laborum laudantium rerum similique sequi nobis. Rerum,
            similique beatae?
          </p>
          <div class="order-container">
            <p class="price">10$</p>
            <button type="button" class="order-btn">Order</button>
          </div>
        </div>
      </li> -->

      <!-- <li class="prices-item">
        <div class="prices-item-container">
          <h4 class="service-name">Service name</h4>
          <p class="about-service">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis,
            praesentium?
          </p>
          <div class="order-container">
            <p class="price">333$</p>
            <button type="button" class="order-btn">Order</button>
          </div>
        </div>
      </li> -->

    </ul>
  </div>

  <div class="prices-bg-images"></div>
</section>
