/* KEYFRAMES */

@keyframes gradientFlow {
  0% {
    box-shadow: 0 0 0 3px rgba(232, 62, 140, 0.8), 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  20% {
    box-shadow: 0 0 0 3px rgba(220, 53, 69, 0.8), 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  40% {
    box-shadow: 0 0 0 3px rgba(253, 126, 20, 0.8), 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  60% {
    box-shadow: 0 0 0 3px rgba(255, 193, 7, 0.8), 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  80% {
    box-shadow: 0 0 0 3px rgba(248, 249, 250, 0.8), 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  100% {
    box-shadow: 0 0 0 3px rgba(232, 62, 140, 0.8), 0 4px 6px rgba(0, 0, 0, 0.1);
  }
}
@keyframes gradientFlowBased {
  0% {
    box-shadow: 0 0 0 2px rgba(111, 66, 193, 0.8), 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  20% {
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.8), 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  40% {
    box-shadow: 0 0 0 2px rgba(232, 62, 140, 0.8), 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  60% {
    box-shadow: 0 0 0 2px rgba(220, 53, 69, 0.8), 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  80% {
    box-shadow: 0 0 0 2px rgba(253, 126, 20, 0.8), 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  100% {
    box-shadow: 0 0 0 2px rgba(111, 66, 193, 0.8), 0 4px 6px rgba(0, 0, 0, 0.1);
  }
}

@keyframes subtlePulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.01);
  }
  100% {
    transform: scale(1);
  }
}

/* @keyframes gradientFlow {
  0% {
    border-image-source: linear-gradient(
      90deg,
      var(--pink),
      var(--danger),
      var(--red),
      var(--orange),
      var(--yellow),
      var(--light)
    );
  }
  20% {
    border-image-source: linear-gradient(
      90deg,
      var(--danger),
      var(--red),
      var(--orange),
      var(--yellow),
      var(--light),
      var(--pink)
    );
  }
  40% {
    border-image-source: linear-gradient(
      90deg,
      var(--red),
      var(--orange),
      var(--yellow),
      var(--light),
      var(--pink),
      var(--danger)
    );
  }
  60% {
    border-image-source: linear-gradient(
      90deg,
      var(--orange),
      var(--yellow),
      var(--light),
      var(--pink),
      var(--danger),
      var(--red)
    );
  }
  80% {
    border-image-source: linear-gradient(
      90deg,
      var(--yellow),
      var(--light),
      var(--pink),
      var(--danger),
      var(--red),
      var(--orange)
    );
  }
  100% {
    border-image-source: linear-gradient(
      90deg,
      var(--pink),
      var(--danger),
      var(--red),
      var(--orange),
      var(--yellow),
      var(--light)
    );
  }
} */
/* .class {
  animation: gradientFlow 5s infinite linear;
} */

/* / */

/* ======================================================= */

/* NAVIGATION */

.home-nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.nav-link {
  color: var(--white);
  font-size: var(--text-standart-font-size);
  padding: 20px;
  position: relative;
  border-radius: 30px;
  transition: var(--transition-cl);
}

.nav-link.active {
  color: var(--accnet-color);
}

.nav-link:not(.active):is(:hover, :focus) {
  color: var(--blue);
}

/* / */

/* ======================================================= */

/* HERO */

.hero-content {
  color: var(--white);
  text-align: left;
  padding-top: 90px;
}

.hero-title {
  margin: 0;
  font-size: 72px;
  text-transform: uppercase;
  font-weight: var(--title-standart-font-weight);
  background: linear-gradient(
    330deg,
    #f8f9fa 0%,
    #ffc107 25%,
    #e83e8c 50%,
    #007bff 75%,
    #20f3dd 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  color: var(--light);
}

.hero-text {
  font-size: 50px;
  max-width: 820px;
  margin-bottom: var(--margin-bottom);
  font-weight: var(--text-standart-font-weight);
  line-height: var(--text-standart-line-height);

  background: linear-gradient(
    330deg,
    #f8f9fa 0%,
    #ffc107 25%,
    #fd7e14 50%,
    #e83e8c 75%,
    #007bff 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-btn {
  font-size: 50px;
  color: var(--accnet-color);
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 30px;
  padding: 12px 24px;
  align-items: center;
  justify-content: center;
  animation: subtlePulse 2s infinite, subtleTextPulse 1.5s ease-in-out infinite;
  transition: var(--transition-bg), var(--transition-cl);
}

.hero-btn:hover {
  background: rgba(255, 255, 255, 0.15);
  color: var(--blue);
}

.hero-section {
  position: relative;
  overflow: hidden;
  z-index: 1;
  padding-bottom: 90px;
}

.hero-bg-images {
  position: absolute;
  bottom: -100px;
  right: -100px;
  width: 75%;
  height: 75%;

  background-image: url('/images/ios-banner.webp');
  background-position: bottom right;
  background-size: contain;
  background-repeat: no-repeat;

  pointer-events: none;
  z-index: -1;
  opacity: 0.5;
}

.hero-btn-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 650px;
}

.hero-scroll-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1px;
  color: var(--accnet-color);
  position: relative;
  text-decoration: none;
}

.hero-scroll-icon-top {
  opacity: 0.2;
  margin-bottom: -119px;
}

.hero-scroll-icon-top,
.hero-scroll-icon-bottom {
  fill: currentColor;
  width: 150px;
  height: 150px;
  opacity: 0.2;
  transition: var(--transition-tr), var(--transition-op);
}

.hero-scroll-icon-bottom {
  opacity: var(--opacity-standart);
}

.hero-scroll-link:hover .hero-scroll-icon-top,
.hero-scroll-link:focus .hero-scroll-icon-top {
  opacity: var(--opacity-standart);
  transform: scale(1.1);
}

.hero-scroll-link:hover .hero-scroll-icon-bottom,
.hero-scroll-link:focus .hero-scroll-icon-bottom {
  opacity: 1;
  transform: scale(1.3);
}

/* / */

/* ======================================================= */

/* BASED ON */

.based-on-container > h2 {
  text-align: center;
  background: linear-gradient(
    330deg,
    #007bff 0%,
    #6610f2 25%,
    #6f42c1 50%,
    #dc3545 75%,
    #ffc107 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.based-on-section {
  padding: 70px 0 var(--padding-section);
  background-color: #010205;
}

.video-wrapper {
  position: relative;
  overflow: hidden;
}

.based-on-list-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  padding: 10px;
  background-color: #010205;
  box-shadow: 0 20px 40px rgba(5, 11, 23, 0.8);
}

.video-wrap-based {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

#video-based {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
}

.based-on-item {
  width: calc(33.33% - 20px);
  height: 280px;
  padding: 30px;
  border-radius: 30px;
  color: white;
  backdrop-filter: blur(1px);
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 3px solid transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  cursor: pointer;

  position: relative;
  z-index: 2;
  background: transparent;

  animation: gradientFlowBased 3s infinite linear;
}

.based-on-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  overflow-y: auto;
}

.based-on-title {
  text-align: left;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  font-weight: var(--text-standart-font-weight);
  opacity: 1;
  transition: all 100ms ease;
}

.based-on-info {
  font-size: var(--text-standart-font-size);
  font-weight: var(--text-standart-font-weight);
  opacity: 0;
  transition: var(--transition-op);
  flex-grow: 1;
  overflow-y: auto;
}

.based-on-item:nth-child(1):hover {
  /* background-color: var(--purple); */
  border-color: var(--purple);
  background-color: rgba(111, 66, 193, 0.7);
}

.based-on-item:nth-child(2):hover {
  /* background-color: var(--blue); */
  border-color: var(--blue);
  background-color: rgba(0, 123, 255, 0.7);
}

.based-on-item:nth-child(3):hover {
  /* background-color: var(--pink); */
  border-color: var(--pink);
  background-color: rgba(232, 62, 140, 0.7);
}

.based-on-item:nth-child(4):hover {
  /* background-color: var(--red); */
  border-color: var(--red);
  background-color: rgba(220, 53, 69, 0.7);
}

.based-on-item:nth-child(5):hover {
  /* background-color: var(--orange); */
  border-color: var(--orange);
  background-color: rgba(253, 126, 20, 0.7);
}

.based-on-item:hover {
  background-color: transparent;
  backdrop-filter: blur(10px);
  animation: none;
  transform: scale(1.03);
}

.based-on-item:hover .based-on-info {
  opacity: 1;
  z-index: 2;
}

.based-on-item:hover .based-on-title {
  opacity: 0;
  display: none;
}

.based-on-item:hover .based-on-info {
  opacity: 1;
}

.based-on-item:nth-child(4),
.based-on-item:nth-child(5) {
  width: calc(50% - 20px);
}

/* ======================================================= */

/* PRODUCTS */
.products-section {
  padding-bottom: var(--padding-section);

  background-color: #010205;
}

.hw-castom-bgc {
  background: linear-gradient(180deg, #a066ff 29%, #e3d2ff 100%);
  border-radius: 30px;
}

.products-title {
  margin-top: 0;
  text-align: right;
  background: linear-gradient(
    330deg,
    #fd7e14 0%,
    #ffc107 20%,
    #007bff 40%,
    #6f42c1 60%,
    #6610f2 80%
  );
}

.first-products-list-container,
.second-products-list-container {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.first-products-list,
.second-products-list {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: start;
  width: max-content;
}

/* \ */
.first-products-list {
  animation: scrollFirst 50s linear infinite;
}
@keyframes scrollFirst {
  0% {
    transform: translateX(0);
  }
  99.99% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* \\ */
.second-products-list-container {
  margin-top: 15px;
}
.second-products-list {
  animation: scrollSecond 50s linear infinite;
}
@keyframes scrollSecond {
  0% {
    transform: translateX(-50%);
  }
  99.99% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0);
  }
}

.first-products-item,
.second-products-item {
  flex-shrink: 0;
}

.first-products-item img,
.second-products-item img {
  height: 150px;
  width: 150px;
  object-fit: contain;
  opacity: 0.7;
}

/* .more-products-container {
  cursor: pointer;
  display: flex;
  justify-content: right;
  gap: 1px;
  align-items: center;
  padding: 20px;
  opacity: var(--opacity-standart);
  transition: var(--transition-tr), var(--transition-op), var(--transition-cl);
}

.more-products-link {
  text-transform: uppercase;
  font-size: 36px;
  line-height: var(--text-standart-line-height);
  font-weight: var(--text-standart-font-weight);
  color: var(--light);
  transition: var(--transition-tr), var(--transition-op), var(--transition-cl);
}

.more-products-icon {
  fill: var(--accnet-color);
  width: 75px;
  height: 75px;
  opacity: var(--opacity-standart);
  transform: rotate(270deg);
  transition: var(--transition-tr), var(--transition-op), var(--transition-cl);
}

.more-products-container:hover .more-products-link,
.more-products-container:focus .more-products-link {
  color: var(--white);
  opacity: 1;
}

.more-products-container:hover .more-products-icon,
.more-products-container:focus .more-products-icon {
  fill: var(--accnet-color);
  opacity: 1;
  transform: rotate(270deg) scale(1.2);
} */


/* ======================================================= */

/* PRICES */

.prices-section {
  padding-bottom: var(--padding-section);
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.prices-bg-images {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 70%;
  height: 70%;
  background-image: url('/images/bg-img-21.png');
  background-position: bottom left;
  background-size: contain;
  background-repeat: no-repeat;
  pointer-events: none;
  opacity: 0.4;
  z-index: -1;
}

.prices-container > h4 {
  background: linear-gradient(
    330deg,
    #007bff 0%,
    #6610f2 25%,
    #6f42c1 50%,
    #dc3545 75%,
    #ffc107 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-top: 70px;
}

.prices-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 16px;
  padding: 0 0 20px 0;
  margin: 0;
}

.prices-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  border-radius: 30px;
  padding: 20px;
  height: 300px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1),
    inset 0 1px 3px rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  transition: var(--transition-tr),
    box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1),
    border-radius 300ms cubic-bezier(0.4, 0, 0.2, 1), var(--transition-cl);
  animation: gradientFlow 3s infinite linear;
}

.prices-item:hover .price {
  color: var(--red);
}

.prices-item:is(:hover, :focus) {
  transform: scale(1.01);
}

.prices-item-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.service-name {
  font-weight: var(--title-standart-font-weight);
  font-size: 32px;
  color: var(--red);
  margin: 0 auto 10px;
}

.about-service {
  margin-bottom: 10px;
  flex-grow: 1;
  overflow-y: auto;

  font-size: 18px;
  font-weight: 200;
}

.order-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.price {
  font-size: 32px;
  font-weight: bold;
  color: var(--yellow);
}

.order-btn {
  font-size: var(--text-standart-font-size);
  color: var(--yellow);
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 30px;
  padding: 12px 24px;
  width: 110px;
  max-height: 100%;
  animation: subtlePulse 2s infinite, subtleTextPulse 1.5s ease-in-out infinite;
  transition: var(--transition-bg), var(--transition-cl);
}

.order-btn:hover {
  background: rgba(255, 255, 255, 0.15);
  color: var(--red);
}

/* / */

/* ======================================================= */

/* PARTNERSHIP */

.partner-container > h5 {
  text-align: center;
  background: linear-gradient(
    330deg,
    #007bff 0%,
    #6610f2 20%,
    #6f42c1 40%,
    #dc3545 60%,
    #e83e8c 80%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.partner-section {
  padding-bottom: var(--padding-section);
}

/* / */

/* ======================================================= */

/* TEAM */

.team-container > h5 {
  text-align: right;
  background: linear-gradient(
    330deg,
    #6c757d 0%,
    #ffc107 20%,
    #20c997 40%,
    #17a2b8 70%,
    #6f42c1 90%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.team-section {
  padding-bottom: var(--padding-section);
}

/* / */

/* ======================================================= */

/* CAREER */

.career-container > h5 {
  text-align: center;
  background: linear-gradient(
    330deg,
    #007bff 0%,
    #17a2b8 20%,
    #20c997 40%,
    #ffc107 70%,
    #fd7e14 90%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.career-section {
  padding-bottom: var(--padding-section);
}

/* / */

/* ======================================================= */

/* CONTACTS */

.contacts-container > h5 {
  text-align: left;
  background: linear-gradient(
    330deg,
    #fd7e14 0%,
    #ffc107 30%,
    #28a745 50%,
    #20c997 70%,
    #17a2b8 90%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contacts-section {
  padding-bottom: var(--padding-section);
}

.contacts-social-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 90px;
}

.social-list {
  display: flex;
  align-items: center;
  justify-content: left;
  flex-direction: column;
  gap: 10px;
}

.social-link {
  color: var(--light);
}

.social-link-icon {
  fill: currentColor;
  fill: var(--light);
  color: var(--light);
  width: 60px;
  height: 60px;
}

.contacts-content {
  margin-left: auto;
}

.contacts-text {
  max-width: 500px;
  font-weight: var(--text-standart-font-weight);
  font-size: 30px;
  text-align: right;
}

/* / */

/* ======================================================= */

/* FOOTER */

.footer-text {
  font-size: 12px;
  font-weight: 200;
  text-align: center;
}

footer {
  padding-bottom: 50px;
}
