<!-- CLEANING-APP hero -->
<section class="portfolio-section cleaning-hero-section">
  <div class="portfolio-container">
    <div class="cleaning-hero-container hero-flex-container">
      <div class="cleaning-hero-wrapp hero-flex-wrapper">
        <h1 class="cleaning-hero-title">Cleaning-app</h1>

        <h2 class="cleaning-hero-subtitle hero-no-transform-h2-title">
          About a Project
        </h2>

        <p class="hero-main-text portfolio-text">
          Cleaning Service is a native iOS application developed for a cleaning
          company that connects customers with professional cleaners. The app
          allows clients to schedule cleaning services, manage payments
          securely, and communicate directly with cleaners. An admin panel
          supports full management of users, services, orders, and performance
          metrics.
        </p>
      </div>

      <div class="hero-pictures-wrapp">
        <picture class="hero-pictures hero-pictures-1">
          <source
            srcset="
              /images/cleaning/cleaning-hero-1x1.webp 1x,
              /images/cleaning/cleaning-hero-1x2.webp 2x,
              /images/cleaning/cleaning-hero-1x3.webp 3x
            "
            type="image/webp"
          />
          <img
            src="/images/cleaning/cleaning-hero-1x1.png"
            alt="Cleaning-APP menu screen"
            height="460"
          />
        </picture>
        <picture class="hero-pictures hero-pictures-2">
          <source
            srcset="
              /images/cleaning/cleaning-hero-2x1.webp 1x,
              /images/cleaning/cleaning-hero-2x2.webp 2x,
              /images/cleaning/cleaning-hero-2x3.webp 3x
            "
            type="image/webp"
          />
          <img
            src="/images/cleaning/cleaning-hero-2x1.png"
            alt="Cleaning-APP screen"
            height="460"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
<!-- CLEANING-APP hero / -->
