<!-- Implementation: -->
<section class="portfolio-pages-section semibold-flex-section">
  <div class="portfolio-container">
    <div class="cleaning-implementation-container">
      <div class="semibold-wrapp">
        <h2 class="no-transform-h2-title no-transform">Implementation</h2>

        <p class="upper-text portfolio-text">
          We started with research to define user roles and core workflows for
          both clients and cleaners. The planning phase included creating user
          stories, wireframes, and prioritizing features.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- Implementation / -->
<!-- The development phase involved: -->
<section class="portfolio-pages-section bg-blur-wrapp">
  <div class="bg-icon-blur-left"></div>
  <div class="portfolio-container">
    <div class="flex-section-container">
      <picture class="cleaning-phase-img">
        <source
          srcset="
            /images/cleaning/cleaning-main-1x.webp 1x,
            /images/cleaning/cleaning-main-2x.webp 2x,
            /images/cleaning/cleaning-main-3x.webp 3x
          "
          type="image/webp"
        />
        <img
          src="/images/cleaning/cleaning-main-1x.png"
          alt="The development phase"
          width="425"
          height="432"
        />
      </picture>

      <div class="flex-wrapp">
        <h4 class="uppercase-h4-title">The development phase involved:</h4>

        <ul class="decorate-items">
          <li class="portfolio-text">Building the backend and database</li>
          <li class="portfolio-text">
            Designing native iOS interfaces tailored for both user roles
          </li>
          <li class="portfolio-text">Integrating Stripe for secure payments</li>
          <li class="portfolio-text">
            Implementing a two-way messaging system
          </li>
          <li class="portfolio-text">
            Developing an admin panel for comprehensive user and service
            management
          </li>
          <li class="portfolio-text">
            Thorough testing across multiple iPhone models and iOS versions to
            ensure performance and compatibility
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- The development phase involved / -->
<!-- Challenges We Solved: -->
<section
  class="portfolio-pages-section cleaning-phase-section bg-reletive-wrapp"
>
  <div class="bg-portfolio-img-left-rotate"></div>
  <div class="portfolio-container">
    <h2 class="cleaning-challenges-title no-transform-h2-title no-transform">
      Challenges We Solved
    </h2>
    <div class="flex-section-container">
      <div class="flex-wrapp">
        <ul class="decorate-items cleaning-challenges-items">
          <li class="portfolio-text">
            Designing a clean, scalable UI that supports two distinct user roles
            within a single app
          </li>
          <li class="portfolio-text">
            Creating a dynamic matching system allowing cleaners to respond to
            requests and customers to select preferred cleaners
          </li>
          <li class="portfolio-text">
            Integrating secure payment and refund workflows via Stripe
          </li>
          <li class="portfolio-text">
            Managing user data visibility and access with role-based permissions
            in the admin panel
          </li>
          <li class="portfolio-text">
            Developing an admin panel for comprehensive user and service
            management
          </li>
          <li class="portfolio-text">
            Optimizing scheduling with preferred time slots for cleaners
          </li>
        </ul>
      </div>

      <picture class="cleaning-challenges-img">
        <source
          srcset="
            /images/cleaning/cleaning-main-2-1x.webp 1x,
            /images/cleaning/cleaning-main-2-2x.webp 2x,
            /images/cleaning/cleaning-main-2-3x.webp 3x
          "
          type="image/webp"
        />
        <img
          src="/images/cleaning/cleaning-main-2-1x.png"
          alt="Man's phone"
          width="425"
          height="344"
        />
      </picture>
    </div>
  </div>
</section>
<!-- Challenges We Solved / -->
