<!-- Technology Stack -->
<section class="portfolio-pages-section">
  <div class="portfolio-container">
    <h3 class="no-transform-h2-title semibold-title">Technology Stack</h3>
    <div class="features-container">
      <div class="cleaning-features-container">
        <div class="">
          <ul class="technology-items">
            <li>
              <h4 class="uppercase-h4-title features-subtitle">Platform:</h4>
              <p class="technology-decorate">Swift</p>
            </li>
            <li>
              <h4 class="uppercase-h4-title features-subtitle">Backend:</h4>
              <p class="technology-decorate">Node.js</p>
            </li>
            <li>
              <h4 class="uppercase-h4-title features-subtitle">Database:</h4>
              <p class="technology-decorate">PostgreSQL</p>
            </li>
            <li>
              <h4 class="uppercase-h4-title features-subtitle">Payment Integration:</h4>
              <p class="technology-decorate">Stripe API</p>
            </li>
            <li>
              <h4 class="uppercase-h4-title features-subtitle">Messaging:</h4>
              <p class="technology-decorate">Firebase or custom WebSocket-based system</p>
            </li>
            <li>
              <h4 class="uppercase-h4-title features-subtitle">Other tools:</h4>
              <p class="technology-decorate">Firebase Cloud Messaging (push notifications), Docker, Vercel</p>
            </li>
            <li>
              <h4 class="uppercase-h4-title features-subtitle">Admin Panel:</h4>
              <p class="technology-decorate">Next.js</p>
            </li>
            <li>
              <h4 class="uppercase-h4-title features-subtitle">Project Management:</h4>
              <p class="technology-decorate">Scrum methodology with 2-week sprints</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>






