<!-- CLEANING-APP hero -->
<section class="cleaning-hero-section bg-reletive-wrapp">
  <div class="bg-portfolio-img-left"></div>
  <div class="portfolio-container">
    <div class="cleaning-hero-container hero-flex-container">
      <div class="cleaning-hero-wrapp pages-flex-wrapper">
        <h1 class="pages-hero-title">Cleaning-app</h1>

        <div class="hero-width-wrapp">
          <h2 class="cleaning-hero-subtitle hero-no-transform-h2-title">
            About a Project
          </h2>

          <p class="pages-main-text portfolio-text">
            Cleaning Service is a native iOS application developed for a
            cleaning company that connects customers with professional cleaners.
            The app allows clients to schedule cleaning services, manage
            payments securely, and communicate directly with cleaners. An admin
            panel supports full management of users, services, orders, and
            performance metrics.
          </p>
        </div>
      </div>
      <!-- --------------------------------- -->
      <div class="pos-pictures-wrapp">
        <!-- ELLIPSE -->
        <div class="ellipse-wrapper">
          <!-- | -->
          <div class="bg-ellipse-1"></div>
          <!-- || -->
          <div class="bg-ellipse-2"></div>
        </div>
        <!-- ELLIPSE / -->
        <div class="hero-pictures-wrapp-left">
          <!-- | -->
          <div class="hero-pictures-1-wrapp">
            <!-- IPhone 16pro -->
              <img class="hero-pictures hero-phone-1"
              src="/images/portfolio/cleaners/iPhone-16-Pro.svg"
                alt="IPhone 16pro"
                width="193.4"
                height="459.47"
              />
            <!-- 🎆 -->
              <img class="hero-pictures hero-pictures-1"
                src="/images/portfolio/cleaners/Mask-group.svg"
                alt="Cleaning-APP menu screen"
                width="171.5"
                height="445.55"
              />
          </div>
        </div>
        <!-- --------------------------------- -->
        <div class="hero-pictures-wrapp-right">
          <!-- || -->
          <div class="hero-pictures-2-wrapp">
            <!-- IPhone 16pro -->
             <img class="hero-pictures hero-phone-2"
              src="/images/portfolio/cleaners/iPhone-16-Pro-right.svg"
                alt="IPhone 16pro"
                width="193.25"
                height="459.47"
              />
            <!-- 🎆 -->
              <img class="hero-pictures hero-pictures-2"
                src="/images/portfolio/cleaners/Mask-group-right.svg"
                alt="Cleaning-APP screen"
                width="171.34"
                height="445.48"
              />
          </div>
        </div>
      </div>
      <!-- --------------------------------- -->
    </div>
  </div>
</section>
<!-- CLEANING-APP hero / -->
