<!-- CLEANING-APP Project Idea -->
<section class="cleaning-idea-section">
  <div class="portfolio-container">
    <div class="cleaning-idea-container hero-flex-container">
      <div class="cleaning-idea-wrapp hero-flex-wrapper">
        <h2 class="cleaning-idea-title">Project Idea</h2>

        <p class="hero-main-text portfolio-text">
          The goal was to create a two-sided platform simplifying the booking
          process for customers and workload management for cleaners. From the
          customer perspective, the app enables quick service requests with
          transparent pricing and reliable reviews.
        </p>

        <p class="hero-main-text portfolio-text">
          From the cleaner’s side, it offers a steady flow of orders, flexible
          scheduling, and direct communication with clients.
        </p>
      </div>

      <div class="idea-pictures-wrapp">
        <picture class="idea-pictures">
          <source
            srcset="
              /images/cleaning/cleaning-idea-1x.webp 1x,
              /images/cleaning/cleaning-idea-2x.webp 2x,
              /images/cleaning/cleaning-idea-3x.webp 3x
            "
            type="image/webp"
          />
          <img
            src="/images/cleaning/cleaning-idea-1x.png"
            alt="Cleaning-APP two phones"
            height="453"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
<!-- CLEANING-APP Project Idea / -->
