<section class="portfolio-pages-section cleaning-features-section">
  <div class="portfolio-container">
    <!-- Features -->
    <h3 class="no-transform-h2-title semibold-title">Main Features of the Project</h3>
    <div class="features-container">
      <div class="decorate-flex-wrapp cleaning-features-container">
        <div class="features-wrapp">
          <h4 class="uppercase-h4-title features-subtitle">
            Admin Panel:
          </h4>
          <ul class="features-decorate-items">
            <li class="portfolio-upper-text features-decorate">Manage orders and user data</li>
            <li class="portfolio-upper-text features-decorate">Track key metrics and dashboards</li>
            <li class="portfolio-upper-text features-decorate">Edit pricing and services</li>
            <li class="portfolio-upper-text features-decorate">Moderate reviews</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Features / -->
    <!-- Tables -->
    <div class="tables-container">
      <div class="tables-wrapp">
        <!-- Clients -->
        <div class="table">
          <h5 class="table-clients table-titles">For Clients:</h5>

          <ul class="clients-items">
            <li class="clients-item">Registration and login</li>
            <li class="clients-item">Create cleaning requests with time, address, and preferences</li>
            <li class="clients-item">Price calculation</li>
            <li class="clients-item">View responses from available cleaners and choose preferred ones</li>
            <li class="clients-item">Secure in-app payment</li>
            <li class="clients-item">Rate and review service quality</li>
          </ul>
        </div>
        <!-- Cleaners -->
        <div class="table">
          <h5 class="table-cleaners table-titles">For Cleaners:</h5>

          <ul class="cleaners-items">
            <li class="cleaners-item">Set preferred work slots</li>
            <li class="cleaners-item">Browse available cleaning requests</li>
            <li class="cleaners-item">Respond to orders</li>
            <li class="cleaners-item">Communicate with clients via in-app chat</li>
            <li class="cleaners-item">Receive ratings from clients</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Tables / -->
</section>