<!-- Interactive Prototype -->
<section class="portfolio-pages-section cleaning-implementation-section">
  <div class="portfolio-container">
    <div class="cleaning-implementation-container">
      <div class="cleaning-implementation-wrapp">
        <h2 class="no-transform-h2-title no-transform prototype-title">
          Interactive Prototype
        </h2>

        <p class="cleaning-implementation-text portfolio-text">
          Explore the design in action — click through to experience how it
          works
        </p>
      </div>
    </div>
  </div>
</section>
