<!-- CLEANING-APP hero -->
<section class="portfolio-section cleaning-idea-section">
  <div class="portfolio-container">
    <div class="cleaning-idea-container">
      <div class="cleaning-idea-wrapp">
        <h2 class="cleaning-idea-title">Project Idea</h2>

        <p class="cleaning-idea-text">
          The goal was to create a two-sided platform simplifying the booking
          process for customers and workload management for cleaners. From the
          customer perspective, the app enables quick service requests with
          transparent pricing and reliable reviews.
        </p>

        <p class="cleaning-idea-text">
          From the cleaner’s side, it offers a steady flow of orders, flexible
          scheduling, and direct communication with clients.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- CLEANING-APP hero / -->
