<!-- CLEANING-APP hero -->
<section class="cleaning-hero-section bg-reletive-wrapp">
  <div class="bg-portfolio-img-left"></div>
  <div class="portfolio-container">
    <div class="cleaning-hero-container hero-flex-container">
      <div class="cleaning-hero-wrapp hero-flex-wrapper">
        <h1 class="cleaning-hero-title">Cleaning-app</h1>

        <div class="hero-width-wrapp">
          <h2 class="cleaning-hero-subtitle hero-no-transform-h2-title">
            About a Project
          </h2>

          <p class="hero-main-text portfolio-text">
            Cleaning Service is a native iOS application developed for a
            cleaning company that connects customers with professional cleaners.
            The app allows clients to schedule cleaning services, manage
            payments securely, and communicate directly with cleaners. An admin
            panel supports full management of users, services, orders, and
            performance metrics.
          </p>
        </div>
      </div>
      <!-- --------------------------------- -->
      <div class="pos-pictures-wrapp">
        <!-- ELLIPSE -->
        <div class="ellipse-wrapper">
          <!-- | -->
          <div class="bg-ellipse-1"></div>
          <!-- || -->
          <div class="bg-ellipse-2"></div>
        </div>
        <!-- ELLIPSE / -->
        <div class="hero-pictures-wrapp-left">
          <!-- | -->
          <div class="hero-pictures-1-wrapp">
            <!-- IPhone 16pro -->
            <picture class="hero-pictures hero-phone-1">
              <source
                srcset="
                  /images/screens/iPhone-16-Pro-left-1x.webp 1x,
                  /images/screens/iPhone-16-Pro-left-2x.webp 2x,
                  /images/screens/iPhone-16-Pro-left-3x.webp 3x
                "
                type="image/webp"
              />
              <img
                src="/images/screens/iPhone-16-Pro-left-1x.png"
                alt="IPhone 16pro"
                width="193.4"
                height="459.47"
              />
            </picture>
            <!-- 🎆 -->
            <picture class="hero-pictures hero-pictures-1">
              <source
                srcset="
                  /images/screens/cleaning-creen-1-1x.webp 1x,
                  /images/screens/cleaning-creen-1-2x.webp 2x,
                  /images/screens/cleaning-creen-1-3x.webp 3x
                "
                type="image/webp"
              />
              <img
                src="/images/screens/cleaning-creen-1-1x.png"
                alt="Cleaning-APP menu screen"
                width="171.5"
                height="445.55"
              />
            </picture>
          </div>
        </div>
        <!-- --------------------------------- -->
        <div class="hero-pictures-wrapp-right">
          <!-- || -->
          <div class="hero-pictures-2-wrapp">
            <!-- IPhone 16pro -->
            <picture class="hero-pictures hero-phone-2">
              <source
                srcset="
                  /images/screens/iPhone-16-Pro-right-1x.webp 1x,
                  /images/screens/iPhone-16-Pro-right-2x.webp 2x,
                  /images/screens/iPhone-16-Pro-right-3x.webp 3x
                "
                type="image/webp"
              />
              <img
                src="/images/screens/iPhone-16-Pro-right-1x.png"
                alt="IPhone 16pro"
                width="193.25"
                height="459.47"
              />
            </picture>
            <!-- 🎆 -->
            <picture class="hero-pictures hero-pictures-2">
              <source
                srcset="
                  /images/screens/cleaning-creen-2-1x.webp 1x,
                  /images/screens/cleaning-creen-2-2x.webp 2x,
                  /images/screens/cleaning-creen-2-3x.webp 3x
                "
                type="image/webp"
              />
              <img
                src="/images/screens/cleaning-creen-2-1x.png"
                alt="Cleaning-APP screen"
                width="171.34"
                height="445.48"
              />
            </picture>
          </div>
        </div>
      </div>
      <!-- --------------------------------- -->
    </div>
  </div>
</section>
<!-- CLEANING-APP hero / -->
