<!-- CLEANING-APP Project Idea -->
<section class="cleaning-idea-section idea-section bg-reletive-wrapp">
        <div class="bg-portfolio-img-right"></div>
  <div class="portfolio-container">
    <div class="cleaning-idea-container idea-flex-container">
      <!-- --------------------------------- -->
      <div class="idea-pos-pictures-wrapp">
        <!-- ELLIPSE -->
        <div class="idea-ellipse-wrapper">
          <!-- | -->
          <div class="idea-bg-ellipse-1"></div>
          <!-- || -->
          <div class="idea-bg-ellipse-2"></div>
        </div>
        <div class="idea-pictures-wrapp-left">
          <!-- | -->
          <div class="idea-pictures-1-wrapp">
            <!-- shadows -->
            <div class="shadow-left-1"></div>
            <div class="shadow-left-2"></div>
            <!-- IPhone 15pro -->
              <img class="idea-pictures idea-phone-1"
              src="/images/portfolio/cleaners/iPhone-15-Pro.svg"
                alt="IPhone 15pro"
                width="388.93"
                height="410.42"
              />
            <!-- 🎆 -->
              <img class="idea-pictures idea-pictures-1"
              src="/images/portfolio/cleaners/group-2.svg"
                alt="Cleaning-APP screen"
                width="366.17"
                height="394.12"
              />
          </div>
        </div>
        <!-- --------------------------------- -->
        <div class="idea-pictures-wrapp-right">
          <!-- || -->
          <div class="idea-pictures-2-wrapp">
            <!-- shadow -->
            <div class="shadow-right-1"></div>
            <!-- IPhone 15pro -->
              <img class="idea-pictures idea-phone-2"
              src="/images/portfolio/cleaners/iPhone-15-Pro-right.svg"
                alt="IPhone 15pro"
                width="176.72"
                height="426.44"
              />
            <!-- 🎆 -->
              <img  class="idea-pictures idea-pictures-2"
                src="/images/portfolio/cleaners/group-right.svg" 
                alt="Cleaning-APP screen"
                width="152.86"
                height="410.58"
              />
          </div>
        </div>
      </div>
      <!-- --------------------------------- -->

      <div class="width-idea-wrapp pages-flex-wrapper">
        <h2 class="cleaning-idea-title color-idea-title">Project Idea</h2>

        <p class="pages-main-text portfolio-text idea-text-top">
          The goal was to create a two-sided platform simplifying the booking
          process for customers and workload management for cleaners.<br />From
          the customer perspective, the app enables quick service requests with
          transparent pricing and reliable reviews.
        </p>

        <p class="pages-main-text portfolio-text idea-text">
          From the cleaner’s side, it offers a steady flow of orders, flexible
          scheduling, and direct communication with clients.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- CLEANING-APP Project Idea / -->
