<!-- Interactive Prototype -->
<section class="portfolio-pages-section semibold-flex-section">
  <div class="portfolio-container">
    <div class="cleaning-prototype-container">
      <div class="semibold-wrapp">
        <h2 class="no-transform-h2-title no-transform prototype-title">
          Interactive Prototype
        </h2>

        <p class="upper-text portfolio-text">
          Explore the design in action — click through to experience how it
          works
        </p>
      </div>
    </div>
  </div>
  <div class="prototype cleaning-proto">
    <iframe
      class="figma-prototype"
      src="https://embed.figma.com/proto/DSZc6u4EWXyp9DqX1F5qQr/Prototype-Cleaning?scaling=none&content-scaling=fixed&page-id=0%3A1&node-id=1-4827&starting-point-node-id=1%3A4827&embed-host=share&hide-ui=1"
      allowfullscreen
      title="Interactive prototype of the Cleaning App"
      width="361.4"
      height="746.2"
    ></iframe>
  </div>
</section>
