<!-- Implementation: -->
<section class="portfolio-pages-section semibold-flex-section lazy-section">
  <div class="portfolio-container">
    <div class="cleaning-implementation-container">
      <div class="semibold-wrapp">
        <h2 class="no-transform-h2-title no-transform">Implementation</h2>

        <p class="upper-text portfolio-text">
          We began with in-depth market research and UI analysis of top-tier
          fashion apps.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- Implementation / -->
<!-- The development phase involved: -->
<section class="portfolio-pages-section bg-blur-wrapp lazy-section">
  <div class="bg-icon-blur-left"></div>
  <div class="portfolio-container">
    <div class="phase-flex-section-container flex-section-container">
      <img
        class="cleaning-phase-img mob-img"
        src="/images/portfolio/e-commerce/e-commerce-1.svg"
        alt="The development phase"
        width="425"
        height="432"
        loading="lazy"
      />

      <div class="flex-wrapp">
        <h4 class="uppercase-h4-title">The development phase involved:</h4>

        <ul class="decorate-items strong-decorate-items">
          <li class="portfolio-text">
            <span class="phase-strong-text">UX Mapping & Wireframes:</span>
            Created detailed flows for every customer journey, supported by
            high-fidelity prototypes in Figma
          </li>
          <li class="portfolio-text">
            <span class="phase-strong-text">Design & Validation:</span> Designed
            clean, modular UI screens and tested interactions with stakeholders
          </li>
          <li class="portfolio-text">
            <span class="phase-strong-text">Agile Development:</span> Delivered
            the iOS application using two-week sprints in Scrum; covered
            onboarding, catalog, cart, and checkout features
          </li>
          <li class="portfolio-text">
            <span class="phase-strong-text">API Integration:</span> Connected to
            FedEx and DPD shipping systems, Stripe/PayPal for payments
          </li>
          <li class="portfolio-text">
            <span class="phase-strong-text">Testing & Launch:</span> Included
            functional, UI, and regression testing before release
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- The development phase involved / -->
<!-- Challenges We Solved: -->
<section
  class="portfolio-pages-section cleaning-phase-section bg-reletive-wrapp lazy-section"
>
  <div class="commerce-left-rotate"></div>
  <div class="portfolio-container">
    <h2 class="no-transform-h2-title no-transform cleaning-challenges-title">
      Challenges We Solved
    </h2>
    <div class="revert-column">
      <div class="flex-wrapp">
        <ul class="decorate-items strong-decorate-items">
          <li class="portfolio-text">
            <span class="phase-strong-text">Complex Catalog Structure:</span>
            Built a scalable, multi-level product architecture by category
            (Women, Men, Kids)
          </li>
          <li class="portfolio-text">
            <span class="phase-strong-text">UX Simplification:</span> Optimized
            interface for fast browsing, filtering, and ordering
          </li>
          <li class="portfolio-text">
            <span class="phase-strong-text">Flexible Product Management:</span>
            Designed the system to easily handle new brands, SKUs, and seasonal
            campaigns
          </li>
          <li class="portfolio-text">
            <span class="phase-strong-text">Mobile-first Design:</span>
            Delivered a clean, adaptive layout that remains intuitive across
            devices
          </li>
        </ul>
      </div>
      <img
        class="cleaning-challenges-img mob-img"
        src="/images/portfolio/e-commerce/e-commerce-2.svg"
        alt="Woman and phone"
        width="425"
        height="289"
        loading="lazy"
      />
    </div>
  </div>
</section>
<!-- Challenges We Solved / -->
