<section class="planning-section bg-blur-wrapp">
  <div class="bg-icon-blur-center"></div>
  <div class="portfolio-container">
    <h2 class="no-transform-h2-title no-transform">Planning</h2>
    <div class="decorate-flex-section-container">
      <div class="decorate-flex-wrapp cleaning-planning-container">
        <!-- | -->
        <div class="bg-decorate-wrapp cleaning-planning-wrapp">
          <h4 class="uppercase-h4-title outline-title">
            Input — The client envisioned:
          </h4>
          <ul class="bg-decorate-items cleaning-planning-items">
            <li class="portfolio-text">
              A diverse product range for all age groups
            </li>
            <li class="portfolio-text">Streamlined catalog and navigation</li>
            <li class="portfolio-text">
              Mobile-first, trend-driven design inspired by leading e-commerce
              apps
            </li>
            <li class="portfolio-text">Secure, frictionless checkout</li>
          </ul>
        </div>
        <!-- || -->
        <div class="bg-decorate-wrapp cleaning-planning-wrapp">
          <h4 class="uppercase-h4-title outline-title">Analysis — Our team:</h4>
          <ul class="bg-decorate-items cleaning-planning-items">
            <li class="portfolio-text">
              Held stakeholder workshops to define product scope and user needs
            </li>
            <li class="portfolio-text">
              Mapped customer journeys and edge cases
            </li>
            <li class="portfolio-text">
              Finalized all key UI states and screens
            </li>
            <li class="portfolio-text">
              Built an interactive prototype to simulate real user interactions
            </li>
          </ul>
        </div>
        <!-- ||| -->
        <div class="bg-decorate-wrapp cleaning-planning-wrapp">
          <h4 class="uppercase-h4-title outline-title">
            Outcomes — We delivered:
          </h4>
          <ul class="bg-decorate-items cleaning-planning-items">
            <li class="portfolio-text">
              Complete, production-ready design for the mobile app
            </li>
            <li class="portfolio-text">
              A modular UI system for future scaling
            </li>
            <li class="portfolio-text">
              All assets and specs handed off to development
            </li>
            <li class="portfolio-text">
              Integration plan for third-party services and analytics
            </li>
          </ul>
        </div>
      </div>

      <img
        src="/images/celovek-zanimausiisa-uborkoi-ofisa (2).svg"
        alt="IPhone"
        height="825"
        class="planning-img"
      />
    </div>
  </div>
</section>
