<!-- Features E-COMMERCE -->
<section class="portfolio-pages-section">
  <div class="portfolio-container">
    <!-- Features -->
    <h3 class="no-transform-h2-title semibold-title">
      Main Features of the Project
    </h3>
    <div class="features-container">
      <div class="cleaning-features-container">
        <div class="">
          <ul class="features-items">
            <li>
              <h4 class="uppercase-h4-title features-subtitle">
                Category-based catalog:
              </h4>
              <p class="technology-decorate">
                Filtered by gender, age, brand, size, and price
              </p>
            </li>
            <li>
              <h4 class="uppercase-h4-title features-subtitle">Favorites:</h4>
              <p class="technology-decorate">
                Allows users to save items and return to them later
              </p>
            </li>
            <li>
              <h4 class="uppercase-h4-title features-subtitle">
                Cart & Checkout:
              </h4>
              <p class="technology-decorate">
                Smooth and secure payment flow via Stripe and PayPal
              </p>
            </li>
            <li>
              <h4 class="uppercase-h4-title features-subtitle">
                Personal User Account:
              </h4>
              <p class="technology-decorate">
                Track orders, update info, manage preferences
              </p>
            </li>
            <li>
              <h4 class="uppercase-h4-title features-subtitle">
                Order History:
              </h4>
              <p class="technology-decorate">
                View previous purchases and order statuses
              </p>
            </li>
            <li>
              <h4 class="uppercase-h4-title features-subtitle">
                Real-time Shipping:
              </h4>
              <p class="technology-decorate">
                FedEx (US) and DPD (EU)<br>integration
              </p> 
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
