<!-- Interactive Prototype -->
<section class="prototype-pages-section">
  <div class="portfolio-container">
    <div class="cleaning-prototype-container">
      <div class="semibold-wrapp">
        <h2 class="no-transform-h2-title no-transform prototype-title">
          Interactive Prototype
        </h2>

        <p class="upper-text portfolio-text">
          Explore the design in action — click through to experience how it
          works
        </p>
      </div>
    </div>
  </div>
</section>
