<!-- CLEANING-APP Project Idea -->
<section class="commerce-idea-section bg-reletive-wrapp idea-section">
  <div class="bg-portfolio-img-right"></div>
  <div class="portfolio-container">
    <div class="cleaning-idea-container idea-flex-container">
      <!-- --------------------------------- -->
      <div class="idea-pos-pictures-wrapp">
        <!-- ELLIPSE -->
        <div class="idea-ellipse-wrapper">
          <!-- | -->
          <div class="idea-bg-ellipse-1"></div>
          <!-- || -->
          <div class="idea-bg-ellipse-2"></div>
        </div>
        <div class="idea-pictures-wrapp-left">
          <!-- | -->
          <div class="idea-pictures-1-wrapp">
            <!-- shadows -->
            <div class="shadow-left-1"></div>
            <div class="shadow-left-2"></div>
            <!-- IPhone 15pro -->
            <img
              class="idea-pictures idea-phone-1"
              src="/images/portfolio/cleaners/iPhone-15-Pro.svg"
              alt="IPhone 15pro"
              width="388.93"
              height="410.42"
              loading="lazy"
            />
            <!-- 🎆 -->
            <img
              class="idea-pictures idea-pictures-1"
              src="/images/portfolio/e-commerce/Mask-group-3.svg"
              alt="E-commerce screen"
              width="366.17"
              height="394.12"
              loading="lazy"
            />
          </div>
        </div>
        <!-- --------------------------------- -->
        <div class="idea-pictures-wrapp-right">
          <!-- || -->
          <div class="idea-pictures-2-wrapp">
            <!-- shadow -->
            <div class="shadow-right-1"></div>
            <!-- IPhone 15pro -->
            <img
              class="idea-pictures idea-phone-2"
              src="/images/portfolio/cleaners/iPhone-15-Pro-right.svg"
              alt="IPhone 15pro"
              width="176.72"
              height="426.44"
              loading="lazy"
            />
            <!-- 🎆 -->
            <img
              class="idea-pictures idea-pictures-2"
              src="/images/portfolio/e-commerce/Mask-group-4.svg"
              alt="E-commerce screen"
              width="152.86"
              height="410.58"
              loading="lazy"
            />
          </div>
        </div>
      </div>
      <!-- --------------------------------- -->

      <div class="width-idea-wrapp hero-flex-wrapper">
        <h2 class="commerce-idea-title color-idea-title">Project Idea</h2>

        <p class="pages-main-text portfolio-text idea-text-top">
          The client aimed to create a flexible and scalable mobile platform
          where customers could:
        </p>

        <ul
          class="bg-decorate-items cleaning-planning-items idea-decorate-items"
        >
          <li class="portfolio-text">
            Discover new fashion collections for all age groups
          </li>
          <li class="portfolio-text">
            Easily search, filter, and explore across brands and sizes
          </li>
          <li class="portfolio-text">
            Save favorite items and manage purchases in a few taps
          </li>
          <li class="portfolio-text">
            Enjoy a minimalistic, mobile-first interface that feels intuitive
            and engaging. The primary goal was to improve user engagement and
            drive mobile conversions.
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- CLEANING-APP Project Idea / -->
