<!-- Technology Stack -->
<section class="portfolio-pages-section lazy-section">
  <div class="portfolio-container">
    <h3 class="no-transform-h2-title semibold-title">Technology Stack</h3>
    <div class="features-container">
      <div class="cleaning-features-container">
        <div class="">
          <ul class="technology-items">
            <li>
              <h4 class="uppercase-h4-title features-subtitle">Platform:</h4>
              <p class="technology-decorate">Swift</p>
            </li>
            <li>
              <h4 class="uppercase-h4-title features-subtitle">Backend:</h4>
              <p class="technology-decorate">FedEx API, DPD API</p>
            </li>
            <li>
              <h4 class="uppercase-h4-title features-subtitle">User Auth & Database:</h4>
              <p class="technology-decorate">Firebase</p>
            </li>
            <li>
              <h4 class="uppercase-h4-title features-subtitle">Payment Integration:</h4>
              <p class="technology-decorate">Stripe PayPal</p>
            </li>
            <li>
              <h4 class="uppercase-h4-title features-subtitle">Analytics:</h4>
              <p class="technology-decorate">Google Analytics</p>
            </li>
            <li>
              <h4 class="uppercase-h4-title features-subtitle">Project Management:</h4>
              <p class="technology-decorate">Scrum methodology with 2-week sprints</p>
            </li>

          </ul>
        </div>
      </div>
    </div>
  </div>
</section>






