<!-- Implementation: -->
<section class="portfolio-pages-section semibold-flex-section">
  <div class="portfolio-container">
    <div class="cleaning-implementation-container">
      <div class="semibold-wrapp">
        <h2 class="no-transform-h2-title no-transform">Implementation</h2>

        <p class="upper-text portfolio-text">
          After initial planning and research, we moved through the following
          development stages:
        </p>
      </div>
    </div>
  </div>
</section>
<!-- Implementation / -->
<!-- The development phase involved: -->
<section class="portfolio-pages-section bg-blur-wrapp">
  <div class="bg-icon-blur-left"></div>
  <div class="portfolio-container">
    <div class="flex-section-container">
      <picture class="cleaning-phase-img">
        <source
          srcset="
            /images/food/phase-1x.webp 1x,
            /images/food/phase-2x.webp 2x,
            /images/food/phase-3x.webp 3x
          "
          type="image/webp"
        />
        <img
          src="/images/food/phase-1x.png"
          alt="The development phase"
          width="425"
          height="432"
        />
      </picture>

      <div class="flex-wrapp">
        <h4 class="uppercase-h4-title">The development phase involved:</h4>

        <ul class="decorate-items strong-decorate-items">
          <li class="portfolio-text">
            <span class="phase-strong-text">UX Design:</span> Created a clean,
            visual interface focused on menu accessibility and promotion
            visibility
          </li>
          <li class="portfolio-text">
            <span class="phase-strong-text">Agile Development: </span> Worked in
            two-week sprints, delivering incremental features with regular
            client feedback
          </li>
          <li class="portfolio-text">
            <span class="phase-strong-text">Integration:</span> Connected the
            app with the client’s internal CRM and loyalty platforms
          </li>
          <li class="portfolio-text">
            <span class="phase-strong-text">Testing & Optimization: </span
            >Performed functional, UI, and load testing across multiple devices
            and OS versions
          </li>
          <li class="portfolio-text">
            <span class="phase-strong-text">Release:</span> Finalized deployment
            to production environments, with real-time analytics via Firebase
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- The development phase involved / -->
<!-- Challenges We Solved: -->
<section
  class="portfolio-pages-section cleaning-phase-section bg-reletive-wrapp"
>
  <div class="commerce-left-rotate"></div>
  <div class="portfolio-container">
    <h2 class="cleaning-challenges-title no-transform-h2-title no-transform">
      Challenges We Solved
    </h2>

    <div class="flex-section-container">
      <div class="flex-wrapp">
        <ul class="decorate-items strong-decorate-items">
          <li class="portfolio-text">
            <span class="phase-strong-text">Loyalty System Integration: </span
            >Ensured real-time sync between in-store and in-app user bonus
            balances through API integration
          </li>
          <li class="portfolio-text">
            <span class="phase-strong-text">Content Flexibility: </span>
            Developed a modular CMS-driven system allowing non-technical staff
            to update menus and offers independently
          </li>
          <li class="portfolio-text">
            <span class="phase-strong-text">Performance Optimization: </span>
            Improved image loading speed and category filtering using lazy loading and smart caching mechanisms
          </li>
        </ul>
      </div>

      <picture class="cleaning-challenges-img">
        <source
          srcset="
            /images/food/challenges-1x.webp 1x,
            /images/food/challenges-2x.webp 2x,
            /images/food/challenges-3x.webp 3x
          "
          type="image/webp"
        />
        <img
          src="/images/food/challenges-1x.png"
          alt="Woman and phone"
          width="425"
          height="234"
        />
      </picture>
    </div>
  </div>
</section>
<!-- Challenges We Solved / -->
