<!-- Features E-COMMERCE -->
<section class="portfolio-pages-section">
  <div class="portfolio-container">
    <!-- Features -->
    <h3 class="no-transform-h2-title semibold-title">
      Main Features of the Project
    </h3>

    <div class="features-container">
      <div class="cleaning-features-container">
        <div class="">
          <ul class="features-items">
            <li>
              <h4 class="uppercase-h4-title features-subtitle">
                Visual Menu Browsing:
              </h4>
              <p class="technology-decorate">
                Categorized dishes with rich visuals and details
              </p>
            </li>
            <li>
              <h4 class="uppercase-h4-title features-subtitle">Favorites:</h4>
              <p class="technology-decorate">
                Users can save favorite items for quick reordering
              </p>
            </li>
            <li>
              <h4 class="uppercase-h4-title features-subtitle">Geolocation:</h4>
              <p class="technology-decorate">
                Detects nearby restaurants and filters results by distance
              </p>
            </li>
            <li>
              <h4 class="uppercase-h4-title features-subtitle">
                Loyalty Program:
              </h4>
              <p class="technology-decorate">
                Users track point balance,history, and rewards
              </p>
            </li>
            <li>
              <h4 class="uppercase-h4-title features-subtitle">
                Promotions & News:
              </h4>
              <p class="technology-decorate">
                Live feed of seasonal offers and announcements
              </p>
            </li>
            <li>
              <h4 class="uppercase-h4-title features-subtitle">QR Scanner:</h4>
              <p class="technology-decorate">
                Enables users to unlock offers or earn rewards in-store
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
