<!-- Technology Stack -->
<section class="portfolio-pages-section lazy-section">
  <div class="portfolio-container">
    <h3 class="no-transform-h2-title semibold-title">Technology Stack</h3>
    <div class="features-container">
      <div class="cleaning-features-container">
        <div class="">
          <ul class="technology-items">
            <li>
              <h4 class="uppercase-h4-title features-subtitle">
                Project Management:
              </h4>
              <p class="technology-decorate">
                Scrum methodology with 2-week sprints
              </p>
            </li>
            <li>
              <h4 class="uppercase-h4-title features-subtitle">Backend:</h4>
              <p class="technology-decorate">
                Integration via Loyalty Platform API
              </p>
            </li>
            <li>
              <h4 class="uppercase-h4-title features-subtitle">
                Notifications:
              </h4>
              <p class="technology-decorate">
                Firebase Cloud Messaging, Twilio
              </p>
            </li>
            <li>
              <h4 class="uppercase-h4-title features-subtitle">CMS:</h4>
              <p class="technology-decorate">
                Custom solution for menu & campaign management
              </p>
            </li>
            <li>
              <h4 class="uppercase-h4-title features-subtitle">Utilities:</h4>
              <p class="technology-decorate">QR scanning SDK</p>
            </li>
            <li>
              <h4 class="uppercase-h4-title features-subtitle">Platform:</h4>
              <p class="technology-decorate">Swift</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
