<section class="planning-section bg-blur-wrapp lazy-section">
  <div class="bg-icon-blur-center"></div>
  <div class="portfolio-container">
    <h2 class="no-transform-h2-title planning-title">Planning</h2>
    <div class="decorate-flex-section-container">
      <div class="decorate-flex-wrapp cleaning-planning-container">
        <!-- | -->

        <div class="bg-decorate-wrapp cleaning-planning-wrapp">
          <h4 class="uppercase-h4-title outline-title">
            Input — The customer had a vision for:
          </h4>
          <ul class="bg-decorate-items cleaning-planning-items">
            <li class="portfolio-text">
              A highly visual and intuitive mobile menu
            </li>
            <li class="portfolio-text">Seamless loyalty program integration</li>
            <li class="portfolio-text">Real-time promotional updates</li>
            <li class="portfolio-text">
              Geolocation-based restaurant filtering
            </li>
            <li class="portfolio-text">In-store engagement via QR codes</li>
            <li class="portfolio-text">
              Personalized notifications (push/SMS/email)
            </li>
          </ul>
        </div>
        <!-- || -->
        <div class="bg-decorate-wrapp cleaning-planning-wrapp">
          <h4 class="uppercase-h4-title outline-title">
            Analysis — Our team conducted:
          </h4>
          <ul class="bg-decorate-items cleaning-planning-items">
            <li class="portfolio-text">
              Market and competitor research focused on mobile ordering trends
            </li>
            <li class="portfolio-text">
              Stakeholder interviews and scoping workshops (6 sessions total)
            </li>
            <li class="portfolio-text">
              User journey mapping based on real in-store behaviors
            </li>
            <li class="portfolio-text">
              Persona-based wireframing for 3 distinct user profiles
            </li>
          </ul>
        </div>
        <!-- ||| -->
        <div class="bg-decorate-wrapp cleaning-planning-wrapp">
          <h4 class="uppercase-h4-title outline-title">
            Outcomes — We delivered:
          </h4>
          <ul class="bg-decorate-items cleaning-planning-items">
            <li class="portfolio-text">
              High-fidelity UI prototypes aligned with user engagement goals
            </li>
            <li class="portfolio-text">
              Technical documentation and scalable app architecture
            </li>
            <li class="portfolio-text">
              CRM and loyalty platform integration roadmap
            </li>
            <li class="portfolio-text">
              A 12-month feature roadmap including gamification and AR elements
            </li>
          </ul>
        </div>
      </div>
      <div class="planning-img">
        <img
          src="/images/portfolio/food/food-3.svg"
          alt="IOS APP"
          height="825"
          loading="lazy"
        />
      </div>
    </div>
  </div>
</section>
