<footer>
  <!-- FOOTER | -->
  <div class="footer-section">
    <div class="footer-content-wrapp">
      <!-- FOOTER || -->
      <div class="footer-inc-wrapp">
        <!-- LOGO -->
        <a href="/" class="footer-logo-link">
          <img
            src="/images/logo/print_transparent.svg"
            alt="Logo ECHOCODE.APP"
            height="100"
            class="footer-logo"
            title="Home page"
            target="_blank"
            rel="noopener noreferrer"
          />
        </a>
        <!-- © -->
        <span id="year" class="footer-text"></span>
        <p class="footer-text">Berlin - Germany</p>
        <p class="footer-text">© Echocode. All rights reserved.</p>
      </div>
      <!-- nav -->
      <nav class="footer-nav">
        <!-- | -->
        <div class="footer-nav-container footer-flex-wrapp">
          <h5 class="footer-title">navigation</h5>
          <ul class="footer-nav-list footer-list">
            <li><a href="/" class="footer-nav-link footer-link">home</a></li>
            <li>
              <a
                href="/pages/portfolio.html"
                class="footer-nav-link footer-link"
                >portfolio</a
              >
            </li>
          </ul>
        </div>
        <!-- || -->
        <div class="footer-navig-container footer-flex-wrapp">
          <h5 class="footer-title">products</h5>
          <ul class="footer-navig-list footer-list">
            <li>
              <a
                href="/pages/cleaning-app.html"
                class="footer-navig-link footer-link"
                >Cleaning-APP</a
              >
            </li>
            <li>
              <a
                href="/pages/e-commerce.html"
                class="footer-navig-link footer-link"
                >E-commerce</a
              >
            </li>
            <li>
              <a
                href="/pages/food-drink.html"
                class="footer-navig-link footer-link"
                >FOOD & DRINK</a
              >
            </li>
          </ul>
        </div>
        <!-- ||| -->
        <div class="footer-navigate-container footer-flex-wrapp">
          <h5 class="footer-title">subscribe to</h5>
          <ul class="footer-navigate-list footer-list">
            <li class="footer-social-item">
              <a
                href="http://linkedin.com/company/echocode"
                class="footer-social-link footer-link"
                aria-label="LinkedIn"
                title="Visit our LinkedIn page"
                target="_blank"
                rel="noopener noreferrer"
                >linkedin
              </a>
            </li>

            <li class="footer-social-item">
              <a
                href="http://instagram.com/echocode.app"
                class="footer-social-link footer-link"
                aria-label="Instagram"
                title="Visit our Instagram page"
                target="_blank"
                rel="noopener noreferrer"
                >instagram
              </a>
            </li>

            <li class="footer-social-item">
              <a
                href="https://t.me/echocode_app"
                class="footer-social-link footer-link"
                aria-label="Telegram"
                title="Contact us on Telegram"
                target="_blank"
                rel="noopener noreferrer"
                >telegram
              </a>
            </li>

            <li class="footer-social-item">
              <a
                href="https://wa.me/380977775973"
                class="footer-social-link footer-link"
                aria-label="WhatsApp"
                title="Contact us on WhatsApp"
                target="_blank"
                rel="noopener noreferrer"
                >whatsApp
              </a>
            </li>
          </ul>
        </div>
        <!-- IV-->
        <div class="footer-contact-container footer-flex-wrapp">
          <h5 class="footer-title">contact us</h5>
          <address>
            <ul class="footer-contact-list footer-list">
              <li>
                <a
                  class="footer-contact-link footer-link"
                  href="tel:+380977775973"
                  aria-label="Call us at +380977775973"
                  >+380977775973 ></a
                >
              </li>
              <li>
                <a
                  href="mailto:hello@echocode.app"
                  class="footer-contact-link footer-link"
                  aria-label="Email us at hello@echocode.app"
                  >hello@echocode.app></a
                >
              </li>
            </ul>
          </address>
        </div>
      </nav>
    </div>
  </div>
  <!-- FOOTER ||| -->
  <div class="sub-footer-section">
    <div class="container">
      <div class="sub-footer-container">
        <p class="sub-footer-text">
          Apple, the Apple logo, and iPad are trademarks of Apple Inc.,
          registered in the U.S. and other countries. App Store is a service
          mark of Apple Inc.
        </p>
      </div>
    </div>
  </div>
</footer>
