<footer class="section">
  <div class="footer-section container">
    <div class="footer-container">
      <!-- GITHUB of developer ✨ -->
      <!-- <a
        href="https://github.com/AnnaKotl"
        class="github-link"
        title="Visit the GitHub page of this website's developer"
        target="_blank"
        rel="noopener noreferrer"
      >
        <svg class="github-icon" width="1" height="1">
          <use href="/icons/sprite.svg#icon-github"></use>
        </svg>
      </a> -->
      <!-- ✨ / -->
      <!-- <p class="footer-text">2024</p> -->
      <footer><span id="year" class="footer-text"></span></footer>
      <a
        href="https://www.google.com/maps?q=50.4501,30.5234"
        target="_blank"
        rel="noopener noreferrer"
        class="footer-text"
      >
        Kyiv - Ukraine
      </a>
      <p class="footer-text">
        Apple, the Apple logo, and iPad are trademarks of Apple Inc., registered
        in the U.S. and other countries. App Store is a service mark of Apple
        Inc.
      </p>
    </div>
  </div>
</footer>
