<div id="preloader" class="hidden">
  <img
    src="/images/logo/fulllogo-transparent.png"
    alt="Logo"
    id="preloader-logo"
  />
</div>

<header>
  <nav class="home-nav">
    <div class="home-nav-container">
      <div class="nav-list-container">

        <div class="nav-logo-container">            
            <a href="/">
              <img
                src="/images/logo/icononly-transp.png"
                alt="logo"
                width="100"
                class="logo-nav"
                id="nav-logo"
              />
            </a>
        </div>

        <div class="burger" id="burger">
              <img 
                src="/icons/burger-menu.svg"
                alt="mobile menu"
                class="burger-icon" 
                width="30" 
                height="30"
              />
        </div>

        <div class="nav-items-container">
          <ul class="nav-list">

            <li><a href="/pages/products.html" class="nav-link">Products</a></li>

            <li><a href="/pages/portfolio.html" class="nav-link">Portfolio</a></li>

            <li><a href="/pages/prices.html" class="nav-link">Prices</a></li>

            <li><a href="/pages/partnership.html" class="nav-link">Partnership</a></li>

            <li><a href="/pages/team.html" class="nav-link">Team</a></li>

            <li><a href="/pages/career.html" class="nav-link">Career</a></li>

            <li><a href="/pages/contacts.html" class="nav-link">Contacts</a></li>

          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>