<div id="preloader" class="hidden">
  <img
    src="/images/logo/print_transparent.svg"
    alt="Logo"
    id="preloader-logo"
  />
</div>

<header>
  <nav class="home-nav container">
    <div class="home-nav-container">
      <div class="nav-list-container">
        <!-- 🍔 -->
        <div class="burger-wrapper">
          <!-- 🔺 -->
          <div class="nav-logo-container">
            <a href="/">
              <img
                src="/images/logo/icononly-transp.png"
                alt="logo"
                width="100"
                class="logo-nav"
                id="nav-logo"
              />
            </a>
          </div>
          <!-- 🍔 -->
          <div class="burger" id="burger">
            <svg class="burger-icon" width="1" height="1">
              <use href="/icons/sprite.svg#icon-menu-alt-burger"></use>
            </svg>
          </div>
        </div>
        <!-- ⛓️‍💥 -->
        <div class="nav-items-container">
          <ul class="nav-list">
            <!-- scroll -->
            <li><a href="#products" class="nav-link">Products</a></li>
            <li><a href="#prices" class="nav-link">Services</a></li>
            <li><a href="#partnership" class="nav-link">Partnership</a></li>
            <li><a href="#team" class="nav-link">Team</a></li>
            <li><a href="#career" class="nav-link">Career</a></li>
            <li><a href="#contacts" class="nav-link">Contacts</a></li>
            <!-- pages -->
            <li>
              <a href="/portfolio" class="nav-link">Portfolio</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>
