<section class="hero-section bg-blur-wrapp" id="hero">
  <div class="bg-icon-blur-left"></div>
  <div class="hero-container container">
    <div class="hero-content">
      <div class="hero-wrapper">
        <div class="hero-wrapp">
          <h1 class="hero-title">echocode.app</h1>
          <p class="hero-text">
            Specializes in the full cycle of iOS mobile app development.
          </p>
          <p class="hero-subtext">
            We handle projects of any complexity and focus – from creating a
            unique design to successfully publishing in the App Store.
          </p>
        </div>
        <div class="hero-img-wrapp">
          <img
            src="/images/hero.png"
            alt="IOS technology"
            width="400"
            class="hero-img"
          />
        </div>
        <p class="mob-hero-subtext">
          We handle projects of any complexity and focus – from creating a
          unique design to successfully publishing in the App Store.
        </p>
      </div>

      <div class="hero-btn-container">
        <button
          type="button"
          class="neon-btn large-btn mob-btn-hero js-open-modal"
        >
          Contact us
        </button>

        <a
          href="#based-on-section"
          class="hero-scroll-link js-scroll-link"
          title="Scroll to the Based on"
        >
          <svg class="hero-scroll-icon-top" width="1" height="1">
            <use href="/icons/sprite.svg#icon-ExpandFalse"></use>
          </svg>
          <svg class="hero-scroll-icon-bottom" width="1" height="1">
            <use href="/icons/sprite.svg#icon-ExpandFalse"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
  <div class="hero-bg-images"></div>
</section>
