<section class="team-section" id="team">
  <div class="team-container container">
    <div class="team-content">
      <!-- TEAM list 👩🏻‍💻👨🏼‍💻 -->
      <ul class="team-list" aria-live="polite">
        <li class="advantage">Passion</li>
        <li class="advantage">Experience</li>
        <li class="advantage">Friendly Staff</li>
        <li class="advantage">Innovation</li>
        <li class="advantage">The Best!</li>
      </ul>
      <!-- 👩🏻‍💻👨🏼‍💻 / -->
      <div class="team-bg-img"></div>
      <div class="team-description">
        <h5 class="team-title">
          Our <span class="team-title-accent">Team</span>
        </h5>
        <p class="team-text">
          We have a great knack for innovation and problem-solving and are
          always up for a challenge. We are friendly, knowledgeable, and highly
          collaborative. Above all, we are passionate about developing
          applications that make a difference and improve users' lives.
        </p>
      </div>
    </div>
  </div>
</section>
