<section class="team-section bg-blur-wrapp lazy-section" id="team">
  <div class="bg-icon-blur-left"></div>
  <div class="team-bg-img"></div>
  <div class="team-container container">
    <div class="team-wrap">
      <h5 class="team-title">
        Our <span class="team-title-accent">Team</span>
      </h5>
      <p class="team-text">
        We thrive on innovation and problem-solving, embracing every challenge
        with enthusiasm.
      </p>
    </div>

    <div class="team-video-wrapp">
      <div class="team-wrapper">
        <!-- TEAM list 👩🏻‍💻👨🏼‍💻 -->
        <ul class="team-list" aria-live="polite">
          <li class="advantage">Passion</li>
          <li class="advantage">Experience</li>
          <li class="advantage">Friendly Staff</li>
          <li class="advantage">Innovation</li>
          <li class="advantage">The Best!</li>
        </ul>
        <!-- 👩🏻‍💻👨🏼‍💻 / -->
        <div class="video-team">
          <video autoplay loop muted preload="none" id="video-team" aria-hidden="true">
            <source src="/videos/video-team.mp4" type="video/mp4" />
          </video>
        </div>
      </div>
    </div>

    <!-- <div class="team-subwrapper">
      <p class="team-subtext">
        Our team is <span>friendly</span>, <span>knowledgeable</span>, and
        <span>thrives</span> on collaboration.
      </p>
      <p class="team-subtext portfolio-upper-text">
        Above all, we are passionate about developing applications that make a
        difference and improve users' lives.
      </p>
    </div> -->
  </div>
</section>
