<section class="based-on-section section" id="based-on-section">
  <div class="based-on-container container">
    <h2 class="title">Based on</h2>

    <div class="video-wrapper">
      <div class="video-wrap-based">
        <video autoplay loop muted id="video-based" aria-hidden="true">
          <source src="/videos/video-ios-bg.mp4" type="video/mp4" />
        </video>
        <div class="video-shadow"></div>
      </div>
      <ul class="based-on-list-container">
        <li class="based-on-item">
          <div class="based-on-box">
            <div class="based-on-title">Subscription monetization</div>
            <div class="based-on-info">
              We utilize subscription-based monetization to generate consistent
              revenue for our products and services.
            </div>
          </div>
        </li>
        <li class="based-on-item">
          <div class="based-on-box">
            <div class="based-on-title">Data-driven approach</div>
            <div class="based-on-info">
              We employ a data-driven approach to make informed decisions and
              shape effective strategies.
            </div>
          </div>
        </li>
        <li class="based-on-item">
          <div class="based-on-box">
            <div class="based-on-title">Value over complexity</div>
            <div class="based-on-info">
              We prioritize delivering value over adding unnecessary complexity,
              ensuring simplicity and practicality in our applications.
            </div>
          </div>
        </li>
        <li class="based-on-item">
          <div class="based-on-box">
            <div class="based-on-title">Creativity in everything we do</div>
            <div class="based-on-info">
              Creativity drives innovation and uniqueness, forming the
              foundation of everything we develop.
            </div>
          </div>
        </li>
        <li class="based-on-item">
          <div class="based-on-box">
            <div class="based-on-title">Organic-based user acquisition</div>
            <div class="based-on-info">
              We focus on organic-based user acquisition strategies to
              sustainably grow our audience.
            </div>
          </div>
        </li>
        <li class="based-on-item">
          <div class="based-on-box">
            <div class="based-on-title">Seamless app release</div>
            <div class="based-on-info">
              Our apps are easy to release on the App Store, ensuring smooth
              updates and efficient spam prevention in their design.
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
