<section class="career-section section" id="career">
  <div class="career-container container">
    <h5 class="title">Career</h5>

    <div class="position-wrapper-career">
      <div class="career-bg-img"></div>

      <div class="career-flex-wrap">
        <address class="career-text-accent">
          If you have something exciting in mind, write us an
          <a
            href="mailto:hello@echocode.app"
            class="address-career"
            aria-label="Email us at hello@echocode.app"
            >email
          </a>
          or any other messenger.
        </address>
        <p class="career-subtext">
          We look forward to engaging with your ideas<br />and exploring potential
          opportunities.<br />Our doors are always open!
        </p>

        <div class="bottom-career-wrap">
          <p class="text-career text-career-left">
            Have a partnership proposal? Leave your contacts, we will contact
            you soon!
          </p>
          <p class="text-career text-career-right">
            We're always looking for developers, marketers, designers and other
            brilliant people!
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
