<section class="contacts-section section" id="contacts">
  <div class="contacts-container container">
    <h5 class="title">Contacts</h5>

    <div class="contacts-social-container">
      <div class="social-container">
        <ul class="social-list">
          <li class="social-item">
            <a
              href="http://linkedin.com/company/echocode"
              class="social-link"
              aria-label="LinkedIn"
              title="Visit our LinkedIn page"
              target="_blank"
              rel="noopener noreferrer"
              >LinkedIn
              <svg class="social-link-icon" width="1" height="1">
                <use href="/icons/sprite.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>

          <li class="social-item">
            <a
              href="http://instagram.com/echocode.app"
              class="social-link"
              aria-label="Instagram"
              title="Visit our Instagram page"
              target="_blank"
              rel="noopener noreferrer"
              >Instagram
              <svg class="social-link-icon" width="1" height="1">
                <use href="/icons/sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>

          <!-- <li class="social-item">
            <a href="" class="social-link" aria-label="Facebook"
        title="Visit the GitHub page of this website's developer"
        target="_blank"
        rel="noopener noreferrer"
              >Facebook
              <svg class="social-link-icon" width="1" height="1">
                <use href="/icons/sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li> -->

          <li class="social-item">
            <a
              href="https://t.me/echocode_app"
              class="social-link"
              aria-label="Telegram"
              title="Contact us on Telegram"
              target="_blank"
              rel="noopener noreferrer"
              >Telegram
              <svg class="social-link-icon" width="1" height="1">
                <use href="/icons/sprite.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>

          <li class="social-item">
            <a
              href="https://wa.me/380977775973"
              class="social-link"
              aria-label="WhatsApp"
              title="Contact us on WhatsApp"
              target="_blank"
              rel="noopener noreferrer"
              >WhatsApp
              <svg class="social-link-icon" width="1" height="1">
                <use href="/icons/sprite.svg#icon-whatsapp"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>

      <div class="contacts-content">
        <p class="contacts-text">
          Write us by email or contact us<br />on any available social network.
          <br />You're always welcome!
        </p>

        <button
          type="button"
          class="contact-btn js-open-modal medium-btn neon-btn"
        >
          Contact us
        </button>

        <div class="adress-container">
          <address>
            <ul class="address-list">
              <li class="social-item">
                <a
                  href="tel:+380977775973"
                  class="social-link address-flex-container"
                  aria-label="Call us at +380977775973"
                  >+380977775973
                  <svg class="social-link-icon" width="1" height="1">
                    <use href="/icons/sprite.svg#icon-phonelink"></use>
                  </svg>
                </a>
              </li>

              <li class="social-item">
                <a
                  href="mailto:hello@echocode.app"
                  class="social-link address-flex-container"
                  aria-label="Email us at hello@echocode.app"
                  >hello@echocode.app
                  <svg class="social-link-icon" width="1" height="1">
                    <use href="/icons/sprite.svg#icon-email"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </address>
        </div>
      </div>
    </div>
  </div>

  <div class="contacts-bg-img"></div>
</section>
