<section class="prices-section" id="prices-section">
  <div class="prices-container container" id="prices">
    <h4 class="title">Prices</h4>

    <ul class="prices-list">

      <!-- LAYOUT TEMPLATE -->

      <!-- <li class="prices-item">
        <div class="prices-item-container">
          <h4 class="service-name">Service name</h4>
          <div class="service-description">
            <p>Description</p>
          </div>
          <div class="about-service"><p>feature</p></div>
          <div class="order-container">
            <p class="price">$</p>
            <button type="button" class="order-btn">Order</button>
          </div>
        </div>
      </li> -->
      
    </ul>
  </div>

  <div class="prices-bg-images"></div>
  
</section>
