<section class="products-section">
  <div class="products-container container">
    <div class="products-title-container">
      <a href="/echoapp-front/pages/products.html" class="products-title-link">
        <h3 class="products-title title">Our products</h3>
      </a>
    </div>
  </div>

  <div class="products-wrap">
    <div class="products-list-container">
      <ul class="products-list" id="products-list">
        <!-- from backend -->
      </ul>
    </div>
    
    <!-- <div class="more-products-container container">
      <a href="/echoapp-front/pages/products.html" class="more-products-link"> see all </a>
      <svg class="more-products-icon" width="1" height="1">
        <use href="/icons/sprite.svg#icon-keyboard_arrow_down"></use>
      </svg>
    </div> -->
  </div>
</section>
