<section class="career-section" id="career">
  <div class="career-container container">
    <h5 class="title">Career</h5>
    <div class="career-wrap">
      <p class="career-text">
        If you have something exciting in mind, write us an email or any other
        messenger. We look forward to engaging with you ideas and exploring
        potential opportunities. Our doors are always open.
      </p>
      <div class="career-contacts-wrap">
        <!-- | 👩🏻‍💻 👨🏼‍💻 -->
        <div class="career-scroll-wrap">
          <p class="text-career">
            We're always looking for developers, marketers, designers and other
            brilliant people!
          </p>
          <div>
            <a
              href="#contacts-section"
              class="career-scroll-link js-scroll-link"
              title="Scroll to the Contacts"
            >
              <svg class="career-scroll-icon-top" width="100" height="100">
                <use href="/icons/sprite.svg#icon-keyboard_arrow_down"></use>
              </svg>
              <svg class="career-scroll-icon" width="100" height="100">
                <use href="/icons/sprite.svg#icon-keyboard_arrow_down"></use>
              </svg>
            </a>
          </div>
        </div>
        <!-- | 👩🏻‍💻 👨🏼‍💻 / -->
        <!-- || 👩🏻‍💻 👨🏼‍💻 -->
        <div class="career-scroll-wrap">
          <p class="text-career">
            Have a partnership proposal? Leave your contacts, we will contact
            you soon!
          </p>
          <div>
            <a
              href="#contacts-section"
              class="career-scroll-link js-scroll-link"
              title="Scroll to the Contacts"
            >
              <svg class="career-scroll-icon-top" width="100" height="100">
                <use href="/icons/sprite.svg#icon-keyboard_arrow_down"></use>
              </svg>
              <svg class="career-scroll-icon" width="100" height="100">
                <use href="/icons/sprite.svg#icon-keyboard_arrow_down"></use>
              </svg>
            </a>
          </div>
        </div>
        <!-- || 👩🏻‍💻 👨🏼‍💻 / -->
      </div>
    </div>

    <div class="career-bg-img"></div>
  </div>
</section>
