<section class="partner-section" id="partnership">
  <div class="partner-container container">
    <div class="partner-title-wrap">
      <!-- title -->
      <div class="partner-title-container">
        <h5 class="partner-title">
          <span class="partner-title-left">Fast</span> and
          <span class="partner-title-right">easy</span> growth<br />for your
          team
        </h5>
        <p class="partner-text">
          ECHOCODE.APP's door is always open to working together with you! Our
          company has a wide profile of solutions for your marketing needs.
        </p>
      </div>
      <!-- / -->
      <!-- address buttom 'EXPLORE MORE' PC -->
      <address class="partner-link-address partner-link-pc">
        <a
          class="partner-link"
          href="mailto:hello@echocode.app"
          aria-label="Email us at hello@echocode.app"
          >Explore more
        </a>
      </address>
    <!-- / -->
    </div>
    <!-- list -->
    <div class="partner-list-wrap">
      <ul class="partner-list">
        <li class="partner-item">
          <p class="partner-item-text">Our<br>budgets</p>
        </li>
        <li class="partner-item">
          <p class="partner-item-text">Revenue-sharing<br>model</p>
        </li>
        <li class="partner-item">
          <p class="partner-item-text">Organic<br>growth</p>
        </li>
        <li class="partner-item">
          <p class="partner-item-text">Marketing<br>intelligence</p>
        </li>
        <li class="partner-item">
          <p class="partner-item-text">
            Infrastructure to get<br>the job done
          </p>
        </li>
        <li class="partner-item">
          <p class="partner-item-text">
            Our grounded expertise<br>for your new heights
          </p>
        </li>
      </ul>
    </div>

    <!-- address buttom 'EXPLORE MORE' MOB -->
    <address class="partner-link-address partner-link-mob">
      <a
        class="partner-link"
        href="mailto:hello@echocode.app"
        aria-label="Email us at hello@echocode.app"
        >Explore more
      </a>
    </address>
    <!-- / -->
  </div>
</section>