<!-- CARDS -->
<section class="portfolio-section portfolio-cards-section">
  <div class="portfolio-container">
    <div class="portfolio-cards-container">
      <div class="portfolio-cards">
        <h2 class="portfolio-subtitle">Works</h2>
        <!-- | -->
        <!-- Cleaning-APP -->
        <div class="portfolio-card">
          <div class="portfolio-card-img-wrapp">
            <picture class="portfolio-card-img">
              <source
                srcset="
                  /images/portfolio/cleaning1x.webp 1x,
                  /images/portfolio/cleaning2x.webp 2x,
                  /images/portfolio/cleaning3x.webp 3x
                "
                type="image/webp"
              />
              <img
                src="/images/portfolio/cleaning1x.png"
                alt="Cleaning-APP"
                width="594"
                height="490"
              />
            </picture>
            <svg
              class="portfolio-watermark watermark-cleaning"
              width="1"
              height="1"
            >
              <use href="/icons/sprite.svg#icon-watermark"></use>
            </svg>
          </div>

          <div class="portfolio-card-wrapp">
            <h3 class="portfolio-sub-title">Cleaning-APP</h3>
            <p class="portfolio-card-text portfolio-text">
              Digitize your cleaning business with an app for
              <span class="portfolio-card-accent-text"
                >fast booking and scheduling.</span
              >
              Deliver a seamless customer journey and
              <span class="portfolio-card-accent-text"
                >grow brand loyalty.</span
              >
            </p>
            <a href="/" class="portfolio-app-link">Mobile App</a>
            <!-- 📍 ADD a LINK of APP (if it's link) -->

            <div class="portfolio-button-wrapp">
              <a href="/pages/cleaning-app.html" class="portfolio-button"
                >View more
                <svg class="portfolio-card-icon icon-true" width="1" height="1">
                  <use href="/icons/sprite.svg#icon-ExpandTrue"></use>
                </svg>
                <svg
                  class="portfolio-card-icon icon-false"
                  width="1"
                  height="1"
                >
                  <use href="/icons/sprite.svg#icon-ExpandFalse"></use>
                </svg>
              </a>
            </div>
          </div>
        </div>
        <!-- || -->
        <!-- E-commerce -->
        <div class="portfolio-card">
          <div class="portfolio-card-wrapp">
            <h3 class="portfolio-sub-title">E-commerce</h3>
            <p class="portfolio-card-text portfolio-text">
              Boost your sales with a smart online shop.
              <span class="portfolio-card-accent-text">Grow your reach</span>
              and make shopping simple and engaging.
            </p>
            <a href="/" class="portfolio-app-link">Mobile App</a>
            <!-- 📍 ADD a LINK of APP (if it's link) -->

            <div class="portfolio-button-wrapp">
              <a href="/pages/e-commerce.html" class="portfolio-button"
                >View more
                <svg class="portfolio-card-icon icon-true" width="1" height="1">
                  <use href="/icons/sprite.svg#icon-ExpandTrue"></use>
                </svg>
                <svg
                  class="portfolio-card-icon icon-false"
                  width="1"
                  height="1"
                >
                  <use href="/icons/sprite.svg#icon-ExpandFalse"></use>
                </svg>
              </a>
            </div>
          </div>
          <div class="portfolio-card-img-wrapp">
            <picture class="portfolio-card-img">
              <source
                srcset="
                  /images/portfolio/ecommerce1x.webp 1x,
                  /images/portfolio/ecommerce2x.webp 2x,
                  /images/portfolio/ecommerce3x.webp 3x
                "
                type="image/webp"
              />
              <img
                src="/images/portfolio/ecommerce1x.png"
                alt="E-commerce"
                width="594"
                height="490"
              />
            </picture>
            <svg
              class="portfolio-watermark watermark-ecommerce"
              width="1"
              height="1"
            >
              <use href="/icons/sprite.svg#icon-watermark"></use>
            </svg>
          </div>
        </div>
        <!-- ||| -->
        <!-- FOOD & DRINK -->
        <div class="portfolio-card">
          <div class="portfolio-card-img-wrapp">
            <picture class="portfolio-card-img">
              <source
                srcset="
                  /images/portfolio/food1x.webp 1x,
                  /images/portfolio/food2x.webp 2x,
                  /images/portfolio/food3x.webp 3x
                "
                type="image/webp"
              />
              <img
                src="/images/portfolio/food1x.png"
                alt="FOOD & DRINK"
                width="594"
                height="490"
              />
            </picture>
            <svg
              class="portfolio-watermark watermark-food"
              width="1"
              height="1"
            >
              <use href="/icons/sprite.svg#icon-watermark"></use>
            </svg>
          </div>

          <div class="portfolio-card-wrapp">
            <h3 class="portfolio-sub-title">FOOD & DRINK</h3>
            <p
              class="portfolio-card-text portfolio-text portfolio-card-text-food"
            >
              Strengthen your restaurant or delivery service with an app for
              <span class="portfolio-card-accent-text"
                >orders and tracking.</span
              >Offer clients a<span class="portfolio-card-accent-text"
                >smooth experience</span
              >that drives repeat business.
            </p>
            <a href="/" class="portfolio-app-link">Mobile App</a>
            <!-- 📍 ADD a LINK of APP (if it's link) -->

            <div class="portfolio-button-wrapp">
              <a href="/pages/food-drink.html" class="portfolio-button"
                >View more
                <svg class="portfolio-card-icon icon-true" width="1" height="1">
                  <use href="/icons/sprite.svg#icon-ExpandTrue"></use>
                </svg>
                <svg
                  class="portfolio-card-icon icon-false"
                  width="1"
                  height="1"
                >
                  <use href="/icons/sprite.svg#icon-ExpandFalse"></use>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- cards / -->
