<!-- CARDS -->
<section class="portfolio-section bg-blur-wrapp lazy-section">
  <div class="bg-icon-blur-left"></div>
  <div class="portfolio-container">
    <div class="portfolio-cards-container">
      <h2 class="portfolio-subtitle margine-bottom">Works</h2>
      <!-- | -->
      <!-- Cleaning-APP -->
      <div class="portfolio-card">
        <div class="portfolio-card-img-wrapp">
          <img
            class="portfolio-card-img portfolio-bgc-img"
            src="/images/portfolio/portfolio-1.jpg"
            alt="Cleaning-APP"
            width="594"
            height="490"
          />
          <svg
            class="portfolio-watermark watermark-cleaning"
            width="1"
            height="1"
          >
            <use href="/icons/sprite.svg#icon-watermark"></use>
          </svg>
        </div>

        <div class="portfolio-card-wrapp">
          <h3 class="portfolio-sub-title">Cleaning-APP</h3>
          <p class="portfolio-card-text portfolio-text">
            Digitize your cleaning business with an app for
            <span class="portfolio-card-accent-text">
              fast booking and scheduling.</span
            >
            Deliver a seamless customer journey and
            <span class="portfolio-card-accent-text"> grow brand loyalty.</span>
          </p>
          <p class="portfolio-app-link">Mobile App</p>
          <!-- 📍 ADD a LINK of APP (if it's link) -->

          <div class="portfolio-button-wrapp">
            <a
              href="/pages/cleaning-app.html"
              class="portfolio-button standart-button"
              >View more
              <svg class="portfolio-card-icon icon-true" width="1" height="1">
                <use href="/icons/sprite.svg#icon-ExpandTrue"></use>
              </svg>
              <svg class="portfolio-card-icon icon-false" width="1" height="1">
                <use href="/icons/sprite.svg#icon-ExpandFalse"></use>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- cards / -->

<!-- || -->
<!-- E-commerce -->
<section class="portfolio-section bg-blur-wrapp lazy-section">
  <div class="bg-icon-blur-right"></div>
  <div class="portfolio-container">
    <div class="portfolio-card column-reverse-wrapp">
      <div class="portfolio-card-wrapp">
        <h3 class="portfolio-sub-title">E-commerce</h3>
        <p class="portfolio-card-text portfolio-text">
          Boost your sales with a smart online shop.
          <span class="portfolio-card-accent-text"> Grow your reach </span>
          and make shopping simple and engaging.
        </p>
        <p class="portfolio-app-link">Mobile App</p>
        <!-- 📍 ADD a LINK of APP (if it's link) -->

        <div class="portfolio-button-wrapp">
          <a
            href="/pages/e-commerce.html"
            class="portfolio-button standart-button"
            >View more
            <svg class="portfolio-card-icon icon-true" width="1" height="1">
              <use href="/icons/sprite.svg#icon-ExpandTrue"></use>
            </svg>
            <svg class="portfolio-card-icon icon-false" width="1" height="1">
              <use href="/icons/sprite.svg#icon-ExpandFalse"></use>
            </svg>
          </a>
        </div>
      </div>
      <div class="portfolio-card-img-wrapp">
        <img
          class="portfolio-card-img portfolio-bgc-img"
          src="/images/portfolio/portfolio-2.jpg"
          alt="E-commerce"
          width="594"
          height="490"
          loading="lazy"
        />
        <svg
          class="portfolio-watermark watermark-ecommerce"
          width="1"
          height="1"
        >
          <use href="/icons/sprite.svg#icon-watermark"></use>
        </svg>
      </div>
    </div>
  </div>
</section>

<!-- ||| -->
<!-- FOOD & DRINK -->
<section class="portfolio-section padding-bottom-section bg-blur-wrapp lazy-section">
  <div class="bg-icon-blur-left"></div>
  <div class="portfolio-container">
    <div class="portfolio-card">
      <div class="portfolio-card-img-wrapp">
        <img
          class="portfolio-card-img portfolio-bgc-img"
          src="/images/portfolio/portfolio-3.jpg"
          alt="FOOD & DRINK"
          width="594"
          height="490"
          loading="lazy"
        />

        <svg class="portfolio-watermark watermark-food" width="1" height="1">
          <use href="/icons/sprite.svg#icon-watermark"></use>
        </svg>
      </div>

      <div class="portfolio-card-wrapp">
        <h3 class="portfolio-sub-title">FOOD & DRINK</h3>
        <p class="portfolio-card-text portfolio-text">
          Strengthen your restaurant or delivery service with an app for
          <span class="portfolio-card-accent-text"> orders and tracking. </span
          >Offer clients a<span class="portfolio-card-accent-text">
            smooth experience </span
          >that drives repeat business.
        </p>
        <p class="portfolio-app-link">Mobile App</p>
        <!-- 📍 ADD a LINK of APP (if it's link) -->

        <div class="portfolio-button-wrapp">
          <a
            href="/pages/food-drink.html"
            class="portfolio-button standart-button"
            >View more
            <svg class="portfolio-card-icon icon-true" width="1" height="1">
              <use href="/icons/sprite.svg#icon-ExpandTrue"></use>
            </svg>
            <svg class="portfolio-card-icon icon-false" width="1" height="1">
              <use href="/icons/sprite.svg#icon-ExpandFalse"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
