<section class="running-line-section">
  <h5 class="visually-hidden">Running line with technologi</h5>
  <div class="running-container container">
    <!-- running line -->
    <ul class="running-list" id="running-list">
      <!-- Apple -->
      <li class="running-item">
        <div class="running-img-container">
          <img
            src="/images/frames/apple.png"
            alt="Apple"
            class="running-img"
            height="100"
            width="100"
          />
        </div>
      </li>
      <!-- OppenAI -->
      <li class="running-item">
        <div class="running-img-container">
          <img
            src="/images/frames/openai.png"
            alt="OppenAI"
            class="running-img"
            height="100"
            width="100"
          />
        </div>
      </li>
      <!-- Adapty -->
      <li class="running-item">
        <div class="running-img-container">
          <img
            src="/images/frames/adapty.png"
            alt="Adapty"
            class="running-img"
            height="100"
            width="100"
          />
        </div>
      </li>
      <!-- Adjust -->
      <li class="running-item">
        <div class="running-img-container">
          <img
            src="/images/frames/adjust.png"
            alt="Adjust"
            class="running-img"
            height="100"
            width="100"
          />
        </div>
      </li>
      <!-- AppHub -->
      <li class="running-item">
        <div class="running-img-container">
          <img
            src="/images/frames/apphub.png"
            alt="AppHub"
            class="running-img"
            height="100"
            width="100"
          />
        </div>
      </li>
      <!-- AppsFlyer -->
      <li class="running-item">
        <div class="running-img-container">
          <img
            src="/images/frames/appsflyer.png"
            alt="AppsFlyer"
            class="running-img"
            height="100"
            width="100"
          />
        </div>
      </li>
      <!-- Pushwoosh -->
      <li class="running-item">
        <div class="running-img-container">
          <img
            src="/images/frames/pushwoosh.png"
            alt="GoPushwooshogle"
            class="running-img"
            height="100"
            width="100"
          />
        </div>
      </li>
      <!-- RevenueCat -->
      <li class="running-item">
        <div class="running-img-container">
          <img
            src="/images/frames/revenue-cat.png"
            alt="RevenueCat"
            class="running-img"
            height="100"
            width="100"
          />
        </div>
      </li>
      <!-- Firebase -->
      <li class="running-item">
        <div class="running-img-container">
          <img
            src="/images/frames/firebase.png"
            alt="Firebase"
            class="running-img"
            height="100"
            width="100"
          />
        </div>
      </li>
      <!-- OneSignal -->
      <li class="running-item">
        <div class="running-img-container">
          <img
            src="/images/frames/onesignal.png"
            alt="OneSignal"
            class="running-img"
            height="100"
            width="100"
          />
        </div>
      </li>
      <!-- Google -->
      <li class="running-item">
        <div class="running-img-container">
          <img
            src="/images/frames/google.png"
            alt="Google"
            class="running-img"
            height="100"
            width="100"
          />
        </div>
      </li>

      <!-- running line || -->
      <!-- Apple -->
      <li class="running-item">
        <div class="running-img-container">
          <img
            src="/images/frames/apple.png"
            alt="Apple"
            class="running-img"
            height="100"
            width="100"
          />
        </div>
      </li>
      <!-- OppenAI -->
      <li class="running-item">
        <div class="running-img-container">
          <img
            src="/images/frames/openai.png"
            alt="OppenAI"
            class="running-img"
            height="100"
            width="100"
          />
        </div>
      </li>
      <!-- Adapty -->
      <li class="running-item">
        <div class="running-img-container">
          <img
            src="/images/frames/adapty.png"
            alt="Adapty"
            class="running-img"
            height="100"
            width="100"
          />
        </div>
      </li>
      <!-- Adjust -->
      <li class="running-item">
        <div class="running-img-container">
          <img
            src="/images/frames/adjust.png"
            alt="Adjust"
            class="running-img"
            height="100"
            width="100"
          />
        </div>
      </li>
      <!-- AppHub -->
      <li class="running-item">
        <div class="running-img-container">
          <img
            src="/images/frames/apphub.png"
            alt="AppHub"
            class="running-img"
            height="100"
            width="100"
          />
        </div>
      </li>
      <!-- AppsFlyer -->
      <li class="running-item">
        <div class="running-img-container">
          <img
            src="/images/frames/appsflyer.png"
            alt="AppsFlyer"
            class="running-img"
            height="100"
            width="100"
          />
        </div>
      </li>
      <!-- Pushwoosh -->
      <li class="running-item">
        <div class="running-img-container">
          <img
            src="/images/frames/pushwoosh.png"
            alt="GoPushwooshogle"
            class="running-img"
            height="100"
            width="100"
          />
        </div>
      </li>
      <!-- RevenueCat -->
      <li class="running-item">
        <div class="running-img-container">
          <img
            src="/images/frames/revenue-cat.png"
            alt="RevenueCat"
            class="running-img"
            height="100"
            width="100"
          />
        </div>
      </li>
      <!-- Firebase -->
      <li class="running-item">
        <div class="running-img-container">
          <img
            src="/images/frames/firebase.png"
            alt="Firebase"
            class="running-img"
            height="100"
            width="100"
          />
        </div>
      </li>
      <!-- OneSignal -->
      <li class="running-item">
        <div class="running-img-container">
          <img
            src="/images/frames/onesignal.png"
            alt="OneSignal"
            class="running-img"
            height="100"
            width="100"
          />
        </div>
      </li>
      <!-- Google -->
      <li class="running-item">
        <div class="running-img-container">
          <img
            src="/images/frames/google.png"
            alt="Google"
            class="running-img"
            height="100"
            width="100"
          />
        </div>
      </li>
    </ul>
    <!-- / -->
  </div>
</section>
